<form id="editIPSecForm" >
    <table border="0" class="custom-table" ms-controller="ipsecEditWindow">
        <tr>
            <td class="required">名称：</td>
            <td>
                <input id="IPSecName" type="text" ms-duplex="addIPSecData['IPSecName']" name="IPSecName" style="width:220px" class="input text-small radius-none">
            </td>
        </tr>
        <tr>
            <td>描述：</td>
            <td>
                <input id="IPSecdesc" type="text" ms-duplex="addIPSecData['IPSecdesc']" name="IPSecdesc" style="width:220px" class="input text-small radius-none">
            </td>
        </tr>
        <tr>
            <td>授权算法：</td>
            <td>
                <select class="select radius-none" style="width:220px" name="IPSecAlgorithm" ms-duplex="addIPSecData['IPSecAlgorithm']">
                    <option selected="selected" value="sha1">sha1</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>封装模式：</td>
            <td>
                <select class="select radius-none" style="width:220px" >
                    <option selected="selected" value="tunnel">tunnel</option>
                    <option value="transport">transport</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>加密算法：</td>
            <td>
                <select class="select radius-none" style="width:220px" name="IPSecEncryption" ms-duplex="addIPSecData['IPSecEncryption']">
                    <option  value="3des">3des</option>
                    <option selected="selected" value="aes-128">aes-128</option>
                    <option value="aes-192">aes-192</option>
                    <option  value="aes-256">aes-256</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>生存期单位：</td>
            <td>
                <select class="select radius-none" style="width:220px">
                    <option selected="selected"  value="seconds">seconds</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>IPSec密钥的生存期值：</td>
            <td>
                <input type="number" value="3600"  style="width:220px" class="input text-small radius-none">
            </td>
        </tr>
        <tr>
            <td>完美前传保密：</td>
            <td>
                <select class="select radius-none" style="width:220px" name="IPSecPfs" ms-duplex="addIPSecData['IPSecPfs']">
                    <option   value="group2">group2</option>
                    <option selected="selected"  value="group5">group5</option>
                    <option   value="group14">group14</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>转换协议：</td>
            <td>
                <select class="select radius-none" style="width:220px">
                    <option selected="selected"  value="esp">esp</option>
                    <option   value="esp">ah</option>
                    <option   value="ah-esp">ah-esp</option>
                </select>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    require(["app-modules/console/vpc/vmodel/ipsec-edit"],function(ipsecEdit){
        // 初始化数据
        ipsecEdit.addIPSecData = avalon.vmodels.VPNMgt.editIPSecData;
        ipsecEdit.initValidator();
        avalon.scan();
    });
</script>