<form id="editPnForm" >
    <table border="0" class="custom-table" ms-controller="pnEditWindow">
        <tr>
            <td class="required">专有网络名称：</td>
            <td>
                <input type="text" ms-duplex="editPnData['vpcName']" name="pnName" style="width:220px" class="input text-small radius-none">
                <p class="description text-gray" style="width: 220px">名称为2-128个字符，以大写字母或中文开头，可包含数字，"-"或"_"</p> 
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">描述：</td> 
            <td>
                <textarea rows="2" id="description" class="input text-small radius-none" style="width:220px" ms-duplex="editPnData['description']" placeholder="">
                    
                </textarea>
                <p class="description text-gray" style="width: 220px">描述可以为空，或填写2-128个中英文字符，不能以http://或https://开头</p>
            </td>
        </tr>
        <tr>
            <td class="required">网段：</td>
            <td>
                <select class="select radius-none" disabled="disabled" name="segmentNetwork" ms-duplex="editPnData['cidr']"style="width:220px">
                    <option selected="selected" value="">--请选择网段--</option>
                    <option value="192.168.0.0/24">192.168.0.0/24</option>
                    <option value="10.0.0.0/24">10.0.0.0/24</option>
                </select>
                <p class="description warning" style="width: 220px">一旦创建成功，网段不能修改</p>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    require(["app-modules/console/vpc/vmodel/pn-edit"],function(pnEdit){
        // 初始化数据
        pnEdit.editPnData = avalon.vmodels.pnMgt.eidtPnData;
        pnEdit.initValidator();
        avalon.scan();
    });     
</script>