<form id="elasticipForm">
    <table border="0" class="custom-table" ms-controller="addElasticipWindow">
        <tr>
            <td>IP地址：</td>
            <td>
                <input id="mName"  ms-value="data['vmIp']" class="input text-small radius-none" type="text " name="mName" disabled="disabled">
            </td>
        <tr>
            <td class="required">实例类型：</td>
            <td>
                <select class="select radius-none " style="width:150px">
                    <option>云主机</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="required">云主机：</td>
            <td>
                <select id="hostValue" name="hostValue"  class="select radius-none" style="width: 150px">
                    <option  selected="selected" value="">请选择云主机</option>
                    <!--<option value="1">云主机1</option>-->
                    <option  ms-repeat-el="hostData" ms-value='el.instanceSid'>{{el.instanceName}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="required">云主机IP：</td>
            <td>
                <select id="vmIp" class="select radius-none " style="width:150px">
                    <option ms-repeat-el="hostIpData" ms-value='el.vmIp'>{{el.vmIp}}</option>
                </select>
            </td>
        </tr>
        <tr class="hidden">
            <td class="required">：</td>
            <td>
                <select id="resNetworkSid" class="select radius-none " style="width:150px">
                    <option ms-repeat-el="hostIpData" ms-value='el.resNetworkSid'>{{el.resNetworkSid}}</option>
                </select>
            </td>
        </tr>
        <tr class="hidden">
            <td class="required">：</td>
            <td>
                <select id="resVmSid" class="select radius-none " style="width:150px">
                    <option ms-repeat-el="hostIpData" ms-value='el.resSid'>{{el.resSid}}</option>
                </select>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    require(["app-modules/console/elasticPublic/vmodel/elasticip-add",'app-utils/codeService'], function (obj,code) {
        obj.hostData = code.getCustomCode("/eip/getInstanceForFloatingip","POST",{serviceSid:"100"});
        obj.hostIpData=[];
        obj.data = avalon.vmodels.consoleElasticIPMgt.addelasticipData;
        obj.getIp();
        obj.initValidator();
        avalon.scan();
    });
</script>
