<!--提醒设置页面-->
<div ms-controller="userConfig">
    <div class="xs12 margin-small-bottom top-height">
        <div class="xs8">
            <div class="float-left text-large">{{title}}</div>
        </div>
    </div>
    <hr/>
    <div class="xs12 alert alert-blue radius-none margin-bottom">
        <span class="close rotate-hover"></span>
        <strong>注意：</strong>设置是否接收资源的到期提醒信息
    </div>
    <div class="xs12">
        <table class="custom-table" border="0">
            <tr style="line-height: 50px;">
                <td class="text-right">邮件提醒：</td>
                <td class="button-group" id="email_remind">
                    <label class="button radius-none text-blue" ms-click="emailRemindYes(this)">
                        <input value="yes"><span class="icon icon-check"></span> 是
                    </label>
                    <label class="button radius-none" ms-click="emailRemindNo(this)">
                        <input value="no"><span class="icon icon-times"></span> 否
                    </label>
                </td>
            </tr>
            <tr>
                <td class="text-right">短信提醒：</td>
                <td class="button-group" id="short_message_remind">
                    <label class="button radius-none text-blue" ms-click="phoneRemindYes(this)">
                        <input value="yes"><span class="icon icon-check"></span> 是
                    </label>
                    <label class="button radius-none" ms-click="phoneRemindNo(this)">
                        <input value="no"><span class="icon icon-times"></span> 否
                    </label>
                </td>
            </tr>
            <tr style="line-height: 60px;">
                <td></td>
                <td>
                    <button type="button" class="button bg-blue radius-none" ms-click="btn_submit()">提交</button>
                </td>
            </tr>
        </table>

    </div>
</div>
