
<div ms-controller="userSmrz">
    <div class="xs12 margin-small-bottom top-height">
        <div class="xs8">
            <div class="float-left text-large">实名认证</div>
        </div>
        <div class="xs4"></div>
    </div>
    <hr>
    <form method="post" onsubmit="return false;" id="ajaxForm">
        <div id="smrzwtj">
            <table class="custom-table " border="0" id="usertypec">
                <tr>
                    <td for="usertype"><span style="color: red">*</span>
                        用户类型：
                    </td>
                    <td class="button-group radio border-blue" id="usertype">
                        <label class="button active radius-none" id="suser" style="height: 33px">
                            <input name="enterprise" checked="checked" type="radio">个人用户
                        </label>
                        <label class="button radius-none" id="cuser" style="height: 33px">
                            <input name="enterprise" type="radio">企业用户
                        </label>
                    </td>
                </tr>
            </table>
            <div>
                <table class="custom-table " id="susermodle" border="0">
                    <tr class="form-group">
                        <td for="usertype"><span style="color: red">*</span>
                            身份证号：
                        </td>
                        <td class="field">
                            <input id="uidnum" style="width: 200px" class="input radius-none" type="text" name="uidnum"
                                   data-validate="required:不能为空,idcard:请填写正确的身份证号">
                        </td>
                    </tr>
                    <tr class="form-group"  >
                        <td for="usertype"><span style="color: red">*</span>
                            身份证号扫描件：
                        </td>
                        <td class="field">
                            <input style="width: 200px" id="loadimg" name="loadimg" multiple="multiple" type="file"
                                   data-validate="required:不能为空"/>
                        </td>
                    </tr>
                    <tr>
                    <tr class="form-button">
                        <td>

                        </td>
                        <td>
                            <button class="button bg-blue radius-none" id="smrztj" type="submit">
                                提交
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="text-blue text-center hidden" id="tjsmrz">
            尊敬的用户，您的实名认证已提交，我们会在三个工作日内给您完成审核！
        </div>
    </form>
    <form method="post" onsubmit="return false;" id="cxmrz">
        <div>
            <table class="custom-table hidden" id="cusermodle" border="0">
                <tr class="form-group">
                    <td for="idnum"><span style="color: red">*</span>
                        身份证号：
                    </td>
                    <td class="field">
                        <input id="idnum" style="width: 200px" class="input radius-none" type="text" name="uidnum"
                               data-validate="required:不能为空,idcard:请填写正确的身份证号">
                    </td>
                </tr>
                <tr class="form-group">
                    <td for="busnum" style="line-height: 35px"><span style="color: red">*</span>
                        营业执照号：
                    </td>
                    <td class="field">
                        <input id="busnum" style="width: 200px" class="input radius-none" type="text" name="uidnum"
                               data-validate="required:不能为空">
                    </td>
                </tr>
                <tr class="form-group">
                    <td for="cloadimg"><span style="color: red">*</span>
                        身份证扫描件：
                    </td>
                    <td class="field">
                        <input  style="width: 200px" id="cloadimg" name="loadimg" multiple="multiple" type="file"
                               data-validate="required:不能为空"/>
                    </td>
                </tr>
                <tr class="form-group">
                    <td for="cloadimgc"><span style="color: red">*</span>
                        证件照扫描件：
                    </td>
                    <td class="field">
                        <input style="width: 200px" id="cloadimgc" name="loadimg" multiple="multiple" type="file"
                               data-validate="required:不能为空"/>
                    </td>
                </tr>
                <tr class="form-button">
                    <td>

                    </td>
                    <td>
                        <button class="button bg-blue radius-none" id="csmrztj" type="submit">
                            提交
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-blue text-center hidden" id="ctjsmrz">
            尊敬的用户，您的实名认证已提交，我们会在三个工作日内给您完成审核！
        </div>
    </form>
</div>