<style>
	.list-media.list-underline li {
		padding-bottom: 15px;
		border-bottom: solid 1px gray;
		line-height: inherit;
	}
    #bsAnamite {
        position: absolute;
        top: 80px;
        left: 200px;
        background: #ccc;
        width: 300px;
        height: 300px;
        z-index: 99999999;
        opacity: 0.6;
        display: none;
    }
</style>
<script type="text/javascript">
     require(['app-utils/codeService',"app-modules/user-center/orderMgt/vmodel/order-blockStorage","lib/jquery/pintuer",'avalon'],function(code,orderBs,pintuer){
         // 初始化价格
         orderBs.initFormData();
         // 清空订单数据
         orderBs.orderCbsHistoryData = [];
			$("#cbsRange").ionRangeSlider({
                grid: true,
                min: 1,
                max: 500,
                from: 10,
                step: 10,
                grid_num: 5,
                hide_min_max:true,
                prettify_enabled: false,
			    onChange: function (data) {
			    	$("#cbsRangeValue").val(data.from);
                    orderBs.calculationPrice();
			    },
	    	});
            $('#shoppingServer').initShopping();
            pintuer.init();
            avalon.scan();
     });
     function del(divname){
         $('#shoppingServer').removeShopping(divname);
     }
</script>
<div ms-controller="orderBsPage" class="x12">
	<div class="line-big" id="orderDg">
        <div class="xs12 " style=" ">
            <div class="">
                <div class="form-x form-auto xs8 border">
                   <div class="form-group margin-left text-center" style="margin-top:20px;">
                        <div class="xs2 text-right text-small" style="margin-top:5px;">
                            <label>
                                	地域分区：
                            </label>
                        </div>
                        <div class="text-left ">
                            <div>
                        		<span>
                        		  <select class=" select radius-none " ms-duplex="regionValue" style="width:100px" name="areaDBBig" id="areaDBBig">
                                      <!--<option ms-value=null>全部</option>-->
                                      <option ms-repeat-el="regionData" ms-value='el.resTopologySid'>{{el.resTopologyName}}</option>
                                  </select>
								</span>
                        		<span>
                        			<select class=" select radius-none " ms-duplex="zoneValue" style="width:200px" name="areaDBSmall" id="areaDBSmall">
                                        <option ms-repeat-el="zoneData" ms-value='el.resTopologySid'>{{el.resTopologyName}}</option>
                                    </select>
								</span>
                            </div>
        				</div>
                    </div>
					<hr>
                     <div class="form-group margin-left " style="margin-top:20px;" >
                        <div class="xs2 text-right text-small" style="margin-top:5px;">
                            <label>
                                	硬盘类型：
                            </label>
                        </div>
                        <div class=" button-group radio radius-none border-blue" >
                            <label class="button active radius-none button-small" style="width:100px;text-align:center">
                                <input name="diskType" ms-change="calculationPrice()" checked="checked" type="radio" value="cloud_normal">普通硬盘
                            </label>
                            <label class="button radius-none button-small" style="width:100px;text-align:center">
                                <input name="diskType" ms-change="calculationPrice()" type="radio" value="cloud_ssd">SSD硬盘
                            </label>
                        </div>
                        <div class="x8 x2-move"><span style="" class="text-small text-gray">普通硬盘向低I/O负载的应用场景，为云主机提供数百IOSPS的I/O性能.</span></div>
                    </div>
                    <div class="form-group margin-left">
                        <div class="xs2 text-right text-small" style="margin-top:30px;">
                            <label>
                                	云硬盘：
                            </label>
                        </div>
                        <div id="divRange" class="text-left" >
                        	<div class="x6" style="padding-left:0px;">
        						<div class="controls mt-10">
        							<input type="text" id="cbsRange" value="0" name="range"/>
        						</div> 
        					</div> 
        					<div class="x4 input-group" style="margin-top:25px;padding-left:0px;" >
        						<input type="text" style="width:35px;height: 22px;margin-right:0px;padding-left:5px;margin-top:1px;" class="rangevalue border border-sub disabled" disabled maxlength="3" value="10" max="500" id="cbsRangeValue" ms-change="changeSliderValue()"/>GB
        					</div>
        				</div>
                   </div>
                  <div class="form-group margin-left" style="margin-top:10px;">
                        <div class="xs2 text-right text-small" style="margin-top:5px;">
                            <label>
                                	付费方式：
                            </label>
                        </div>
                        <div class="button-group radio radius-none border-blue">
                            <label class="button active radius-none button-small billing-type">
                              <input name="billingType" ms-change="billingType(this)" checked="checked" value="1" type="radio">
                              <span class="text-small">1<span class='selected-biling-type text-small'>个月</span></span>
                            </label>
                            <label class="button radius-none button-small billing-type">
                              <input name="billingType" ms-change="billingType(this)" value="2" type="radio">
                              <span class="text-small">2</span>
                            </label>
                            <label class="button radius-none button-small billing-type">
                              <input name="billingType" ms-change="billingType(this)" value="3" type="radio">
                              <span class="text-small">3</span>
                              </label>
                              <label class="button radius-none button-small billing-type">
                                  <input name="billingType" ms-change="billingType(this)" value="4" type="radio">
                                  <span class="text-small">4</span>
                              </label>
                              <label class="button radius-none button-small billing-type">
                                  <input name="billingType" ms-change="billingType(this)" value="5" type="radio">
                                  <span class="text-small">5</span>
                              </label>
                              <label class="button radius-none button-small billing-type">
                                  <input name="billingType" ms-change="billingType(this)" value="6" type="radio">
                                  <span class="text-small">6</span>
                              </label>
                              <label class="button radius-none button-small billing-type">
                                  <input name="billingType" ms-change="billingType(this)" value="7" type="radio">
                                  <span class="text-small">7</span>
                              </label>
                              <label class="button radius-none button-small billing-type">
                                  <input name="billingType" ms-change="billingType(this)" value="8" type="radio">
                                  <span class="text-small">8</span>
                              </label>
                              <label class="button radius-none button-small billing-type">
                                  <input name="billingType" ms-change="billingType(this)" value="9" type="radio">
                                  <span class="text-small">9</span>
                              </label>
                              <label class="button radius-none button-small billing-type">
                                  <input name="billingType" ms-change="billingType(this)" value="12" type="radio">1年
                              </label>
                              <label class="button radius-none button-small billing-type">
                                  <input name="billingType" ms-change="billingType(this)" value="24" type="radio">2年
                              </label>
                              <label class="button radius-none button-small billing-type">
                                  <input name="billingType" ms-change="billingType(this)" value="36" type="radio">3年
                              </label>

                          </div>
                  </div>
                  <div class="form-group margin-left" style="margin-top:15px;">
                        <div class="xs2 text-right text-small" style="margin-top:5px;">
                            <label>
                                	购买数量：
                            </label>
                        </div>
                        <div class=" x5 text-left" style="padding-left:0px;">
                            <div class="input-group">
				            <span ><button class="button bg-blue radius-none button-small" id="decbtn" style="" type="button" ms-click="decCountBtn()">
                            -</button><input id="orderBsCount" type="text" value="1"  class="input border-blue text-center text-small" style="" name="orderCount" ms-keyup="changeCount()" size="4"  placeholder="" />
                                <button id="addbtn" style="margin-left: -5px" type="button" class="button bg-blue radius-none button-small" ms-click="addCountBtn()">
                                    +</button>
                            </span>
                            </div>
                        </div>
                  </div>

                  <hr />
                  <div class="form-group margin-left" >
                        <div class="xs2 text-right text-small" style="margin-top:7px;">
                            <label>
                                	配置费用：
                            </label>
                        </div>
                        <div id="cbsPrice" class="text-dot text-large">
                        	￥
						</div>
                  </div>
                  <div class="form-group">
                      <div class="xs2 text-left "></div>
                      <div class="margin-bottom" >
                          <button ms-click="nowOrderConfirm()" class="button bg-yellow radius-none text-small" style="margin-left:6px;width:100px;"> 立即购买</button>
                          <button ms-click="addToShoppingList()" class="button border-blue radius-none text-small" style="margin-left:10px;width:110px;"> 加入选购清单</button>
                      </div>
                      <div id="bsAnamite"></div>
                  </div>
                </div>
            </div>
            <div class="xs3 text-left " id ="shoppingServer" style="padding-left:0px;"></div>
            <div class="xs3 text-center " style="padding-top:10px;margin-left:30px;width: 300px;">
            	<button id="submitButton" class="button bg-yellow radius-none text-small" disabled="disabled" type="button" ms-click="goToOrderConfirm()"> 订单确认</button>
            </div>
        </div>
    </div>
    
    <div id="orderConfirm" class="change hidden">
        <div class="line">
            <div ms-include-src="orderconfirm"></div>
        </div>
    </div>
</div>