<script type="text/javascript">
    require(["app-modules/user-center/userMgt/vmodel/user-power-add"],function(addRole){
        avalon.vmodels.addRole.data = avalon.vmodels.userPower.addData;
        addRole.initValidator()
        avalon.scan();
    });
</script>
<form id="addRoleForm" ms-controller="addRole">
    <div>
    <table border="0" class="custom-table">
        <tr>
            <td class="required">角色名称：</td>
            <td style="width: 215px;">
                <input id="roleID" type="text" ms-duplex="data['roleID']" name="roleID" style="width:180px" class="input text-small radius-none">
            </td>

            <td style="width: 70px;">角色描述：</td>
            <td>
                <input id="roleDes" type="text" ms-duplex="data['roleDes']" name="roleDes" style="width:180px" class="input text-small radius-none">
            </td>
        </tr>
    </table>
    </div>
    <hr/>
    <div style="margin:0px 20px;font-size: 12px;">角色权限：授予一个角色某产品的增或删权限时，建议同时授予其改和查的权限。目前尚不支持监控和费用权限的鉴权，所有角色默认有监控的全部权限，没有任何财务类的权限。</div>
    <table class="custom-table">
        <tr style="line-height: 25px;border-bottom: 1px solid #cccecf">
            <td style="text-align: center;">
                产品
            </td>
            <td>
                <label><input name="" class="addCB" type="checkbox" ms-click="addCB(this)" value="" /><span>增</span></label>
            </td>
            <td>
                <label><input name="" class="deleteCB" type="checkbox"  ms-click="deleteCB(this)" value="" /><span>删</span></label>
            </td>
            <td>
                <label><input name="" class="modifyCB" type="checkbox" ms-click="modifyCB(this)" value="" /><span>改</span></label>
            </td>
            <td>
                <label><input name="" class="checkCB" type="checkbox" ms-click="checkCB(this)" value="" /><span>查</span></label>
            </td>
        </tr>
        <tr style="line-height: 25px;border-bottom: 1px solid #cccecf;background: #EEEEEE">
            <td style="text-align: center;">
                云主机
            </td>
            <td>
                <label><input name="" class="addIpt" type="checkbox" value="cloudHostAdd" /></label>
            </td>
            <td>
                <label><input name="" class="deleteIpt" type="checkbox" value="cloudHostDelete" /></label>
            </td>
            <td>
                <label><input name="" class="modifyIpt" type="checkbox" value="cloudHostModify" /></label>
            </td>
            <td>
                <label><input name="" class="checkIpt" type="checkbox" value="cloudHostCheck" /></label>
            </td>
        </tr>
        <tr style="line-height: 25px;border-bottom: 1px solid #cccecf">
            <td style="text-align: center;">
                网络
            </td>
            <td>
                <label><input name="" class="addIpt" type="checkbox" value="netAdd" /></label>
            </td>
            <td>
                <label><input name="" class="deleteIpt" type="checkbox" value="netDelete" /></label>
            </td>
            <td>
                <label><input name="" class="modifyIpt" type="checkbox" value="netModify" /></label>
            </td>
            <td>
                <label><input name="" class="checkIpt" type="checkbox" value="netCheck" /></label>
            </td>
        </tr>
        <tr style="line-height: 25px;border-bottom: 1px solid #cccecf;background: #EEEEEE">
            <td style="text-align: center;">
                负载均衡
            </td>
            <td>
                <label><input name="" class="addIpt" type="checkbox" value="LBAdd" /></label>
            </td>
            <td>
                <label><input name="" class="deleteIpt" type="checkbox" value="LBDelete" /></label>
            </td>
            <td>
                <label><input name="" class="modifyIpt" type="checkbox" value="LBModify" /></label>
            </td>
            <td>
                <label><input name="" class="checkIpt" type="checkbox" value="LBCheck" /></label>
            </td>
        </tr>
        <tr style="line-height: 25px;border-bottom: 1px solid #cccecf">
            <td style="text-align: center;">
                云硬盘
            </td>
            <td>
                <label><input name="" class="addIpt" type="checkbox" value="cloudDiskAdd" /></label>
            </td>
            <td>
                <label><input name="" class="deleteIpt" type="checkbox" value="cloudDiskDelete" /></label>
            </td>
            <td>
                <label><input name="" class="modifyIpt" type="checkbox" value="cloudDiskModify" /></label>
            </td>
            <td>
                <label><input name="" class="checkIpt" type="checkbox" value="cloudDiskCheck" /></label>
            </td>
        </tr>
    </table>
</form>