<div id="subUserList"  ms-controller="subUser">
    <div class="line">
        <div class="xs12 padding-bottom">
            <div class="xs8">
                <div class="float-left text-large">{{title}}</div>
            </div>
            <div class="xs4">
                <button class="button bg-blue float-right radius-none" type="button" ms-click="addSub()">新建成员</button>
            </div>
        </div>
        <hr>
        <div class="xs12 alert alert-blue radius-none margin-bottom">
            <span class="close rotate-hover"></span>
            <strong>注意：</strong>成员是指您创建协助管理您账户下各项目资源主体，成员本身不拥有任何资源。
        </div>
        <div id="subUserGrid" class="grid xs12"></div>
    </div>
</div>