<script type="text/javascript">
    require(["app-modules/console/loadBalance/vmodel/binding-float-IP"],function(bindingFloatIP){
        bindingFloatIP.initValidator();
        avalon.vmodels.bindingFloatIP.data = avalon.vmodels.loadBalanceMgt.bindingFloatIPData;
        avalon.scan();
    });
</script>
<form id="bindingFloatIPForm">
    <table border="0" class="custom-table" style="font-size:12px;" ms-controller="bindingFloatIP">
        <tr>
            <td class="required">IP地址：</td>
            <td>
                <select id="IPAddress" name="IPAddress" ms-duplex="data['IPAddress']" class="select radius-none" style="width:180px">
                    <option selected="selected" value="">没有分配浮动IP</option>
                </select>
                <button class="button radius-none button-small icon-plus" ms-click="distributionFloatIP()"></button>
                <p class="description text-gray" style="width: 180px">请为选中的云主机或端口选择要绑定的IP地址</p>
            </td>
        </tr>
        <tr>
            <td class="required">待连接的端口：</td>
            <td>
                <select id="waitConnectionPort" name="waitConnectionPort" ms-duplex="data['waitConnectionPort']" class="select radius-none" style="width:180px">
                    <option selected="selected" value="">--请选择带连接的端口--</option>
                    <option value="01">vm-test01:192.168.100.3</option>
                    <option value="02">vm-test02:192.168.8.3</option>
                    <option value="03">vm-test03:192.168.100.4</option>
                </select>
            </td>
        </tr>
    </table>
</form>