<script type="text/javascript">
    require(["app-modules/console/loadBalance/vmodel/member-detail",],function(memberDetail){
        memberDetail.data = avalon.vmodels.member.data;
        avalon.scan();
    });
</script>
<form id="addMemberForm">
    <table border="0" class="custom-table" style="font-size:12px;" ms-controller="memberDetail">
        <tr>
            <td>ID：</td>
            <td id="memberID" name="memberID">{{data.memberID}}</td>
        </tr>
        <tr>
            <td>项目ID：</td>
            <td id="projectID" name="projectID">{{data.projectID}}</td>
        </tr>
        <tr>
            <td>资源池：</td>
            <td id="resourcePool" name="resourcePool">{{data.resourcePool}}</td>
        </tr>
        <tr>
            <td>地址：</td>
            <td id="address" name="address">{{data.address}}</td>
        </tr>
        <tr>
            <td>协议端口：</td>
            <td id="agreementPort" name="agreementPort">{{data.agreementPort}}</td>
        </tr>
        <tr>
            <td>重量：</td>
            <td id="weight" name="weight">{{data.weight}}</td>
        </tr>
        <tr>
            <td>状态：</td>
            <td id="status" name="status">{{data.status}}</td>
        </tr>
    </table>
</form>