<script type="text/javascript">
    require(["app-modules/console/loadBalance/vmodel/modify-resource-pool"],function(modifyResourcePool){
        modifyResourcePool.initValidator();
        avalon.vmodels.modifyResourcePool.data = avalon.vmodels.loadBalanceMgt.modifyData;
        avalon.scan();
    });
</script>
<form id="modifyResourcePoolForm">
    <table border="0" class="custom-table" style="font-size:12px;" ms-controller="modifyResourcePool">
        <tr>
            <td class="required">名称：</td>
            <td>
                <input id="name" ms-duplex="data['name']" class="input text-small radius-none" type="text " name="name" style="width: 180px">
                <p class="description text-gray" style="width: 180px">修改负载均衡池名称</p>
            </td>
        </tr>
        <tr>
            <td class="required">ID：</td>
            <td>
                <input id="loadBalanceID" ms-duplex="data['loadBalanceID']" class="input text-small radius-none" type="text " disabled="disabled" name="loadBalanceID" style="width: 180px">
            </td>
        </tr>
        <tr>
            <td>描述：</td>
            <td>
                <!--<input id="describe" ms-duplex="data['describe']" class="input text-small radius-none" type="text " name="describe">-->
                <textarea rows="2" class="input text-small radius-none" name="describe" ms-duplex="data['describe']" style="width: 180px"></textarea>
                <p class="description text-gray" style="width: 180px">修改负载均衡池描述，可以为空</p>
            </td>
        </tr>
        <tr>
            <td class="required">负载均衡方式：</td>
            <td>
                <select id="LBMode" name="LBMode" ms-duplex="data['LBMode']" class="select radius-none" style="width:180px">
                    <option selected="selected" value="">--请选择一个方法--</option>
                    <option value="ROUND_ROBIN">ROUND_ROBIN</option>
                    <option value="LEAST_CONNECTIONS">LEAST_CONNECTIONS</option>
                    <option value="SOURCE_IP">SOURCE_IP</option>
                </select>
                <p class="description text-gray" style="width: 180px">修改负载均衡池的均衡方式</p>
            </td>
        </tr>
    </table>
</form>