/*Progress Bar*/
.jqx-progressbar-yellow .jqx-fill-state-pressed-yellow{background:#F3BF1D; border-bottom: none;}
.jqx-progressbar-value-vertical-yellow{background: #F3BF1D; border-right: none; border-bottom: 1px solid #77d5f7;}
