/*Progress Bar*/
.jqx-progressbar-green .jqx-fill-state-pressed-green{background:#71ae48; border-bottom: none;}
.jqx-progressbar-value-vertical-green{background: #71ae48; border-right: none; border-bottom: 1px solid #77d5f7;}
