<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.h3c.idcloud.core.persist.res.dao.ResExtIpMapper">
    <resultMap id="BaseResultMap" type="com.h3c.idcloud.core.pojo.dto.res.ResExtIp">
        <id column="RES_SID" property="resSid" jdbcType="VARCHAR"/>
        <result column="RES_EXT_NETWORK_SID" property="resExtNetworkSid" jdbcType="VARCHAR"/>
        <result column="IP_TYPE" property="ipType" jdbcType="VARCHAR"/>
        <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR"/>
        <result column="MAP_PUBLIC_IP" property="mapPublicIp" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="UUID" property="uuid" jdbcType="VARCHAR"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR"/>
        <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP"/>
        <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP"/>
        <result column="VERSION" property="version" jdbcType="BIGINT"/>

    </resultMap>
    <sql id="Example_Where_Clause">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="condition.ipAddressLike != null">
                and A.IP_ADDRESS like concat('%', #{condition.ipAddressLike},'%')
            </if>
            <if test="condition.resExtNetworkSid != null">
                and A.RES_EXT_NETWORK_SID = #{condition.resExtNetworkSid}
            </if>
            <if test="condition.ipType != null">
                and A.IP_TYPE = #{condition.ipType}
            </if>
            <if test="condition.ipAddress != null">
                and A.IP_ADDRESS = #{condition.ipAddress}
            </if>
            <if test="condition.mapPublicIp != null">
                and A.MAP_PUBLIC_IP = #{condition.mapPublicIp}
            </if>
            <if test="condition.status != null">
                and A.STATUS = #{condition.status}
            </if>
            <if test="condition.uuid != null">
                and A.UUID = #{condition.uuid}
            </if>
            <if test="condition.createdBy != null">
                and A.CREATED_BY = #{condition.createdBy}
            </if>
            <if test="condition.createdDt != null">
                and A.CREATED_DT = #{condition.createdDt}
            </if>
            <if test="condition.updatedBy != null">
                and A.UPDATED_BY = #{condition.updatedBy}
            </if>
            <if test="condition.updatedDt != null">
                and A.UPDATED_DT = #{condition.updatedDt}
            </if>
            <if test="condition.version != null">
                and A.VERSION = #{condition.version}
            </if>
        </trim>
    </sql>
    <sql id="Base_Column_List">
        A.RES_SID, A.RES_EXT_NETWORK_SID, A.IP_TYPE, A.IP_ADDRESS, A.MAP_PUBLIC_IP, A.STATUS, A.DESCRIPTION, A.CREATED_BY,
        A.CREATED_DT, A.UPDATED_BY, A.UPDATED_DT, A.VERSION, A.UUID
    </sql>
    <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria">
        select
        <include refid="Base_Column_List"/>
        from res_ext_ip A
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="common.Mysql_Pagination_Limit"/>
    </select>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from res_ext_ip A
        where A.RES_SID = #{resSid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from res_ext_ip
        where RES_SID = #{resSid}
    </delete>
    <delete id="deleteByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria">
        delete from res_ext_ip
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResExtIp">
        <selectKey resultType="java.lang.Long" keyProperty="resSid" order="BEFORE">
            select SEQ_res_ext_ip.NEXTVAL from dual
        </selectKey>
        insert into res_ext_ip (RES_SID, RES_EXT_NETWORK_SID, IP_TYPE, IP_ADDRESS, MAP_PUBLIC_IP, STATUS,
        CREATED_BY, CREATED_DT, UPDATED_BY, UPDATED_DT, VERSION, UUID)
        values (#{resSid}, #{resExtNetworkSid}, #{ipType}, #{ipAddress}, #{mapPublicIp}, #{status},
        #{createdBy}, #{createdDt}, #{updatedBy}, #{updatedDt}, #{version}, #{uuid})
    </insert>
    <insert id="insertSelective" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResExtIp">
        <selectKey resultType="java.lang.String" keyProperty="resSid" order="BEFORE">
            select UUID()
        </selectKey>
        insert into res_ext_ip
        <trim prefix="(" suffix=")" suffixOverrides=",">
            RES_SID,
            <if test="resExtNetworkSid != null">
                RES_EXT_NETWORK_SID,
            </if>
            <if test="ipType != null">
                IP_TYPE,
            </if>
            <if test="ipAddress != null">
                IP_ADDRESS,
            </if>
            <if test="mapPublicIp != null">
                MAP_PUBLIC_IP,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="uuid != null">
                UUID,
            </if>
            <if test="description != null">
                DESCRIPTION,
            </if>
            <if test="createdBy != null">
                CREATED_BY,
            </if>
            <if test="createdDt != null">
                CREATED_DT,
            </if>
            <if test="updatedBy != null">
                UPDATED_BY,
            </if>
            <if test="updatedDt != null">
                UPDATED_DT,
            </if>
            <if test="version != null">
                VERSION,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{resSid},
            <if test="resExtNetworkSid != null">
                #{resExtNetworkSid},
            </if>
            <if test="ipType != null">
                #{ipType},
            </if>
            <if test="ipAddress != null">
                #{ipAddress},
            </if>
            <if test="mapPublicIp != null">
                #{mapPublicIp},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="uuid != null">
                #{uuid},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="createdDt != null">
                #{createdDt},
            </if>
            <if test="updatedBy != null">
                #{updatedBy},
            </if>
            <if test="updatedDt != null">
                #{updatedDt},
            </if>
            <if test="version != null">
                #{version},
            </if>
        </trim>
    </insert>
    <select id="countByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" resultType="java.lang.Integer">
        select count(*) from res_ext_ip
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <update id="updateByParamsSelective" parameterType="map">
        update res_ext_ip
        <set>
            <if test="record.resSid != null">
                RES_SID = #{record.resSid},
            </if>
            <if test="record.resExtNetworkSid != null">
                RES_EXT_NETWORK_SID = #{record.resExtNetworkSid},
            </if>
            <if test="record.ipType != null">
                IP_TYPE = #{record.ipType},
            </if>
            <if test="record.ipAddress != null">
                IP_ADDRESS = #{record.ipAddress},
            </if>
            <if test="record.mapPublicIp != null">
                MAP_PUBLIC_IP = #{record.mapPublicIp},
            </if>
            <if test="record.status != null">
                STATUS = #{record.status},
            </if>
            <if test="record.uuid != null">
                UUID = #{record.uuid},
            </if>
            <if test="record.description != null">
                DESCRIPTION = #{record.description},
            </if>
            <if test="record.createdBy != null">
                CREATED_BY = #{record.createdBy},
            </if>
            <if test="record.createdDt != null">
                CREATED_DT = #{record.createdDt},
            </if>
            <if test="record.updatedBy != null">
                UPDATED_BY = #{record.updatedBy},
            </if>
            <if test="record.updatedDt != null">
                UPDATED_DT = #{record.updatedDt},
            </if>
            <if test="record.version != null">
                VERSION = #{record.version},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByParams" parameterType="map">
        update res_ext_ip
        set RES_SID = #{record.resSid},
        RES_EXT_NETWORK_SID = #{record.resExtNetworkSid},
        IP_TYPE = #{record.ipType},
        IP_ADDRESS = #{record.ipAddress},
        MAP_PUBLIC_IP = #{record.mapPublicIp},
        STATUS = #{record.status},
        UUID = #{record.uuid},
        CREATED_BY = #{record.createdBy},
        CREATED_DT = #{record.createdDt},
        UPDATED_BY = #{record.updatedBy},
        UPDATED_DT = #{record.updatedDt},
        VERSION = #{record.version}
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResExtIp">
        update res_ext_ip
        <set>
            <if test="resExtNetworkSid != null">
                RES_EXT_NETWORK_SID = #{resExtNetworkSid},
            </if>
            <if test="ipType != null">
                IP_TYPE = #{ipType},
            </if>
            <if test="ipAddress != null">
                IP_ADDRESS = #{ipAddress},
            </if>
            <if test="mapPublicIp != null">
                MAP_PUBLIC_IP = #{mapPublicIp},
            </if>
            <if test="status != null">
                STATUS = #{status},
            </if>
            <if test="uuid != null">
                UUID = #{uuid},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description},
            </if>
            <if test="createdBy != null">
                CREATED_BY = #{createdBy},
            </if>
            <if test="createdDt != null">
                CREATED_DT = #{createdDt},
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy},
            </if>
            <if test="updatedDt != null">
                UPDATED_DT = #{updatedDt},
            </if>
            <if test="version != null">
                VERSION = #{version},
            </if>
        </set>
        where RES_SID = #{resSid}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResExtIp">
        update res_ext_ip
        set RES_EXT_NETWORK_SID = #{resExtNetworkSid},
        IP_TYPE = #{ipType},
        IP_ADDRESS = #{ipAddress},
        MAP_PUBLIC_IP = #{mapPublicIp},
        STATUS = #{status},
        UUID = #{uuid},
        DESCRIPTION = #{description},
        CREATED_BY = #{createdBy},
        CREATED_DT = #{createdDt},
        UPDATED_BY = #{updatedBy},
        UPDATED_DT = #{updatedDt},
        VERSION = #{version}
        where RES_SID = #{resSid}
    </update>
</mapper>