<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.h3c.idcloud.core.persist.res.dao.ResStorageViosRelMapper">
    <resultMap id="BaseResultMap" type="com.h3c.idcloud.core.pojo.dto.res.ResStorageViosRel">
        <result column="RES_STORAGE_SID" property="resStorageSid" jdbcType="VARCHAR"/>
        <result column="RES_VIOS_SID" property="resViosSid" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="condition.resStorageSid != null">
                and RES_STORAGE_SID = #{condition.resStorageSid}
            </if>
            <if test="condition.resViosSid != null">
                and RES_VIOS_SID = #{condition.resViosSid}
            </if>
        </trim>
    </sql>
    <sql id="Base_Column_List">
        RES_STORAGE_SID, RES_VIOS_SID
    </sql>
    <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from res_storage_vios_rel
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="common.Mysql_Pagination_Limit"/>
    </select>
    <delete id="deleteByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria">
        delete from res_storage_vios_rel
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insertSelective" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResStorageViosRel">
        insert into res_storage_vios_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resStorageSid != null">
                RES_STORAGE_SID,
            </if>
            <if test="resViosSid != null">
                RES_VIOS_SID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resStorageSid != null">
                #{resStorageSid},
            </if>
            <if test="resViosSid != null">
                #{resViosSid},
            </if>
        </trim>
    </insert>
    <select id="countByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" resultType="java.lang.Integer">
        select count(*) from res_storage_vios_rel
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
</mapper>