<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.h3c.idcloud.core.persist.res.dao.ResVpcPortsIpMapper" >
  <resultMap id="ResultMap" type="com.h3c.idcloud.core.pojo.dto.res.ResVpcPortsIp" >
    <id column="RES_PORT_SID" property="resPortSid" jdbcType="VARCHAR" />
    <result column="SUBNET_ID" property="subnetId" jdbcType="VARCHAR" />
    <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.subnetId != null" >
         and SUBNET_ID = #{condition.subnetId}
      </if>
      <if test="condition.ipAddress != null" >
         and IP_ADDRESS = #{condition.ipAddress}
      </if>
      <if test="condition.createdBy != null" >
         and CREATED_BY = #{condition.createdBy}
      </if>
      <if test="condition.createdDt != null" >
         and CREATED_DT = #{condition.createdDt}
      </if>
      <if test="condition.updatedBy != null" >
         and UPDATED_BY = #{condition.updatedBy}
      </if>
      <if test="condition.updatedDt != null" >
         and UPDATED_DT = #{condition.updatedDt}
      </if>
      <if test="condition.version != null" >
         and VERSION = #{condition.version}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    RES_PORT_SID, SUBNET_ID, IP_ADDRESS, CREATED_BY, CREATED_DT, UPDATED_BY, UPDATED_DT, 
    VERSION
  </sql>
  <select id="selectByParams" resultMap="ResultMap" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from res_vpc_ports_ip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from res_vpc_ports_ip
    where RES_PORT_SID = #{resPortSid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from res_vpc_ports_ip
    where RES_PORT_SID = #{resPortSid}
  </delete>
  <delete id="deleteByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" >
    delete from res_vpc_ports_ip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResVpcPortsIp" >
    <selectKey resultType="java.lang.String" keyProperty="resPortSid" order="BEFORE" >
      SELECT UUID()
    </selectKey>
    insert into res_vpc_ports_ip (RES_PORT_SID, SUBNET_ID, IP_ADDRESS, CREATED_BY, CREATED_DT, UPDATED_BY, 
      UPDATED_DT, VERSION)
    values (#{resPortSid}, #{subnetId}, #{ipAddress}, #{createdBy}, #{createdDt}, #{updatedBy}, 
      #{updatedDt}, #{version})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResVpcPortsIp" >
    <selectKey resultType="java.lang.String" keyProperty="resPortSid" order="BEFORE" >
      SELECT UUID()
    </selectKey>
    insert into res_vpc_ports_ip
    <trim prefix="(" suffix=")" suffixOverrides="," >
      RES_PORT_SID,
      <if test="subnetId != null" >
        SUBNET_ID,
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDt != null" >
        CREATED_DT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{resPortSid},
      <if test="subnetId != null" >
        #{subnetId},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="createdDt != null" >
        #{createdDt},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt},
      </if>
      <if test="version != null" >
        #{version},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from res_vpc_ports_ip
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update res_vpc_ports_ip
    <set >
      <if test="record.resPortSid != null" >
        RES_PORT_SID = #{record.resPortSid},
      </if>
      <if test="record.subnetId != null" >
        SUBNET_ID = #{record.subnetId},
      </if>
      <if test="record.ipAddress != null" >
        IP_ADDRESS = #{record.ipAddress},
      </if>
      <if test="record.createdBy != null" >
        CREATED_BY = #{record.createdBy},
      </if>
      <if test="record.createdDt != null" >
        CREATED_DT = #{record.createdDt},
      </if>
      <if test="record.updatedBy != null" >
        UPDATED_BY = #{record.updatedBy},
      </if>
      <if test="record.updatedDt != null" >
        UPDATED_DT = #{record.updatedDt},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update res_vpc_ports_ip
    set RES_PORT_SID = #{record.resPortSid},
      SUBNET_ID = #{record.subnetId},
      IP_ADDRESS = #{record.ipAddress},
      CREATED_BY = #{record.createdBy},
      CREATED_DT = #{record.createdDt},
      UPDATED_BY = #{record.updatedBy},
      UPDATED_DT = #{record.updatedDt},
      VERSION = #{record.version}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResVpcPortsIp" >
    update res_vpc_ports_ip
    <set >
      <if test="subnetId != null" >
        SUBNET_ID = #{subnetId},
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS = #{ipAddress},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy},
      </if>
      <if test="createdDt != null" >
        CREATED_DT = #{createdDt},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy},
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT = #{updatedDt},
      </if>
      <if test="version != null" >
        VERSION = #{version},
      </if>
    </set>
    where RES_PORT_SID = #{resPortSid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResVpcPortsIp" >
    update res_vpc_ports_ip
    set SUBNET_ID = #{subnetId},
      IP_ADDRESS = #{ipAddress},
      CREATED_BY = #{createdBy},
      CREATED_DT = #{createdDt},
      UPDATED_BY = #{updatedBy},
      UPDATED_DT = #{updatedDt},
      VERSION = #{version}
    where RES_PORT_SID = #{resPortSid}
  </update>
</mapper>