<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.h3c.idcloud.core.persist.res.dao.ResVdBackupMapper">
    <resultMap id="BaseResultMap" type="com.h3c.idcloud.core.pojo.dto.res.ResVdBackup">
        <id column="BACKUP_SID" property="backupSid" jdbcType="BIGINT"/>
        <result column="RES_VD_SID" property="resVdSid" jdbcType="VARCHAR"/>
        <result column="ALLOCATE_BACKUP_ID" property="allocateBackupId" jdbcType="VARCHAR"/>
        <result column="BACKUP_NAME" property="backupName" jdbcType="VARCHAR"/>
        <result column="BACKUP_ALIAS" property="backupAlias" jdbcType="VARCHAR"/>
        <result column="BACKUP_TYPE" property="backupType" jdbcType="VARCHAR"/>
        <result column="BACKUP_TIME" property="backupTime" jdbcType="TIMESTAMP"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="STATUS_NAME" property="statusName" jdbcType="VARCHAR"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR"/>
        <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP"/>
        <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP"/>
        <result column="VERSION" property="version" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <trim prefix="where" prefixOverrides="and|or">
            <if test="condition.resVdSid != null">
                and A.RES_VD_SID = #{condition.resVdSid}
            </if>
            <if test="condition.allocateBackupId != null">
                and A.ALLOCATE_BACKUP_ID = #{condition.allocateBackupId}
            </if>
            <if test="condition.backupName != null">
                and A.BACKUP_NAME = #{condition.backupName}
            </if>
            <if test="condition.backupAlias != null">
                and A.BACKUP_ALIAS = #{condition.backupAlias}
            </if>
            <if test="condition.backupType != null">
                and A.BACKUP_TYPE = #{condition.backupType}
            </if>
            <if test="condition.backupTime != null">
                and A.BACKUP_TIME = #{condition.backupTime}
            </if>
            <if test="condition.createdBy != null">
                and A.CREATED_BY = #{condition.createdBy}
            </if>
            <if test="condition.createdDt != null">
                and A.CREATED_DT = #{condition.createdDt}
            </if>
            <if test="condition.updatedBy != null">
                and A.UPDATED_BY = #{condition.updatedBy}
            </if>
            <if test="condition.updatedDt != null">
                and A.UPDATED_DT = #{condition.updatedDt}
            </if>
            <if test="condition.version != null">
                and A.VERSION = #{condition.version}
            </if>
        </trim>
    </sql>
    <sql id="Base_Column_List">
        A.BACKUP_SID, A.RES_VD_SID, A.ALLOCATE_BACKUP_ID, A.BACKUP_NAME, A.BACKUP_ALIAS, A.BACKUP_TYPE,
        A.BACKUP_TIME,A.STATUS, A.CREATED_BY, A.CREATED_DT, A.UPDATED_BY, A.UPDATED_DT, A.VERSION
    </sql>
    <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,B.CODE_DISPLAY as STATUS_NAME
        from res_vd_backup A
        left join sys_m_code B on (A.STATUS=B.CODE_VALUE AND B.CODE_CATEGORY='RES_VD_STATUS')
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="common.Mysql_Pagination_Limit"/>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from res_vd_backup A
        where A.BACKUP_SID = #{backupSid}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from res_vd_backup
        where BACKUP_SID = #{backupSid}
    </delete>
    <delete id="deleteByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria">
        delete from res_vd_backup
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResVdBackup">
        <selectKey resultType="java.lang.Long" keyProperty="backupSid" order="BEFORE">
            SELECT NEXTVAL('SEQ_RES_VD_BACKUP')
        </selectKey>
        insert into res_vd_backup (BACKUP_SID, RES_VD_SID, ALLOCATE_BACKUP_ID, BACKUP_NAME, BACKUP_ALIAS,
        BACKUP_TYPE, BACKUP_TIME,STATUS, CREATED_BY, CREATED_DT, UPDATED_BY, UPDATED_DT,
        VERSION)
        values (#{backupSid}, #{resVdSid}, #{allocateBackupId}, #{backupName}, #{backupAlias},
        #{backupType}, #{backupTime},#{status}, #{createdBy}, #{createdDt}, #{updatedBy}, #{updatedDt},
        #{version})
    </insert>
    <insert id="insertSelective" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResVdBackup">
        <selectKey resultType="java.lang.Long" keyProperty="backupSid" order="BEFORE">
            SELECT NEXTVAL('SEQ_RES_VD_BACKUP')
        </selectKey>
        insert into res_vd_backup
        <trim prefix="(" suffix=")" suffixOverrides=",">
            BACKUP_SID,
            <if test="resVdSid != null">
                RES_VD_SID,
            </if>
            <if test="allocateBackupId != null">
                ALLOCATE_BACKUP_ID,
            </if>
            <if test="backupName != null">
                BACKUP_NAME,
            </if>
            <if test="backupAlias != null">
                BACKUP_ALIAS,
            </if>
            <if test="backupType != null">
                BACKUP_TYPE,
            </if>
            <if test="backupTime != null">
                BACKUP_TIME,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="createdBy != null">
                CREATED_BY,
            </if>
            <if test="createdDt != null">
                CREATED_DT,
            </if>
            <if test="updatedBy != null">
                UPDATED_BY,
            </if>
            <if test="updatedDt != null">
                UPDATED_DT,
            </if>
            <if test="version != null">
                VERSION,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{backupSid},
            <if test="resVdSid != null">
                #{resVdSid},
            </if>
            <if test="allocateBackupId != null">
                #{allocateBackupId},
            </if>
            <if test="backupName != null">
                #{backupName},
            </if>
            <if test="backupAlias != null">
                #{backupAlias},
            </if>
            <if test="backupType != null">
                #{backupType},
            </if>
            <if test="backupTime != null">
                #{backupTime},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createdBy != null">
                #{createdBy},
            </if>
            <if test="createdDt != null">
                #{createdDt},
            </if>
            <if test="updatedBy != null">
                #{updatedBy},
            </if>
            <if test="updatedDt != null">
                #{updatedDt},
            </if>
            <if test="version != null">
                #{version},
            </if>
        </trim>
    </insert>
    <select id="countByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" resultType="java.lang.Integer">
        select count(*) from res_vd_backup
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByParamsSelective" parameterType="map">
        update res_vd_backup
        <set>
            <if test="record.backupSid != null">
                BACKUP_SID = #{record.backupSid},
            </if>
            <if test="record.resVdSid != null">
                RES_VD_SID = #{record.resVdSid},
            </if>
            <if test="record.allocateBackupId != null">
                ALLOCATE_BACKUP_ID = #{record.allocateBackupId},
            </if>
            <if test="record.backupName != null">
                BACKUP_NAME = #{record.backupName},
            </if>
            <if test="record.backupAlias != null">
                BACKUP_ALIAS = #{record.backupAlias},
            </if>
            <if test="record.backupType != null">
                BACKUP_TYPE = #{record.backupType},
            </if>
            <if test="record.backupTime != null">
                BACKUP_TIME = #{record.backupTime},
            </if>
            <if test="record.status != null">
                STATUS = #{record.status},
            </if>
            <if test="record.createdBy != null">
                CREATED_BY = #{record.createdBy},
            </if>
            <if test="record.createdDt != null">
                CREATED_DT = #{record.createdDt},
            </if>
            <if test="record.updatedBy != null">
                UPDATED_BY = #{record.updatedBy},
            </if>
            <if test="record.updatedDt != null">
                UPDATED_DT = #{record.updatedDt},
            </if>
            <if test="record.version != null">
                VERSION = #{record.version},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByParams" parameterType="map">
        update res_vd_backup
        set BACKUP_SID = #{record.backupSid},
        RES_VD_SID = #{record.resVdSid},
        ALLOCATE_BACKUP_ID = #{record.allocateBackupId},
        BACKUP_NAME = #{record.backupName},
        BACKUP_ALIAS = #{record.backupAlias},
        BACKUP_TYPE = #{record.backupType},
        BACKUP_TIME = #{record.backupTime},
        STATUS = #{record.status},
        CREATED_BY = #{record.createdBy},
        CREATED_DT = #{record.createdDt},
        UPDATED_BY = #{record.updatedBy},
        UPDATED_DT = #{record.updatedDt},
        VERSION = #{record.version}
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResVdBackup">
        update res_vd_backup
        <set>
            <if test="resVdSid != null">
                RES_VD_SID = #{resVdSid},
            </if>
            <if test="allocateBackupId != null">
                ALLOCATE_BACKUP_ID = #{allocateBackupId},
            </if>
            <if test="backupName != null">
                BACKUP_NAME = #{backupName},
            </if>
            <if test="backupAlias != null">
                BACKUP_ALIAS = #{backupAlias},
            </if>
            <if test="backupType != null">
                BACKUP_TYPE = #{backupType},
            </if>
            <if test="backupTime != null">
                BACKUP_TIME = #{backupTime},
            </if>
            <if test="status != null">
                STATUS = #{status},
            </if>
            <if test="createdBy != null">
                CREATED_BY = #{createdBy},
            </if>
            <if test="createdDt != null">
                CREATED_DT = #{createdDt},
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy},
            </if>
            <if test="updatedDt != null">
                UPDATED_DT = #{updatedDt},
            </if>
            <if test="version != null">
                VERSION = #{version},
            </if>
        </set>
        where BACKUP_SID = #{backupSid}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.h3c.idcloud.core.pojo.dto.res.ResVdBackup">
        update res_vd_backup
        set RES_VD_SID = #{resVdSid},
        ALLOCATE_BACKUP_ID = #{allocateBackupId},
        BACKUP_NAME = #{backupName},
        BACKUP_ALIAS = #{backupAlias},
        BACKUP_TYPE = #{backupType},
        BACKUP_TIME = #{backupTime},
        STATUS = #{status},
        CREATED_BY = #{createdBy},
        CREATED_DT = #{createdDt},
        UPDATED_BY = #{updatedBy},
        UPDATED_DT = #{updatedDt},
        VERSION = #{version}
        where BACKUP_SID = #{backupSid}
    </update>
</mapper>