<div ms-controller="testWindow">
	<button ms-click="window()" class="button bg-blue radius-none">弹出框</button>
	<button ms-click="confirm()" class="button bg-blue radius-none">确认框</button>

	<button ms-click="info()" class="button bg-blue radius-none">通知-info</button>
	<button ms-click="success()" class="button bg-blue radius-none">通知-success</button>
	<button ms-click="warning()" class="button bg-blue radius-none">通知-warning</button> 
	<button ms-click="error()" class="button bg-blue radius-none">通知-error</button>
</div>
