<script type="text/javascript">
    require(["app-modules/demo/vmodel/demo-window-demo1"],function(){
       avalon.vmodels.demoWindow.data = avalon.vmodels.testWindow.editData;
       avalon.scan();
    });   
</script>
<table border="0" class="custom-table" style="font-size:12px;" ms-controller="demoWindow">
    <tr>
        <td>{{test}}:</td>
        <td>个人用户</td>
    </tr>
    <tr>
        <td valign="middle">称呼:</td>
        <td>
            <input id="username" ms-duplex="data['name']" class="input text-small radius-none" type="text " name="username">
        </td>
    </tr>
    <tr>
        <td valign="middle">公司名称:</td>
        <td>
            <input id="comname" ms-duplex="data['comName']" class="input text-small radius-none" type="text " name="comname">
        </td>
    </tr>
    <tr>
        <td>所属行业:</td>
        <td>
            <select id="industry" class="select radius-none" ms-duplex="data['industry']"style="width:160px">
                <option selected="selected" value="0">请选择您的行业类型</option>
                <option value="1">企业</option>
                <option value="2">政府</option>
                <option value="3">事业单位</option>
                <option value="4">社会团体</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>公司地址:</td>
        <td>
            <select id="address" class="select radius-none" style="width:160px">
                <option selected="selected" value="0">--请选择省份--</option>
                <option value="北京市">北京市</option>
                <option value="天津市">天津市</option>
                <option value="河北省">河北省</option>
                <option value="山西省">山西省</option>
                <option value="内蒙古自治区">内蒙古自治区</option>
                <option value="辽宁省">辽宁省</option>
                <option value="吉林省">吉林省</option>
                <option value="黑龙江省">黑龙江省</option>
                <option value="上海市">上海市</option>
                <option value="江苏省">江苏省</option>
                <option value="浙江省">浙江省</option>
                <option value="安徽省">安徽省</option>
                <option value="福建省">福建省</option>
                <option value="江西省">江西省</option>
                <option value="山东省">山东省</option>
                <option value="河南省">河南省</option>
                <option value="湖北省">湖北省</option>
                <option value="湖南省">湖南省</option>
                <option value="广东省">广东省</option>
                <option value="广西壮族自治区">广西壮族自治区</option>
                <option value="海南省">海南省</option>
                <option value="重庆市">重庆市</option>
                <option value="四川省">四川省</option>
                <option value="贵州省">贵州省</option>
                <option value="云南省">云南省</option>
                <option value="西藏自治区">西藏自治区</option>
                <option value="陕西省">陕西省</option>
                <option value="甘肃省">甘肃省</option>
                <option value="青海省">青海省</option>
                <option value="宁夏回族自治区">宁夏回族自治区</option>
                <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                <option value="香港特别行政区">香港特别行政区</option>
                <option value="澳门特别行政区">澳门特别行政区</option>
                <option value="台湾省">台湾省</option>
                <option value="其它">其它</option>
            </select>
            <select class="select radius-none" select radius-none name="subjectDetailInfo[icpCompanyCity]"
                    data-city="----选择市----">
                <option value="">--请选择城市--</option>
            </select>
        </td>
    </tr>

</table>


