<script type="text/javascript">
     require([
              "lib/jquery/jquery.bgiframe.min","lib/jquery/jquery.multiSelect"],function(pintuer){
			
			$('#example-getting-started').multiSelect();
     });
</script>
<div ms-controller="testShoppingId">
	<div id="testShopping"></div>
	<div class="hidden">
	<select id="example-getting-started" multiple="multiple" >
         <option value="cheese">Cheese</option>
         <option value="tomatoes">Tomatoes</option>
         <option value="Mozzarella">Mozzarella</option>
         <option value="Mushrooms">Mushrooms</option>
         <option value="Pepperoni">Pepperoni</option>
         <option value="Onions">Onions</option>
     </select>
     </div>
</div>
