<div ms-controller="userFp">

    <style>
    .input-help ul {
    list-style-type:none;
    }
    </style>

    <div class="line">
        <div class="xs12 margin-small-bottom top-height">
            <div class="xs8">
                <div class="float-left text-large">{{title}}</div>
            </div>
        </div>
        <hr>
        <div class="xs12 margin-bottom">
            <div class="tab">
                <div class="tab-head">
                    <span class="tab-more padding-large-right text-large" style="font-size: 14px">
                        可用发票余额为：<span class="text-yellow">{{invoiceAmount.availableAmount}}</span>元&nbsp;&nbsp;
                        已开发票额度：<span class="text-yellow">{{invoiceAmount.usedAmount}}</span>元
                    </span>
                    <ul class="tab-nav" >
                        <li class="active"><a href="#tab-list">发票列表</a></li>
                        <li><a href="#tab-apply">申请发票</a></li>
                    </ul>
                </div>

                <div class="tab-body" >
                    <div class="tab-panel active" id="tab-list">
                        <div class="xs12 margin-bottom" >
                            <div class="search_div">
                                <div class="search_div_02">申请时间：</div>
                                <div class="search_div_01">
                                    <div id="beginDate" class="input-append date">
                                        <input type="text" class="input input-small radius-none floating-left" id="startTime">
                                        <span class="add-on radius-none"><i class="icon-th"></i></span>
                                    </div>
                                </div>
                                <div class="search_div_03">至</div>
                                <div class="search_div_01">
                                    <div id="endDate" class="input-append date">
                                        <input type="text" class="input input-small radius-none floating-left" id="endTime">
                                        <span class="add-on radius-none"><i class="icon-th"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="search_div">
                                <div class="search_div_02">发票状态：</div>
                                <div class="search_div_01">
                                    <select class="select radius-none text-small" id="fpStatus"></select>
                                </div>
                            </div>
                            <div class="search_div_L">
                                <div class="search_div_button">
                                    <button class="button button-small radius-none" ms-click="searchFp()">
                                        <span class="icon-search"></span>&nbsp;查询
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="fpGrid" class="grid"></div>
                    </div>
                    <div class="tab-panel" id="tab-apply">
                        <div class="xs7 xs3-move">
                           <form class="form form-block margin-top" method="post" id="fpApply">
                               <div class="xs12">
                                   <div class="xs3">
                                       <label class="float-right required" style="line-height: 30px;" >发票类型：</label>
                                   </div>
                                   <div class="xs6 margin-left">
                                       <select id="invoiceType" class="select radius-none" ms-click="invoiceTypeSwitch(this)" style="width: 150px;"></select>
                                   </div>
                               </div>
                               <!-- id="special"隐藏部分  -->
                               <div id="special" class="hidden">
                                   <div class="xs12 margin-top form-group" >
                                       <div class="xs3">
                                           <label class="float-right required" style="line-height: 30px;">纳税人证明：</label>
                                       </div>
                                       <div class="xs6 field margin-left">
                                           <a class="button bg-blue button-small radius-none input-file" id="taxpayerFile" href="javascript:void(0);">上传文件
                                               <!--<input type="file" data-validate="required:请选择文件,regexp#.+.(jpg|jpeg|png|gif)$:只能上传jpg|gif|png格式文件"/>-->
                                               <input type="file" data-validate="regexp#.+.(jpg|jpeg|png|gif)$:只能上传jpg|gif|png格式文件"/>
                                           </a>
                                       </div>
                                   </div>
                                   <div class="xs12 form-group">
                                       <div class="xs3">
                                           <label class="float-right required" style="line-height: 30px;">纳税人识别号：</label>
                                       </div>
                                       <div class="xs6 field margin-left">
                                           <input type="text" class="input input-small radius-none" id="taxpayerId" ms-duplex="data['taxpayerId']"
                                                  placeholder="请输入纳税人识别号"
                                                  data-validate="required:必填项,length#>=15:请输入15位或者18位识别号,length#<=18:请输入15位或者18位识别号"/>
                                       </div>
                                   </div>
                                   <div class="xs12 form-group">
                                       <div class="xs3">
                                           <label class="float-right required" style="line-height: 30px;">开户行名称：</label>
                                       </div>
                                       <div class="xs6 margin-left">
                                           <select id="bankName" class="select radius-none" style="width: 150px"></select>
                                       </div>
                                   </div>
                                   <div class="xs12 form-group">
                                       <div class="xs3">
                                           <label class="float-right required" style="line-height: 30px;">开户行账号：</label>
                                       </div>
                                       <div class="xs6 field margin-left">
                                           <input type="text" class="input input-small radius-none" id="bankNo" ms-duplex="data['bankNo']"
                                                  placeholder="请输入开户行账号" data-validate="required:必填项,number:请输入正确的账号,length#>=16:请输入正确的账号,length#<=19:请输入正确的账号"/>
                                       </div>
                                   </div>
                                   <div class="xs12 form-group">
                                       <div class="xs3">
                                           <label class="float-right required" style="line-height: 30px;">地址：</label>
                                       </div>
                                       <div class="xs6 field margin-left">
                                           <input type="text" class="input input-small radius-none" ms-duplex="data['taxpayerAddress']"
                                                  id="taxpayerAddress" placeholder="请输入地址" data-validate="required:必填项"/>
                                       </div>
                                   </div>
                                   <div class="xs12 form-group">
                                       <div class="xs3">
                                           <label class="float-right required" style="line-height: 30px;">电话：</label>
                                       </div>
                                       <div class="xs6 field margin-left">
                                           <input type="text" class="input input-small radius-none" ms-duplex="data['taxpayerPhone']"
                                                  id="taxpayerPhone" placeholder="请输入手机号码" data-validate="required:必填项,mobile:输入正确的手机号码"/>
                                       </div>
                                   </div>
                               </div>

                               <div class="xs12 form-group margin-top">
                                   <div class="xs3">
                                       <label class="float-right required" style="line-height: 30px;">发票抬头：</label>
                                   </div>
                                   <div class="xs6 field margin-left">
                                       <input id="invoiceHead" class="input text-small radius-none" type="text" ms-duplex="data['invoiceHead']"
                                              placeholder="请输入发票抬头" data-validate="required:必填项,length#<=32:抬头长度小于等于32位"/>
                                   </div>
                               </div>
                               <div class="xs12 form-group">
                                   <div class="xs3">
                                       <label class="float-right required" style="line-height: 30px;">收件人姓名：</label>
                                   </div>
                                   <div class="xs6 field margin-left">
                                       <input id="receiver" class="input text-small radius-none" type="text" ms-duplex="data['receiver']"
                                              placeholder="请输入收件人姓名" data-validate="required:必填项,length#<=32:姓名长度小于等于32位" >
                                   </div>
                               </div>
                               <div class="xs12 form-group">
                                   <div class="xs3">
                                       <label class="float-right required" style="line-height: 30px;">邮寄地址：</label>
                                   </div>
                                   <div class="xs6 field margin-left">
                                       <input id="address" class="input text-small radius-none" type="text" ms-duplex="data['address']"
                                              placeholder="请输入邮寄地址" data-validate="required:必填项"/>
                                   </div>
                               </div>
                               <div class="xs12 form-group">
                                   <div class="xs3">
                                       <label class="float-right required" style="line-height: 30px;">邮编：</label>
                                   </div>
                                   <div class="xs6 field margin-left">
                                       <input id="postalCode" class="input text-small radius-none" type="text" ms-duplex="data['postalCode']"
                                              placeholder="请输入邮编" data-validate="required:必填项,number:输入正确的邮编,length#==6:输入正确的邮编">
                                   </div>
                               </div>
                               <div class="xs12 form-group">
                                   <div class="xs3">
                                       <label class="float-right required" style="line-height: 30px;">联系电话：</label>
                                   </div>
                                   <div class="xs6 field margin-left">
                                       <input id="phone" class="input text-small radius-none" type="text" ms-duplex="data['phone']"
                                              placeholder="请输入手机联系电话" data-validate="required:必填项,mobile:输入正确的手机号码" >
                                   </div>
                               </div>
                               <div class="xs12">
                                   <div class="xs3">
                                       <label class="float-right required" style="line-height: 30px;">发票条目：</label>
                                   </div>
                                   <div class="xs6 margin-left">
                                       <select id="invoiceItem" class="select radius-none" style="width: 150px;"></select>
                                       <a href="javascript:void(0);" class="text-blue margin-left text-small" ms-click="addSelect()">输入发票条目金额</a>
                                   </div>
                               </div>
                               <div class="xs12 margin-top form-group">
                                   <div class="xs3">
                                       <label class="float-right" style="line-height: 30px;">条目列表：</label>
                                   </div>
                                   <div class="xs6 field margin-left text-black">
                                       <ul style="list-style-type:none;line-height: 30px;" id="invoiceItemDetails">
                                           <li class="text-gray text-little">暂无条目</li>
                                       </ul>
                                       <label class="text-left text-little text-red hidden">请至少添加一条条目</label>
                                   </div>
                               </div>
                               <div class="xs12 margin-top form-group">
                                   <div class="xs3">
                                       <label class="float-right required">费用：</label>
                                   </div>
                                   <div class="xs6 field margin-left">
                                       <h5 class="text-red"><span id="totalAmount">{{invoiceAmount.totalAmount}}</span>元</h5>
                                       <label class="text-left text-little text-red hidden">请至少添加一条条目</label>
                                   </div>
                               </div>
                               <div class="xs12 margin-top">
                                   <div class="xs3"></div>
                                   <div class="xs6 margin-left">
                                       <input class="button bg-blue radius-none" type="button" value="申请发票" ms-click="submit()"/>
                                   </div>
                               </div>
                           </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>