<div ms-controller="userYhj">
    <div class="line">
        <div class="xs12 margin-small-bottom top-height">
            <div class="xs8">
                <div class="float-left text-large">{{title}}</div>
            </div>
        </div>
        <hr>
        <div class="xs12 alert alert-blue radius-none margin-bottom">
            <span class="close rotate-hover"></span>
            <strong>温馨提示：</strong>用户通过平台各种营销活动获取优惠券。在充值时选择使用优惠券。充值金额和优惠券联合使用确定实际充值余额。
        </div>
        <div class="xs12 margin-bottom">
            <div class="search_div">
                <div class="search_div_02">开始时间：</div>
                <div class="search_div_01">
                    <div id="beginDate" class="input-append date">
                        <input type="text"
                               class="input input-small radius-none floating-left"
                               id="beginDateFile">
                        <span class="add-on radius-none"><i class="icon-th"></i></span>
                    </div>
                </div>
            </div>
            <div class="search_div">
                <div class="search_div_02">至</div>
                <div class="search_div_01">
                    <div id="endDate" class="input-append date">
                        <input type="text"
                               class="input input-small radius-none floating-left"
                               id="endDateFile">
                        <span class="add-on radius-none"><i class="icon-th"></i></span>
                    </div>
                </div>
            </div>
            <div class="search_div">
                <div class="search_div_02">优惠券状态：</div>
                <div class="search_div_01">
                    <select class="select radius-none text-small" id="yhjStatus"></select>
                </div>
            </div>
            <div class="search_div_L">
                <div class="search_div_button">
                    <button class="button button-small radius-none" ms-click="search()"><span class="icon-search"></span>
                        查询</button>
                </div>
            </div>
        </div>
        <div id="yhjGrid" class="grid"></div>
    </div>
</div>