<div ms-controller="userCz">
	<div class="xs12 margin-small-bottom top-height">
		<div class="xs8">
			<div class="float-left text-large">{{title}}</div>
		</div>
	</div>
	<hr>

	<div class="tab xs12 ">
		<div class="tab-head ">
				<span class="tab-more padding-large-right">
					当前余额：<span class="text-yellow">{{data.user.balance}}&nbsp;</span>元&nbsp;&nbsp;
					<!--赠送余额：<span class="text-yellow">0</span>&nbsp;元&nbsp;&nbsp;-->
					<!--积分：<span class="text-yellow">1020100</span>-->
				</span>
			<ul class="tab-nav">
				<li class="active " ><a href="#tab-alipay">支付宝充值</a></li>
				<li><a href="#tab-internetbank">网银支付</a></li>
				<li ><a href="#tab-gift">礼品卡</a></li>
			</ul>
		</div>

		<div class="tab-body">
			<!--支付宝充值-->
			<div class="tab-panel active" id="tab-alipay">
				<table border="0" class="custom-table">
					<tr>
						<td>
							<div class="float-left">
								<label class="required" style="margin-top: 5px">充值金额：</label>
								<input id="amount" class="input radius-none" type="text" style="width: 160px;">&nbsp;&nbsp;元
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<span class="bank-alipay" style="margin-top: 10px;margin-left: 0;"></span>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">
							<div class="panel radius-none">
								<div class="panel-head">
									<span>温馨提示：</span><br>
									<ol class="text-small">1、通过信用卡的快捷支付有500元限制，超过500元时您可以选择其他方式支付。</ol>
									<ol class="text-small text-red">2、如您有欠费账单，充值后会优先补扣欠费账单。</ol>
									<ol class="text-small">3、充值后请及时对支付订单进行结算，以免影响正常服务。</ol>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">
							<div class="form-button">
								<button class="button bg-blue radius-none" type="button" ms-click="clickAliPay()">充值</button>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<!--网银支付-->
			<div class="tab-panel" id="tab-internetbank" >
				<table border="0" class="custom-table">
					<tr>
						<td>
							<div class="float-left">
								<label class="required" style="margin-top: 5px">充值金额：</label>
								<input id="amountBank" class="input radius-none" type="text" style="width: 160px;">&nbsp;&nbsp;元
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="float-left margin-top">
								<label>请选择银行：</label>
							</div>

						</td>
					</tr>
					<tr>
						<td>
							<div class="float-left" style="margin-top: 25px;">
								<label>
									<input name="banks" type="radio" class="float-left" checked="checked">
									<span class="bank-icbc"></span>
								</label>
								<label>
									<input name="banks" type="radio" class="float-left margin-left">
									<span class="bank-ccb"></span>
								</label>
								<label>
									<input name="banks" type="radio" class="float-left margin-left">
									<span class="bank-bankcomm"></span>
								</label>
								<label>
									<input name="banks" type="radio" class="float-left margin-left">
									<span class="bank-cmbchina"></span>
								</label>
							</div>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">
							<div class="panel radius-none">
								<div class="panel-head">
									<span>温馨提示：</span><span class="text-small">如果没有适合您的网银，请选择其他支付方式</span>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">
							<div class="form-button">
								<button class="button bg-blue radius-none" type="button" ms-click="clickBank()">充值</button>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<!--礼品卡-->
			<div class="tab-panel" id="tab-gift">
				<table border="0" class="custom-table">
					<tr>
						<td>
							<div class="float-left">
								<label class="required">礼品卡号码：</label>
								<input id="giftNum" class="input radius-none"  placeholder="输入礼品卡号码" type="text" style="width: 160px;">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="float-left" style="margin-top: 12px">
								<label class="required">礼品卡密码：</label>
								<input id="giftPwd" class="input radius-none"  placeholder="输入礼品卡密码" type="password" style="width: 160px;">
							</div>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">
							<div class="panel radius-none" style="margin-top: 12px;">
								<div class="panel-head">
									<span>温馨提示：</span><br>
									<ol class="text-small">1、用户通过平台各种营销活动获取一定数额的礼品卡卡号。</ol>
									<ol class="text-small text-red">2、如您有欠费账单，充值后会优先补扣欠费账单。</ol>
									<ol class="text-small">3、用户虚拟账户增加礼品卡号同等面值的余额。</ol>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td style="text-align: left">
							<div class="form-button">
								<button class="button bg-blue radius-none" type="button" ms-click="clickGift()">充值</button>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>