<div ms-controller="userXf">
    <div class="line">
        <div class="xs12 margin-small-bottom top-height">
            <div class="xs8">
                <div class="float-left text-large">{{title}}</div>
            </div>
        </div>
        <hr>
        <div class="xs12 alert alert-blue radius-none margin-bottom">
            <span class="close rotate-hover"></span>
            <strong>温馨提示：</strong>尊敬的用户，有产品要到期了。为了不影响您操作，请尽快办理续费！
        </div>
        <div class="xs12 margin-bottom ">
            <div class="search_div">
                <div class="search_div_02">产品名称：</div>
                <div class="search_div_01">
                    <input type="text" class="input input-small radius-none" id="productName" placeholder="请输入产品名称"/>
                </div>
            </div>
            <div class="search_div input-daterange" id="xf-picker">
                <div class="search_div_02">开始时间：</div>
                <div class="search_div_01">
                    <div  class="input-append date">
                        <input type="text" class="input input-small radius-none floating-left" />
                        <span class="add-on radius-none"><i class="icon-th"></i></span>
                    </div>
                </div>
                <div class="search_div_03">至</div>
                <div class="search_div_01">
                    <div class="input-append date">
                        <input type="text" class="input input-small radius-none floating-left" />
                        <span class="add-on radius-none"><i class="icon-th"></i></span>
                    </div>
                </div>
            </div>
            <!--<div class="search_div">-->
                <!--
            <!--</div>-->
            <div class="search_div">
                <div class="search_div_02">激活状态</div>
                <div class="search_div_01">
                    <select class="select radius-none text-small" id="status">
                        <option value="">全部</option>
                        <option value="激活">激活</option>
                        <option value="未激活">未激活</option>
                    </select>
                </div>
            </div>
            <div class="search_div_L">
                <div class="search_div_button">
                    <button class="button button-small radius-none" ms-click="searchXf()"><span class="icon-search"></span>
                        查询</button>
                </div>
            </div>
        </div>
        <div id="xfGrid" class="grid"></div>
    </div>
</div>