<div id="pnContainer" ms-controller="pnMgt" class="show">
    <div class="line show">

        <div class="xs12 padding-bottom">
            <div class="xs8">
                <div class="float-left text-large">{{title}}</div>
                <div class="margin-small-left float-left title">
                    <select class="select" ms-duplex="regionValue" ms-change="regionChanged()">
                        <option ms-repeat-el="regionData" ms-value='el.resTopologySid'>{{el.resTopologyName}}</option>
                    </select>
                    <select class="select" ms-duplex="zoneValue" ms-change="zoneChanged()">
                        <option ms-repeat-el="zoneData" ms-value='el.resTopologySid'>{{el.resTopologyName}}</option>
                    </select>
                </div>
            </div>
            <div class="xs4">
                <button class="button bg-blue float-right radius-none" type="button" ms-click="addCustomNetwork()">创建私有网络</button>
            </div>
        </div>
        
        <hr>
        <!-- grid -->
        <div id="pnGrid" class="grid"></div>
    </div>

</div>