<div ms-controller="routerMgt">

    <div id="routerContainer" class="show">
        <div class="line show">
            <div class="xs12 padding-bottom">
                <div class="xs8">
                    <div class="float-left text-large">{{title}}</div>
                    <div class="margin-small-left float-left title">
                        <select class="select" ms-duplex="regionValue" ms-change="regionChanged()">
                            <option ms-repeat-el="regionData" ms-value='el.resTopologySid'>{{el.resTopologyName}}</option>
                        </select>
                        <select class="select" ms-duplex="zoneValue" ms-change="zoneChanged()">
                            <option ms-repeat-el="zoneData" ms-value='el.resTopologySid'>{{el.resTopologyName}}</option>
                        </select>
                    </div>
                </div>
                <div class="xs4">
                    <button class="button bg-blue float-right radius-none" type="button" ms-click="addRouter()">创建路由器</button>
                </div>
            </div>
            <hr>
            <div id="routerGrid" class="grid"></div>
        </div>
    </div>    

    <!-- 管理页面 -->
    <div id="routerPort" class="change hidden">
        <div class="line">
            <div class="xs12 padding-bottom">
                <div class="xs6">
                    <div class="float-left text-large">
                        <i class="icon-arrow-left text-blue" ms-click="backList()"></i>
                        {{portRulesName}}
                    </div>
                </div>
                <div class="xs6">
                    <button class="button float-right radius-none bg-blue" type="button" ms-click="addPortsWindow()">添加端口</button>
                </div>
            </div>
            <hr>
            <div class="xs12 alert alert-blue radius-none margin-bottom ">
                <span class="close rotate-hover"></span>
                <strong>提示：</strong>端口转发时NAT端口映射，添加端口转发规则，允许来自Internet、基础网络对您私有网络内部服务的访问。
            </div>
            <div class="tab">
                <div class="tab-head">
                    <ul class="tab-nav">
                        <li class="active"><a class="radius-none" href="#tab-start">端口</a> </li>
                    </ul>
                </div>
                <div class="tab-body">
                    <div class="tab-panel active" id="tab-start">

                        <div id="portRulesGrid" class="grid"></div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>


