<div ms-controller="VPNMgt">
    <div class="line">
        <div class="xs12 margin-small-bottom top-height">
            <div class="xs8">
                <div class="float-left text-large">{{title}}</div>
                <div class="margin-small-left float-left title">
                    <select class="select" >
                        <option>华南地区（广东）</option>
                        <option>华南地区（广西）</option>
                        <option>华南地区（海南）</option>
                        <option>华中地区（湖北）</option>
                        <option>华中地区（湖南）</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div class="xs12 margin-bottom ">
            <div class="tab">
                <div class="tab-head">
                    <ul class="tab-nav" >
                        <li  class="active"><a href="#tab-ike">IKE策略</a></li>
                        <li ><a href="#tab-ipsec">IPSec策略</a></li>
                        <li ><a href="#tab-vpn">VPN服务</a></li>
                        <li ><a href="#tab-ipsecNode">IPSec站点链接</a></li>
                    </ul>
                </div>
                <div class="tab-body" >
                    <div class="tab-panel active" id="tab-ike">
                        <div id="ikeGrid" class="grid xs12"></div>
                    </div>
                    <div class="tab-panel" id="tab-ipsec">
                        <div id="ipsecGrid" class="grid xs12"></div>
                    </div>
                    <div class="tab-panel" id="tab-vpn">
                        <div id="vpnGrid" class="grid xs12"></div>
                    </div>
                    <div class="tab-panel" id="tab-ipsecNode">
                        <div id="ipsecNodeGrid" class="grid xs12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>