<script type="text/javascript">
    require(["app-modules/user-center/customerSer/vmodel/gd-add"],function(addGd){
        addGd.init();
        avalon.scan();
    });
</script>

    <form id="gdFrom">
    <table border="0" class="custom-table" ms-controller="addGd">
        <tr>
            <td class="required" style="padding-top: 20px;">问题类型：</td>
            <td>
                <select class="select radius-none" id="questionType" name="questionType" ms-duplex="data['issueType']" style="width: 200px;">
                </select>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 20px;">云主机：</td>
            <td>
                <select class="select radius-none" name="cloudHost" id="cloudHost" ms-duplex="data['cloudHost']" style="width: 200px;">
                    <option selected="selected" value="">请选择云主机</option>
                    <!--<option value="1" disabled="disabled">XX</option>-->
                    <!--<option value="2">AAAA</option>-->
                </select>
            </td>
        </tr>
        <tr>
            <td class="required" style="padding-top: 20px;">反馈邮件：</td>
            <td>
                <input class="input text-small radius-none" name="feedbackMail" ms-duplex="data['feedbackMail']" type="text " style="width: 200px;"/>
            </td>
        </tr>
        <tr>
            <td class="required" style="padding-top: 20px;">反馈电话：</td>
            <td>
                <input class="input text-small radius-none" name="feedbackPhone" ms-duplex="data['feedbackPhone']" type="text " style="width: 200px;"/>
            </td>
        </tr>
        <tr>
            <td class="required" style="padding-top: 20px;">标题：</td>
            <td>
                <input class="input text-small radius-none" type="text " name="title" ms-duplex="data['issueTitle']" style="width: 200px;"/>
            </td>
        </tr>
        <tr>
            <td class="required" style="padding-top: 20px;">问题描述：</td>
            <td>
                <textarea rows="3" class="input text-small radius-none" name="content" ms-duplex="data['issueDesc']" style="width: 270px;"></textarea>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 20px;"></td>
            <td style="padding-top: 20px;">
               <a class="button bg-blue button-small radius-none input-file">添加附件<input size="200" type="file" id="tempUploadFile" name="tempUploadFile" /></a>
                <input type="hidden" id="filePathUrl">
            </td>
        </tr>
    </table>
    </form>
