<script type="text/javascript">
    require(["app-modules/user-center/customerSer/vmodel/znxx-detail"],function(){
        avalon.vmodels.znxxDetail.data = avalon.vmodels.userZnxx.editData;
        var messageType = avalon.vmodels.userZnxx.editData.messageType;
        var createdDt = avalon.vmodels.userZnxx.editData.createdDt;
        var znxxDetail = avalon.vmodels.userZnxx.editData.znxxDetail;
        $("#messageType").text(messageType);
        $("#createdDt").text(createdDt);
        $("#znxxDetail").text(znxxDetail);
        avalon.scan();
    });
</script>

<div class="xs12 bg">
    <div class="xs5 text-center" style="margin-top: 20px;margin-bottom:20px;font-size: 12px;">
        消息类型：<span id="messageType" style="font-size: 12px;"></span>
    </div>
    <div class="xs5 text-center" style="margin-top: 20px;margin-bottom:20px;font-size: 12px;">
        创建时间：<span id="createdDt" style="font-size: 12px;"></span>
    </div>
</div>
<hr/>
<div class="margin-top margin-left margin-right">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span id="znxxDetail" style="font-size: 12px;"></span>
</div>