<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.h3c.idcloud.core.persist.marketing.dao.CouponDisDetailMapper" >
  <resultMap id="BaseResultMap" type="com.h3c.idcloud.core.pojo.dto.marketing.CouponDisDetail" >
    <id column="DISTRIBUTION_DETAIL_SID" property="distributionDetailSid" jdbcType="BIGINT" />
    <result column="COUPON_SID" property="couponSid" jdbcType="BIGINT" />
    <result column="USER_SID" property="userSid" jdbcType="BIGINT" />
    <result column="ACCOUNT_SID" property="accountSid" jdbcType="BIGINT" />
    <result column="USED_STATUS" property="usedStatus" jdbcType="INTEGER" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.couponSid != null" >
         and COUPON_SID = #{condition.couponSid}
      </if>
      <if test="condition.userSid != null" >
         and USER_SID = #{condition.userSid}
      </if>
      <if test="condition.accountSid != null" >
         and ACCOUNT_SID = #{condition.accountSid}
      </if>
      <if test="condition.usedStatus != null" >
         and USED_STATUS = #{condition.usedStatus}
      </if>
      <if test="condition.createdBy != null" >
         and CREATED_BY = #{condition.createdBy}
      </if>
      <if test="condition.createdDt != null" >
         and CREATED_DT = #{condition.createdDt}
      </if>
      <if test="condition.updatedBy != null" >
         and UPDATED_BY = #{condition.updatedBy}
      </if>
      <if test="condition.updatedDt != null" >
         and UPDATED_DT = #{condition.updatedDt}
      </if>
      <if test="condition.version != null" >
         and VERSION = #{condition.version}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    DISTRIBUTION_DETAIL_SID, COUPON_SID, USER_SID, ACCOUNT_SID, USED_STATUS, CREATED_BY, 
    CREATED_DT, UPDATED_BY, UPDATED_DT, VERSION
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from billing_coupon_distribution_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from billing_coupon_distribution_detail
    where DISTRIBUTION_DETAIL_SID = #{distributionDetailSid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from billing_coupon_distribution_detail
    where DISTRIBUTION_DETAIL_SID = #{distributionDetailSid}
  </delete>
  <delete id="deleteByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" >
    delete from billing_coupon_distribution_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.idcloud.core.pojo.dto.marketing.CouponDisDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="distributionDetailSid" order="BEFORE" >
      SELECT NEXTVAL('SEQ_COUPON_DIS_DET')
    </selectKey>
    insert into billing_coupon_distribution_detail (DISTRIBUTION_DETAIL_SID, COUPON_SID, USER_SID, ACCOUNT_SID, USED_STATUS, 
      CREATED_BY, CREATED_DT, UPDATED_BY, UPDATED_DT, VERSION)
    values (#{distributionDetailSid}, #{couponSid}, #{userSid}, #{accountSid}, #{usedStatus}, 
      #{createdBy}, #{createdDt}, #{updatedBy}, #{updatedDt}, #{version})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.idcloud.core.pojo.dto.marketing.CouponDisDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="distributionDetailSid" order="BEFORE" >
      SELECT NEXTVAL('SEQ_COUPON_DIS_DET')
    </selectKey>
    insert into billing_coupon_distribution_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      DISTRIBUTION_DETAIL_SID,
      <if test="couponSid != null" >
        COUPON_SID,
      </if>
      <if test="userSid != null" >
        USER_SID,
      </if>
      <if test="accountSid != null" >
        ACCOUNT_SID,
      </if>
      <if test="usedStatus != null" >
        USED_STATUS,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDt != null" >
        CREATED_DT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{distributionDetailSid},
      <if test="couponSid != null" >
        #{couponSid},
      </if>
      <if test="userSid != null" >
        #{userSid},
      </if>
      <if test="accountSid != null" >
        #{accountSid},
      </if>
      <if test="usedStatus != null" >
        #{usedStatus},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="createdDt != null" >
        #{createdDt},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt},
      </if>
      <if test="version != null" >
        #{version},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from billing_coupon_distribution_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update billing_coupon_distribution_detail
    <set >
      <if test="record.distributionDetailSid != null" >
        DISTRIBUTION_DETAIL_SID = #{record.distributionDetailSid},
      </if>
      <if test="record.couponSid != null" >
        COUPON_SID = #{record.couponSid},
      </if>
      <if test="record.userSid != null" >
        USER_SID = #{record.userSid},
      </if>
      <if test="record.accountSid != null" >
        ACCOUNT_SID = #{record.accountSid},
      </if>
      <if test="record.usedStatus != null" >
        USED_STATUS = #{record.usedStatus},
      </if>
      <if test="record.createdBy != null" >
        CREATED_BY = #{record.createdBy},
      </if>
      <if test="record.createdDt != null" >
        CREATED_DT = #{record.createdDt},
      </if>
      <if test="record.updatedBy != null" >
        UPDATED_BY = #{record.updatedBy},
      </if>
      <if test="record.updatedDt != null" >
        UPDATED_DT = #{record.updatedDt},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update billing_coupon_distribution_detail
    set DISTRIBUTION_DETAIL_SID = #{record.distributionDetailSid},
      COUPON_SID = #{record.couponSid},
      USER_SID = #{record.userSid},
      ACCOUNT_SID = #{record.accountSid},
      USED_STATUS = #{record.usedStatus},
      CREATED_BY = #{record.createdBy},
      CREATED_DT = #{record.createdDt},
      UPDATED_BY = #{record.updatedBy},
      UPDATED_DT = #{record.updatedDt},
      VERSION = #{record.version}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h3c.idcloud.core.pojo.dto.marketing.CouponDisDetail" >
    update billing_coupon_distribution_detail
    <set >
      <if test="couponSid != null" >
        COUPON_SID = #{couponSid},
      </if>
      <if test="userSid != null" >
        USER_SID = #{userSid},
      </if>
      <if test="accountSid != null" >
        ACCOUNT_SID = #{accountSid},
      </if>
      <if test="usedStatus != null" >
        USED_STATUS = #{usedStatus},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy},
      </if>
      <if test="createdDt != null" >
        CREATED_DT = #{createdDt},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy},
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT = #{updatedDt},
      </if>
      <if test="version != null" >
        VERSION = #{version},
      </if>
    </set>
    where DISTRIBUTION_DETAIL_SID = #{distributionDetailSid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h3c.idcloud.core.pojo.dto.marketing.CouponDisDetail" >
    update billing_coupon_distribution_detail
    set COUPON_SID = #{couponSid},
      USER_SID = #{userSid},
      ACCOUNT_SID = #{accountSid},
      USED_STATUS = #{usedStatus},
      CREATED_BY = #{createdBy},
      CREATED_DT = #{createdDt},
      UPDATED_BY = #{updatedBy},
      UPDATED_DT = #{updatedDt},
      VERSION = #{version}
    where DISTRIBUTION_DETAIL_SID = #{distributionDetailSid}
  </update>
</mapper>