<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.h3c.idcloud.core.persist.marketing.dao.GiftCardBatchMapper" >
  <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />-->
  <resultMap id="BaseResultMap" type="com.h3c.idcloud.core.pojo.dto.marketing.GiftCardBatch" >
    <id column="BATCH_SID" property="batchSid" jdbcType="BIGINT" />
    <result column="CARD_NAME" property="cardName" jdbcType="VARCHAR" />
    <result column="BATCH_NO" property="batchNo" jdbcType="VARCHAR" />
    <result column="FACE_VALUE" property="faceValue" jdbcType="DECIMAL" />
    <result column="VALID_START" property="validStart" jdbcType="TIMESTAMP" />
    <result column="VALID_TO" property="validTo" jdbcType="TIMESTAMP" />
    <result column="QUANTITY" property="quantity" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
    <result column="CREATED_DT" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />
    <result column="UPDATED_DT" property="updatedDt" jdbcType="TIMESTAMP" />
    <result column="VERSION" property="version" jdbcType="BIGINT" />
    <association property="inactiveNumber" column="BATCH_SID" select="com.h3c.idcloud.core.persist.marketing.dao.GiftCardMapper.countForBatchInactive" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.cardName != null" >
         and CARD_NAME = #{condition.cardName}
      </if>
      <if test="condition.batchNo != null" >
         and BATCH_NO = #{condition.batchNo}
      </if>
      <if test="condition.faceValue != null" >
         and FACE_VALUE = #{condition.faceValue}
      </if>
      <if test="condition.validStart != null" >
         and VALID_START = #{condition.validStart}
      </if>
      <if test="condition.validTo != null" >
         and VALID_TO = #{condition.validTo}
      </if>
      <if test="condition.quantity != null" >
         and QUANTITY = #{condition.quantity}
      </if>
      <if test="condition.status != null" >
         and STATUS = #{condition.status}
      </if>
      <if test="condition.createdBy != null" >
         and CREATED_BY = #{condition.createdBy}
      </if>
      <if test="condition.createdDt != null" >
         and CREATED_DT = #{condition.createdDt}
      </if>
      <if test="condition.updatedBy != null" >
         and UPDATED_BY = #{condition.updatedBy}
      </if>
      <if test="condition.updatedDt != null" >
         and UPDATED_DT = #{condition.updatedDt}
      </if>
      <if test="condition.version != null" >
         and VERSION = #{condition.version}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    BATCH_SID, CARD_NAME, BATCH_NO, FACE_VALUE, VALID_START, VALID_TO, QUANTITY, STATUS, 
    CREATED_BY, CREATED_DT, UPDATED_BY, UPDATED_DT, VERSION
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from billing_gift_card_batch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>

 <select id="getAvailableBatchs" resultMap="BaseResultMap">
SELECT
	*
FROM
	billing_gift_card_batch
WHERE
	STATUS = 1
ORDER BY
	created_dt DESC;
--  	SELECT *
-- 	FROM billing_gift_card_batch
-- 	where
-- 	billing_gift_card_batch.QUANTITY>=(select count(*) from
-- 	billing_gift_card where status=1 and
-- 	BATCH_SID=billing_gift_card_batch.BATCH_SID)
-- 	and  now()<![CDATA[<=billing_gift_card_batch.valid_to]]>
-- 	and (select count(*) from
-- 	billing_gift_card where status=1 and
-- 	BATCH_SID=billing_gift_card_batch.BATCH_SID)>0 order by created_dt desc;
 </select>
 
   <select id="findByParams" resultMap="BaseResultMap" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" >
    select
    <include refid="Base_Column_List" />
    from billing_gift_card_batch
    where 1=1
       <if test="condition.batchNo != null" >
         and BATCH_NO like concat('%',#{condition.batchNo}, '%')
      </if>
      <if test="condition.cardName != null" >
         and CARD_NAME like concat('%',#{condition.cardName}, '%')
      </if>
       <if test="condition.status != null" >
         and STATUS = #{condition.status}
      </if>
      <if test="orderByClause != null" >
        order by ${orderByClause}
      </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="findByParamsCnt" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*)
    from billing_gift_card_batch
    where 1=1
      <if test="condition.batchNo != null" >
         and BATCH_NO like concat('%',#{condition.batchNo}, '%')
      </if>
       <if test="condition.cardName != null" >
         and CARD_NAME like concat('%',#{condition.cardName}, '%')
      </if>
       <if test="condition.status != null" >
         and STATUS = #{condition.status}
      </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from billing_gift_card_batch
    where BATCH_SID = #{batchSid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from billing_gift_card_batch
    where BATCH_SID = #{batchSid}
  </delete>
  <delete id="deleteByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" >
    delete from billing_gift_card_batch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.idcloud.core.pojo.dto.marketing.GiftCardBatch" >
    <selectKey resultType="java.lang.Long" keyProperty="batchSid" order="BEFORE" >
      SELECT NEXTVAL('SEQ_BILLING_GIFT_CARD_BATCH')
    </selectKey>
    insert into billing_gift_card_batch (BATCH_SID, CARD_NAME, BATCH_NO, FACE_VALUE, VALID_START, VALID_TO, 
      QUANTITY, STATUS, CREATED_BY, CREATED_DT, UPDATED_BY, UPDATED_DT, 
      VERSION)
    values (#{batchSid}, #{cardName}, #{batchNo}, #{faceValue}, #{validStart}, #{validTo}, 
      #{quantity}, #{status}, #{createdBy}, #{createdDt}, #{updatedBy}, #{updatedDt}, 
      #{version})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.idcloud.core.pojo.dto.marketing.GiftCardBatch" >
    <selectKey resultType="java.lang.Long" keyProperty="batchSid" order="BEFORE" >
      SELECT NEXTVAL('SEQ_BILLING_GIFT_CARD_BATCH')
    </selectKey>
    insert into billing_gift_card_batch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      BATCH_SID,
      <if test="cardName != null" >
        CARD_NAME,
      </if>
      <if test="batchNo != null" >
        BATCH_NO,
      </if>
      <if test="faceValue != null" >
        FACE_VALUE,
      </if>
      <if test="validStart != null" >
        VALID_START,
      </if>
      <if test="validTo != null" >
        VALID_TO,
      </if>
      <if test="quantity != null" >
        QUANTITY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createdBy != null" >
        CREATED_BY,
      </if>
      <if test="createdDt != null" >
        CREATED_DT,
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY,
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{batchSid},
      <if test="cardName != null" >
        #{cardName},
      </if>
      <if test="batchNo != null" >
        #{batchNo},
      </if>
      <if test="faceValue != null" >
        #{faceValue},
      </if>
      <if test="validStart != null" >
        #{validStart},
      </if>
      <if test="validTo != null" >
        #{validTo},
      </if>
      <if test="quantity != null" >
        #{quantity},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="createdBy != null" >
        #{createdBy},
      </if>
      <if test="createdDt != null" >
        #{createdDt},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt},
      </if>
      <if test="version != null" >
        #{version},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from billing_gift_card_batch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update billing_gift_card_batch
    <set >
      <if test="record.batchSid != null" >
        BATCH_SID = #{record.batchSid},
      </if>
      <if test="record.cardName != null" >
        CARD_NAME = #{record.cardName},
      </if>
      <if test="record.batchNo != null" >
        BATCH_NO = #{record.batchNo},
      </if>
      <if test="record.faceValue != null" >
        FACE_VALUE = #{record.faceValue},
      </if>
      <if test="record.validStart != null" >
        VALID_START = #{record.validStart},
      </if>
      <if test="record.validTo != null" >
        VALID_TO = #{record.validTo},
      </if>
      <if test="record.quantity != null" >
        QUANTITY = #{record.quantity},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status},
      </if>
      <if test="record.createdBy != null" >
        CREATED_BY = #{record.createdBy},
      </if>
      <if test="record.createdDt != null" >
        CREATED_DT = #{record.createdDt},
      </if>
      <if test="record.updatedBy != null" >
        UPDATED_BY = #{record.updatedBy},
      </if>
      <if test="record.updatedDt != null" >
        UPDATED_DT = #{record.updatedDt},
      </if>
      <if test="record.version != null" >
        VERSION = #{record.version},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update billing_gift_card_batch
    set BATCH_SID = #{record.batchSid},
      CARD_NAME = #{record.cardName},
      BATCH_NO = #{record.batchNo},
      FACE_VALUE = #{record.faceValue},
      VALID_START = #{record.validStart},
      VALID_TO = #{record.validTo},
      QUANTITY = #{record.quantity},
      STATUS = #{record.status},
      CREATED_BY = #{record.createdBy},
      CREATED_DT = #{record.createdDt},
      UPDATED_BY = #{record.updatedBy},
      UPDATED_DT = #{record.updatedDt},
      VERSION = #{record.version}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h3c.idcloud.core.pojo.dto.marketing.GiftCardBatch" >
    update billing_gift_card_batch
    <set >
      <if test="cardName != null" >
        CARD_NAME = #{cardName},
      </if>
      <if test="batchNo != null" >
        BATCH_NO = #{batchNo},
      </if>
      <if test="faceValue != null" >
        FACE_VALUE = #{faceValue},
      </if>
      <if test="validStart != null" >
        VALID_START = #{validStart},
      </if>
      <if test="validTo != null" >
        VALID_TO = #{validTo},
      </if>
      <if test="quantity != null" >
        QUANTITY = #{quantity},
      </if>
      <if test="status != null" >
        STATUS = #{status},
      </if>
      <if test="createdBy != null" >
        CREATED_BY = #{createdBy},
      </if>
      <if test="createdDt != null" >
        CREATED_DT = #{createdDt},
      </if>
      <if test="updatedBy != null" >
        UPDATED_BY = #{updatedBy},
      </if>
      <if test="updatedDt != null" >
        UPDATED_DT = #{updatedDt},
      </if>
      <if test="version != null" >
        VERSION = #{version},
      </if>
    </set>
    where BATCH_SID = #{batchSid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h3c.idcloud.core.pojo.dto.marketing.GiftCardBatch" >
    update billing_gift_card_batch
    set CARD_NAME = #{cardName},
      BATCH_NO = #{batchNo},
      FACE_VALUE = #{faceValue},
      VALID_START = #{validStart},
      VALID_TO = #{validTo},
      QUANTITY = #{quantity},
      STATUS = #{status},
      CREATED_BY = #{createdBy},
      CREATED_DT = #{createdDt},
      UPDATED_BY = #{updatedBy},
      UPDATED_DT = #{updatedDt},
      VERSION = #{version}
    where BATCH_SID = #{batchSid}
  </update>
</mapper>