 <!--Header部分-->
<div id="header" class="ms-controller layout bg-back bg-inverse fixed" style="z-index: 9;" ms-controller="header" >
    <div class="container-layout">
        <div class="navbar">
            <div class="navbar-head">
                <div class="navbar-brand"> 
                    <a style="top: 4px;left:-5px">
                        <button id="sidebar-collapse" ms-click="collapsedLeftNavbar()" class="button">
                            <span class="icon-bars"></span>
                        </button>
                    </a>
                    <a class="hover-none" href="/" style="top: 3px;left: 50px;">
                        <img src="static/images/hp-logo.png" width="32" height="32" />
                        <span style="font-size: 20px;">&nbsp;金贸云</span>
                    </a>
                    
                </div>
            </div>

            <div class="navbar-body nav-navicon" id="navbar1">
                <ul class="nav nav-inline nav-menu navbar-left">

                    <li  ms-repeat-el="containerData" ms-class="active:el.url == selected">
                        <a class="bg-back" style="cursor: pointer;" ms-click="goRouter(el.url)" ><span ms-class="{{el.icon}}"></span>&nbsp;&nbsp;{{el.name}}</a>
                    </li>
                </ul>
                
                <ul class="nav nav-inline nav-menu navbar-right">

                    <li><a class="bg-back" href="javascript:;">工单服务<span class="downward"></span></a>
                        <ul class="drop-menu">
                            <li><a class="text-yellow-light" ms-click="myWorkOrder()" href="javascript:;"><span class="icon-comment" ></span>&nbsp;&nbsp;我的工单</a></li>
                            <li><a class="bg-gray" ms-click="submitOrder()" href="javascript:;"><span class="icon-comment-o"></span>&nbsp;&nbsp;提交工单</a></li>
                        </ul>
                    </li>

                    <li><a class="bg-back" href="javascript:;">帮助文档</a>
                        <!-- <ul class="drop-menu">
                            <li><a class="text-yellow-light" target="_blank" href="javascript:;"><span class="icon-envelope"></span>&nbsp;&nbsp;我的工单</a></li>
                            <li><a class="bg-gray" target="_blank" href="javascript:;"><span class="icon-envelope"></span>&nbsp;&nbsp;提交工单</a></li>
                        </ul> -->
                    </li>


                    <li>
                        <a class="bg-back" href="javascript:;"><span class="icon-bell-o"></span>&nbsp;<span class="badge bg-yellow">{{data.toDoAll}}</span><span class="downward"></span></a>
                        <ul class="drop-menu">
                            <li><a class="text-yellow-light active" ms-click="myNews()" href="javascript:;"><span class="icon-comment"></span>&nbsp;&nbsp;您有{{data.toDoMessage}}条未读消息</a></li>
                            <!--<li><a class="bg-gray" ms-click="myNews()" href="javascript:;"><span class="icon-envelope"></span>&nbsp;&nbsp;查看更多...</a></li>-->
                        </ul>
                    </li>

                    <li>
                        <a class="bg-back" href="javascript:;">
                            {{accountName}}
                            <span class="downward"></span>
                        </a>
                        <ul class="drop-menu" style="right:0;left:auto">
                            <li><a class="icon-user" ms-click="editMyInfo()" href="javascript:;">&nbsp;&nbsp;修改资料</a></li>
                            <li><a class="icon-key" ms-click="editMyPassword()" href="javascript:;">&nbsp;&nbsp;修改密码</a></li>
                            <li><a class="icon-sign-out" ms-click="loginout()" href="javascript:;">&nbsp;&nbsp;注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    require(["app-framework/vmodel/header"],function(){
        
    });   
</script>
