<script type="text/javascript">
    require(["app-modules/console/host/vmodel/add-safe-group-rule"],function(obj){
        obj.initValidator();
        obj.data = {
            port:null,
            authorizationObjectInput:null,
            authorizationObjectSelect:null
        };
        avalon.scan();
    });
</script>
<form id="addSafeGroupRuleFrom">
    <table border="0" class="custom-table" ms-controller="addSafeGroupRule">
        <tr>
            <td>协议类型：</td>
            <td>
                <select id="agreementTyle" class="select radius-none" name="agreementTyle" ms-change="agreementTyleSwitch(this)" style="width:200px">
                    <option selected="selected" value="0">TPC</option>
                    <option value="1">ICMP</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="required">端口范围：</td>
            <td>
                <input id="port" type="text" ms-duplex="data['port']" name="port" style="width:200px" class="input text-small radius-none" placeholder="1/65535">
                <p class="description" style="width: 200px">取值范围为1~65535；例如"1/200"、"80/80"</p>
            </td>
        </tr>
        <tr>
            <td>授权类型：</td>
            <td>
                <select id="authorizationType" class="select radius-none" name="authorizationType" ms-change="authorizationTypeSwitch(this)" style="width:200px">
                    <option selected="selected" value="0">地址段访问</option>
                    <option value="1">安全组访问</option>
                </select>
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">授权对象：</td>
            <td>
                <input id="authorizationObjectInput" type="text" ms-duplex="data['authorizationObjectInput']" name="authorizationObjectInput" style="width:200px" class="input text-small radius-none" placeholder="0.0.0.0/0">
                <select id="authorizationObjectSelect" class="select radius-none hidden" ms-duplex="data['authorizationObjectSelect']" name="authorizationObjectSelect" style="width:200px">
                    <option selected="selected" value="0">请选择安全组</option>
                    <option value="1">test1</option>
                    <option value="2">test2</option>
                </select>
            </td>
        </tr>
    </table>
</form>