<form id="editJxForm">
    <table border="0" class="custom-table" style="font-size: 12px" ms-controller="editJx">
        <tr>
            <td valign="middle" class="required">镜像名称/ID：</td>
            <td>
                <input id="mName" ms-duplex="data['mirrName']" style="width:220px" class="input text-small radius-none" type="text " name="mName" >
            </td>
        </tr>
        <tr>
            <td valign="middle">镜像类型：</td>
            <td>
                <input id="mType" ms-duplex="data['mirrType']" style="width:220px" class="input text-small radius-none" type="text " name="mType" disabled="disabled">
            </td>
        </tr>
        <tr>
            <td valign="top" class="required">镜像自定义描述：</td>
            <td>
                <textarea cols="15" rows="8" id="desc" style="width:220px"  ms-duplex="data['description']" name="desc"></textarea>
                <p class="description warning" style="width: 220px">请填写2-126个中英文字符</p>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    require(["app-modules/console/host/vmodel/console-jx-edit"],function(decEdit){
        decEdit.data = avalon.vmodels.consoleJx.editData;
        decEdit.initValidator();
        avalon.scan();
    });
</script>