<form id="hostEipForm">
    <table border="0" class="custom-table" ms-controller="hostEipWindow">
        <tr>
            <td>云主机：</td>
            <td>
                <input id="mName"  ms-value="data['instanceName']" class="input text-small radius-none" type="text " name="mName" disabled="disabled">
            </td>
        <tr>
        <tr>
            <td class="required">云主机IP：</td>
            <td>
                <select id="vmIp" name="vmIp" class="select radius-none " style="width:150px">
                    <option value="">--请选择云主机IP--</option>
                    <option ms-repeat-el="hostIP" ms-value='el.vmIp'>{{el.vmIp}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="required">弹性公网IP：</td>
            <td>
                <select id="eipIp" name="eipIp" class="select radius-none " style="width:150px">
                    <option value="">--请选择弹性公网IP--</option>
                    <option ms-repeat-el="eipData" ms-value='el.floatingIpSid'>{{el.instanceName}}</option>
                </select>
            </td>
        </tr>
        <tr class="hidden">
            <td class="required">：</td>
            <td>
                <select id="floatingIpSid" class="select radius-none " style="width:150px">
                    <option ms-repeat-el="eipData" ms-value='el.floatingIpSid'>{{el.floatingIpSid}}</option>
                </select>
            </td>
        </tr>
        <tr class="hidden">
            <td class="required">：</td>
            <td>
                <select id="resVmSid" class="select radius-none " style="width:150px">
                    <option ms-repeat-el="hostIpData" ms-value='el.resSid'>{{el.resSid}}</option>
                </select>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    require(["app-modules/console/host/vmodel/host-eip",'app-utils/codeService'], function (obj,code) {
        obj.data = avalon.vmodels.hostMgt.hostEipData;
        obj.eipData = code.getCustomCode("/cs/getEipForHost","POST",null);
        obj.hostIP = code.getCustomCode("/cs","POST",{instanceSid:obj.data.instanceSid});
        obj.initValidator();
        avalon.scan();
    });
</script>