<div ms-controller="hostMgt">
    <div id="hostmgt" class="line show">
        <div class="xs12 margin-small-bottom top-height">
            <div class="xs8">
                <div class="float-left text-large">云主机</div>
                <div class="margin-small-left float-left title">
                    <select class=" select radius-none " ms-duplex="regionValue" style="width:100px" name="areaBig" id="areaBig">
                        <!--<option ms-value=null>全部</option>-->
                        <option ms-repeat-el="regionData" ms-value='el.resTopologySid'>{{el.resTopologyName}}</option>
                    </select>
                    <select class=" select radius-non " ms-duplex="zoneValue" style="width:200px" name="areaSmall" id="areaSmall">
                        <option ms-repeat-el="zoneData" ms-value='el.resTopologySid'>{{el.resTopologyName}}</option>
                    </select>
                </div>
            </div>
            <div class="xs4">
                <button class="button bg-blue float-right radius-none" type="button" ms-click="add()">创建云主机</button>
            </div>
        </div>
        <hr>
        <div id="hostGrid" class="grid"></div>
    </div>
    
    <div id="hostAdd" class="change hidden">
        <div class="line">
        	<div id="hostNav">
            	<div id="">
            		<i class="icon-arrow-left" style="font-size: 20px;color: #0099D7; cursor: pointer;"
                       ms-click="backList()"></i>
            			&nbsp;<span class="text-large">云主机订购</span>
        		</div>
            	<hr>
            </div>
            <div ms-include-src="orderdg"></div>
        </div>
    </div>
    
    <!--云主机详情-->
    <div id="hostDetail" class="change hidden">
        <div class="line">
            <div class="xs12 margin-small-bottom top-height">
                <div class="xs6">
                    <div class="float-left text-large">
                        <i class="icon-arrow-left" style="font-size: 20px;color: #0099D7; cursor: pointer;"
                           ms-click="backList()"></i>

                        {{dataDetail.basic.hostName}}
                    </div>
                </div>
                <div class="xs6">
                    <button class="button bg-blue float-right radius-none" ms-click="refreshclick()" type="button">
                        <span class="icon-refresh"></span>
                        刷新
                    </button>
                </div>
            </div>
            <hr>
            <div class="xs12">
                <div class="xs5">
                    <div class="xs11 margin-bottom">
                        <div class="xs12 padding-bottom ">
                            <div class="xs12 alert radius-none  padding height">
                                基本信息
                                <!--<button class="button button-little radius-none float-right margin-left">重置密码</button>-->
                                <!--<button type="button"-->
                                        <!--class="button button-little float-right radius-none dropdown-toggle">-->
                                    <!--更多 <span class="downward"></span>-->
                                    <!--<ul class="drop-menu">-->
                                        <!--<li><a href="#">动画</a></li>-->
                                        <!--<li><a href="#">模块</a></li>-->
                                    <!--</ul>-->
                                <!--</button>-->
                            </div>
                            <div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">
                                <span class="text-gray text-small">ID：</span><span class="text-small">{{dataDetail.basic.hostName}}</span>
                            </div>
                            <div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">
                                <span class="text-gray text-small">所在可用区：</span><span class="text-small"> {{dataDetail.basic.zoneName}}</span>
                            </div>
                            <div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">
                                <span class="text-gray text-small">名称：</span><span class="text-small">{{dataDetail.basic.instanceName}}</span>
                            </div>
                            <!--<div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">-->
                                <!--<span class="text-gray text-small">描述：</span><span class="text-small"></span>-->
                            <!--</div>-->
                            <!--<div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">-->
                                <!--<span class="text-gray text-small">地域：</span> <span class="text-small">重庆</span>-->
                            <!--</div>-->
                            <!--<div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">-->
                                <!--<span class="text-gray text-small">实例规格：</span><span-->
                                    <!--class="text-small">ecs.t1.smile</span>-->
                            <!--</div>-->
                            <!--<div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">-->
                                <!--<span class="text-gray text-small">实例规格族：</span> <span class="text-small">简约型</span>-->
                            <!--</div>-->
                        </div>
                        <div class="xs12 padding-bottom">
                            <div class="xs12 alert radius-none padding height" style="height: 40px">
                                配置信息
                                <!--<button class="button button-little radius-none float-right">重新初始化磁盘</button>-->
                            </div>
                            <div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">
                                <span class="text-gray text-small">CPU：</span><span
                                    class="text-small">{{dataDetail.basic.cpu}}核</span>
                            </div>
                            <div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">
                                <span class="text-gray text-small">内存：</span><span
                                    class="text-small">{{dataDetail.basic.memory}}GB</span>
                            </div>
                            <div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">
                                <span class="text-gray text-small">操作系统：</span><span class="text-small">{{dataDetail.basic.osType}}</span>
                            </div>
                            <div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">
                                <span class="text-gray text-small">弹性公网IP：</span><span
                                    class="text-small">{{dataDetail.basic.eipIp}}</span>
                            </div>
                            <div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">
                                <span class="text-gray text-small">私有IP：</span><span
                                    class="text-small">{{dataDetail.basic.vmIp}}</span>
                            </div>
                            <!--<div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">-->
                                <!--<span class="text-gray text-small">带宽计费方式：</span><span class="text-small"></span>-->
                            <!--</div>-->
                            <!--<div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">-->
                                <!--<span class="text-gray text-small">当前使用带宽：</span><span class="text-small"></span>-->
                            <!--</div>-->
                            <!--<div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">-->
                                <!--<span class="text-gray text-small">专用网络：</span><span class="text-small">vpc-25gt</span>-->
                            <!--</div>-->
                            <!--<div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">-->
                                <!--<span class="text-gray text-small">虚拟交换机：</span><span class="text-small">vws</span>-->
                            <!--</div>-->
                            <!--<div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">-->
                                <!--<span class="text-gray text-small">NatIP：</span><span-->
                                    <!--class="text-small">123.232.121.1</span>-->
                            <!--</div>-->
                        </div>
                        <div class="xs12 padding-bottom">
                            <div class="xs12 alert radius-none padding height" style="height: 40px">
                                付费信息
                                <!--<button class="button button-little radius-none float-right">购买相同配置</button>-->
                            </div>
                            <div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">
                                <span class="text-gray text-small">订单ID：</span> <span class="text-small">{{dataDetail.basic.orderId}}</span>
                            </div>
                            <div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">
                                <span class="text-gray text-small">付费方式：</span> <span class="text-small">{{dataDetail.basic.billingTypeName}}</span>
                            </div>
                            <div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">
                                <span class="text-gray text-small">创建时间：</span><span class="text-small">{{dataDetail.basic.dredgeDate}}</span>
                            </div>
                            <div class="xs12 padding border-left-right border-bottom radius-none ellipsiss">
                                <span class="text-gray text-small">自动释放时间：</span><span class="text-small">{{dataDetail.basic.billingEndTime}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="xs1"></div>
                </div>
                <div class="xs7">
                    <div class="xs12 padding-bottom">
                        <div class="float-left text">监控信息</div>
                    </div>
                    <div class="xs12 padding-bottom">
                        <div class="xs12" id="mainCharts" style="height:250px;width: 650px"></div>
                    </div>
                    <div class="xs12 padding-bottom">
                        <div class="xs12" id="mainChartstwo" style="height:250px;width: 650px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
