<script type="text/javascript">
    require(["app-modules/console/host/vmodel/ssh-key-detail"],function(detail){
        detail.data =  avalon.vmodels.sshKey.detailData;
        detail.publicKey = "";
        detail.publicKeyFun();
        avalon.scan();
    });
</script>
<form id="detailForm">
    <table border="0" class="custom-table" ms-controller="detailSSH">
        <tr>
            <td valign="middle">SSH密钥ID：</td>
            <td>
                <span style="font-size: 12px;">{{data.resKeypairsSid}}</span>
            </td>
        </tr>
        <tr>
            <td valign="middle">名称：</td>
            <td>
                <span style="font-size: 12px;">{{data.keypairsName}}</span>
            </td>
        </tr>
        <tr>
            <td valign="middle">指纹：</td>
            <td>
                <span style="font-size: 12px;">{{data.fingerprint}}</span>
            </td>
        </tr>
        <tr>
            <td valign="top">公钥：</td>
            <td>
                <span style="font-size: 12px;width: 300px;">{{publicKey}}</span>
            </td>
        </tr>
    </table>
</form>
