<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.h3c.idcloud.core.persist.system.dao.CodeAreaMapper" >
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache">
    <property name="timeToIdleSeconds" value="3600"/>
    <property name="timeToLiveSeconds" value="3600"/>
    <property name="maxEntriesLocalHeap" value="1000"/>
    <property name="maxEntriesLocalDisk" value="10000000"/>
    <property name="memoryStoreEvictionPolicy" value="LRU"/>
  </cache>
  <resultMap id="BaseResultMap" type="com.h3c.idcloud.core.pojo.dto.system.CodeArea" >
    <id column="AREA_SID" property="areaSid" jdbcType="BIGINT" />
    <result column="AREA_ID" property="areaId" jdbcType="VARCHAR" />
    <result column="AREA_NAME" property="areaName" jdbcType="VARCHAR" />
    <result column="CITY_ID" property="cityId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.areaId != null" >
         and AREA_ID = #{condition.areaId}
      </if>
      <if test="condition.areaName != null" >
         and AREA_NAME = #{condition.areaName}
      </if>
      <if test="condition.cityId != null" >
         and CITY_ID = #{condition.cityId}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    AREA_SID, AREA_ID, AREA_NAME, CITY_ID
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_m_code_area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_m_code_area
    where AREA_SID = #{areaSid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_m_code_area
    where AREA_SID = #{areaSid}
  </delete>
  <delete id="deleteByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" >
    delete from sys_m_code_area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.h3c.idcloud.core.pojo.dto.system.CodeArea" >
    insert into sys_m_code_area (AREA_SID, AREA_ID, AREA_NAME, CITY_ID)
    values (#{areaSid}, #{areaId}, #{areaName}, #{cityId})
  </insert>
  <insert id="insertSelective" parameterType="com.h3c.idcloud.core.pojo.dto.system.CodeArea" >
    insert into sys_m_code_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaSid != null" >
        AREA_SID,
      </if>
      <if test="areaId != null" >
        AREA_ID,
      </if>
      <if test="areaName != null" >
        AREA_NAME,
      </if>
      <if test="cityId != null" >
        CITY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaSid != null" >
        #{areaSid},
      </if>
      <if test="areaId != null" >
        #{areaId},
      </if>
      <if test="areaName != null" >
        #{areaName},
      </if>
      <if test="cityId != null" >
        #{cityId},
      </if>
    </trim>
  </insert>
  <select id="countByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" resultType="java.lang.Integer" >
    select count(*) from sys_m_code_area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamsSelective" parameterType="map" >
    update sys_m_code_area
    <set >
      <if test="record.areaSid != null" >
        AREA_SID = #{record.areaSid},
      </if>
      <if test="record.areaId != null" >
        AREA_ID = #{record.areaId},
      </if>
      <if test="record.areaName != null" >
        AREA_NAME = #{record.areaName},
      </if>
      <if test="record.cityId != null" >
        CITY_ID = #{record.cityId},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByParams" parameterType="map" >
    update sys_m_code_area
    set AREA_SID = #{record.areaSid},
      AREA_ID = #{record.areaId},
      AREA_NAME = #{record.areaName},
      CITY_ID = #{record.cityId}
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.h3c.idcloud.core.pojo.dto.system.CodeArea" >
    update sys_m_code_area
    <set >
      <if test="areaId != null" >
        AREA_ID = #{areaId},
      </if>
      <if test="areaName != null" >
        AREA_NAME = #{areaName},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId},
      </if>
    </set>
    where AREA_SID = #{areaSid}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.h3c.idcloud.core.pojo.dto.system.CodeArea" >
    update sys_m_code_area
    set AREA_ID = #{areaId},
      AREA_NAME = #{areaName},
      CITY_ID = #{cityId}
    where AREA_SID = #{areaSid}
  </update>
</mapper>