<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.h3c.idcloud.core.persist.system.dao.SysTLogRecordMapper">
	<resultMap id="BaseResultMap" type="com.h3c.idcloud.core.pojo.dto.system.SysTLogRecord">
		<id column="LOG_SID" property="logSid" jdbcType="BIGINT" />
		<result column="ACCOUNT" property="account" jdbcType="VARCHAR" />
		<result column="ACT_TARGET" property="actTarget" jdbcType="VARCHAR" />
		<result column="ACT_TARGET_NAME" property="actTargetName" jdbcType="VARCHAR" />
		<result column="ACT_NAME" property="actName" jdbcType="VARCHAR" />
		<result column="ACT_LEVEL" property="actLevel" jdbcType="VARCHAR" />
		<result column="ACT_LEVEL_NAME" property="actLevelName"
			jdbcType="VARCHAR" />
		<result column="ACT_START_DATE" property="actStartDate"
			jdbcType="TIMESTAMP" />
		<result column="ACT_END_DATE" property="actEndDate" jdbcType="TIMESTAMP" />
		<result column="ACT_RESULT" property="actResult" jdbcType="VARCHAR" />
		<result column="ACT_RESULT_NAME" property="actResultName"
			jdbcType="VARCHAR" />
		<result column="ACT_FAILURE_REASON" property="actFailureReason"
			jdbcType="VARCHAR" />
		<result column="ACT_DETAIL" property="actDetail" jdbcType="VARCHAR" />
		<result column="OP_IP" property="opIp" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<trim prefix="where" prefixOverrides="and|or">
			<if test="condition.account != null">
				and A.ACCOUNT = #{condition.account}
			</if>
			<if test="condition.accountLike != null">
				and A.ACCOUNT like concat('%',
				#{condition.accountLike},'%')
			</if>
			<if test="condition.actTarget != null">
				and A.ACT_TARGET = #{condition.actTarget}
			</if>
			<if test="condition.actName != null">
				and A.ACT_NAME = #{condition.actName}
			</if>
<!-- 			<if test="condition.actNameLike != null">
				and A.ACT_NAME like concat('%',
				#{condition.actNameLike},'%')
			</if> -->
			<if test="condition.actLevel != null">
				and A.ACT_LEVEL = #{condition.actLevel}
			</if>
			<if test="condition.actStartDate != null">
				and A.ACT_START_DATE >= #{condition.actStartDate}
			</if>
			<if test="condition.actEndDate != null">
				and A.ACT_END_DATE <![CDATA[ <= #{condition.actEndDate} ]]>
			</if>
			<if test="condition.actResult != null">
				and A.ACT_RESULT = #{condition.actResult}
			</if>
			<if test="condition.actFailureReason != null">
				and A.ACT_FAILURE_REASON = #{condition.actFailureReason}
			</if>
			<if test="condition.actDetail != null">
				and A.ACT_DETAIL = #{condition.actDetail}
			</if>
			<if test="condition.actNameLike != null">
				and ( A.ACT_DETAIL like concat('%',#{condition.actNameLike},'%') or A.ACT_TARGET like concat('%',#{condition.actNameLike},'%') or A.ACT_NAME like concat('%',#{condition.actNameLike},'%'))
			</if>
		</trim>
	</sql>
	<sql id="Base_Column_List">
		A.LOG_SID, A.ACCOUNT, A.ACT_TARGET, A.ACT_NAME,
		A.ACT_LEVEL, A.ACT_START_DATE,
		A.ACT_END_DATE,
		A.ACT_RESULT,
		A.ACT_FAILURE_REASON, A.ACT_DETAIL,A.OP_IP
	</sql>
	<select id="selectByParams" resultMap="BaseResultMap"
		parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		,B.CODE_DISPLAY as ACT_LEVEL_NAME
		,C.CODE_DISPLAY as ACT_RESULT_NAME
		,D.CODE_DISPLAY as ACT_TARGET_NAME
		from sys_t_log_record A
		LEFT JOIN
		sys_m_code B ON (A.ACT_LEVEL=B.CODE_VALUE AND
		B.CODE_CATEGORY='SYS_LOG_LEVEL')
		LEFT JOIN
		sys_m_code C ON (A.ACT_RESULT=C.CODE_VALUE AND
		C.CODE_CATEGORY='SYS_LOG_RESULT')
		LEFT JOIN
		sys_m_code D ON (A.ACT_TARGET=D.CODE_VALUE AND
		D.CODE_CATEGORY='ACT_TARGET')
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<include refid="common.Mysql_Pagination_Limit" />
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from sys_t_log_record A
		where A.LOG_SID = #{logSid}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		sys_t_log_record
		where LOG_SID = #{logSid}
	</delete>
	<delete id="deleteByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria">
		delete from sys_t_log_record
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.h3c.idcloud.core.pojo.dto.system.SysTLogRecord">
		<selectKey resultType="java.lang.Long" keyProperty="logSid"
			order="BEFORE">
			SELECT NEXTVAL('SEQ_SYS_LOG')
		</selectKey>
		insert into sys_t_log_record (LOG_SID, ACCOUNT, ACT_TARGET, ACT_NAME,
		ACT_LEVEL, ACT_START_DATE,
		ACT_END_DATE, ACT_RESULT,
		ACT_FAILURE_REASON, ACT_DETAIL,OP_IP)
		values (#{logSid}, #{account},
		#{actTarget}, #{actName}, #{actLevel},
		#{actStartDate},
		#{actEndDate},
		#{actResult}, #{actFailureReason}, #{actDetail},#{opIp})
	</insert>
	<insert id="insertSelective" parameterType="com.h3c.idcloud.core.pojo.dto.system.SysTLogRecord">
		<selectKey resultType="java.lang.Long" keyProperty="logSid"
			order="BEFORE">
			SELECT NEXTVAL('SEQ_SYS_LOG')
		</selectKey>
		insert into sys_t_log_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			LOG_SID,
			<if test="account != null">
				ACCOUNT,
			</if>
			<if test="actTarget != null">
				ACT_TARGET,
			</if>
			<if test="actName != null">
				ACT_NAME,
			</if>
			<if test="actLevel != null">
				ACT_LEVEL,
			</if>
			<if test="actStartDate != null">
				ACT_START_DATE,
			</if>
			<if test="actEndDate != null">
				ACT_END_DATE,
			</if>
			<if test="actResult != null">
				ACT_RESULT,
			</if>
			<if test="actFailureReason != null">
				ACT_FAILURE_REASON,
			</if>
			<if test="actDetail != null">
				ACT_DETAIL,
			</if>
			<if test="opIp != null">
				OP_IP,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{logSid},
			<if test="account != null">
				#{account},
			</if>
			<if test="actTarget != null">
				#{actTarget},
			</if>
			<if test="actName != null">
				#{actName},
			</if>
			<if test="actLevel != null">
				#{actLevel},
			</if>
			<if test="actStartDate != null">
				#{actStartDate},
			</if>
			<if test="actEndDate != null">
				#{actEndDate},
			</if>
			<if test="actResult != null">
				#{actResult},
			</if>
			<if test="actFailureReason != null">
				#{actFailureReason},
			</if>
			<if test="actDetail != null">
				#{actDetail},
			</if>
			<if test="opIp != null">
				#{opIp},
			</if>
		</trim>
	</insert>
	<select id="countByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria"
		resultType="java.lang.Integer">
		select count(*) from sys_t_log_record A
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByParamsSelective" parameterType="map">
		update sys_t_log_record
		<set>
			<if test="record.logSid != null">
				LOG_SID = #{record.logSid},
			</if>
			<if test="record.account != null">
				ACCOUNT = #{record.account},
			</if>
			<if test="record.actTarget != null">
				ACT_TARGET = #{record.actTarget},
			</if>
			<if test="record.actName != null">
				ACT_NAME = #{record.actName},
			</if>
			<if test="record.actLevel != null">
				ACT_LEVEL = #{record.actLevel},
			</if>
			<if test="record.actStartDate != null">
				ACT_START_DATE = #{record.actStartDate},
			</if>
			<if test="record.actEndDate != null">
				ACT_END_DATE = #{record.actEndDate},
			</if>
			<if test="record.actResult != null">
				ACT_RESULT = #{record.actResult},
			</if>
			<if test="record.actFailureReason != null">
				ACT_FAILURE_REASON = #{record.actFailureReason},
			</if>
			<if test="record.actDetail != null">
				ACT_DETAIL = #{record.actDetail},
			</if>
			<if test="record.opIp != null">
				OP_IP = #{record.opIp},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByParams" parameterType="map">
		update sys_t_log_record
		set LOG_SID = #{record.logSid},
		ACCOUNT =
		#{record.account},
		ACT_TARGET = #{record.actTarget},
		ACT_NAME =
		#{record.actName},
		ACT_LEVEL = #{record.actLevel},
		ACT_START_DATE =
		#{record.actStartDate},
		ACT_END_DATE = #{record.actEndDate},
		ACT_RESULT
		= #{record.actResult},
		ACT_FAILURE_REASON = #{record.actFailureReason},
		ACT_DETAIL = #{record.actDetail},
		OP_IP = #{record.opIp}
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.h3c.idcloud.core.pojo.dto.system.SysTLogRecord">
		update sys_t_log_record
		<set>
			<if test="account != null">
				ACCOUNT = #{account},
			</if>
			<if test="actTarget != null">
				ACT_TARGET = #{actTarget},
			</if>
			<if test="actName != null">
				ACT_NAME = #{actName},
			</if>
			<if test="actLevel != null">
				ACT_LEVEL = #{actLevel},
			</if>
			<if test="actStartDate != null">
				ACT_START_DATE = #{actStartDate},
			</if>
			<if test="actEndDate != null">
				ACT_END_DATE = #{actEndDate},
			</if>
			<if test="actResult != null">
				ACT_RESULT = #{actResult},
			</if>
			<if test="actFailureReason != null">
				ACT_FAILURE_REASON = #{actFailureReason},
			</if>
			<if test="actDetail != null">
				ACT_DETAIL = #{actDetail},
			</if>
			<if test="opIp != null">
				OP_IP = #{opIp},
			</if>
		</set>
		where LOG_SID = #{logSid}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.h3c.idcloud.core.pojo.dto.system.SysTLogRecord">
		update
		sys_t_log_record
		set ACCOUNT = #{account},
		ACT_TARGET = #{actTarget},
		ACT_NAME = #{actName},
		ACT_LEVEL = #{actLevel},
		ACT_START_DATE =
		#{actStartDate},
		ACT_END_DATE = #{actEndDate},
		ACT_RESULT =
		#{actResult},
		ACT_FAILURE_REASON = #{actFailureReason},
		ACT_DETAIL =
		#{actDetail},
		OP_IP = #{opIp}
		where LOG_SID = #{logSid}
	</update>
</mapper>