<div ms-controller="alarmContacts">
    <div class="line">
        <div class="xs12 margin-small-bottom top-height">
            <div class="xs8">
                <div class="float-left text-large">{{title}}</div>
            </div>
        </div>
        <hr>
        <div class="xs12 margin-bottom ">
            <div class="tab">
                <div class="tab-head">
                    <div id="addContacts" class="show">
                        <button class="button bg-blue float-right radius-none" type="button" ms-click="addContactsClick()">新建联系人</button>
                    </div>
                    <div id="addGroup" class="hidden">
                        <button class="button bg-blue float-right radius-none" type="button" ms-click="addGroupClick()">新建联系组</button>
                    </div>
                    <ul class="tab-nav" >
                        <li class="active" value="0"><a href="#tab-contactsList">告警联系人</a></li>
                        <li value="1"><a href="#tab-contactsGroup">告警联系组</a></li>
                    </ul>
                </div>
                <div class="tab-body" >
                    <div class="tab-panel active" id="tab-contactsList">
                        <div id="contactsListGrid" class="grid xs12"></div>
                    </div>
                    <div class="tab-panel" id="tab-contactsGroup">
                        <div id="contactsGroup" class="grid xs12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>