<div   ms-controller="strategyMgt">
    <div id="strategyMgtList" class="show">
        <div  class="line">
            <div class="xs12 padding-bottom">
                <div class="xs8">
                    <div class="float-left text-large">{{title}}</div>
                </div>
                <div class="xs4">
                    <button class="button bg-blue float-right radius-none" type="button" ms-click="addStrategy()">创建告警策略</button>
                </div>
            </div>
            <hr>
            <div class="xs12 alert alert-blue radius-none margin-bottom">
                <span class="close rotate-hover"></span>
                <strong>注意：</strong>对云资源的异常情况进行告警，并提供告警信息查看、告警自定义阈值和告警订阅。
            </div>
            <div id="strategyMgtGrid" class="grid xs12"></div>
        </div>
    </div>

    <!-- 告警策略管理页面  -->
    <div id="strategyMgtPage" class="change hidden">
        <div class="line">
            <div class="xs12 margin-small-bottom top-height">
                <div class="xs6">
                    <div class="float-left text-large">
                        <i class="icon-arrow-left text-blue" ms-click="backList()"></i>
                        {{manageTitle}}
                    </div>
                </div>
            </div>
            <hr>
            <div class="xs12">
                <div class="xs5">
                    <div class="xs12 margin-bottom padding-right">
                        <div class="xs12 alert radius-none padding-small height">
                            基本信息
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">名称：</span> {{manageData.strategyName}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">策略类型：</span> {{manageData.strategyType}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">描述：</span> {{manageData.desc}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">最后修改时间：</span> {{manageData.editTime}}
                        </div>
                    </div>
                </div>
                <div class="xs7">
                    <div class="xs12 margin-bottom padding-right">
                        <div class="xs12 alert radius-none padding-small height">
                            告警规则
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none">
                            <div class="xs12 padding-bottom">
                                <div id="manageRule" class="grid xs12"></div>
                            </div>
                        </div>
                    </div>
                    <div class="xs12 margin-bottom padding-right">
                        <div class="xs12 alert radius-none padding-small height">
                            告警对象
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none">
                            <div class="xs12 alert alert-blue radius-none margin-bottom " style="height: 30px;padding-top: 5px">
                                <strong>提示：</strong>黄色叹号标记的云服务器需要安装监控Agent,告警策略才能正常运行。
                            </div>
                            <div class="tab xs12">
                                <div class="tab-head">
                                    <ul class="tab-nav">
                                        <li class="active" ><a href="#tab-gz">广州</a></li>
                                        <li><a href="#tab-sh">上海</a></li>
                                        <li ><a href="#tab-hk">香港</a></li>
                                    </ul>
                                </div>
                                <div class="tab-body">
                                    <div class="tab-panel active" id="tab-gz">
                                        <div class="xs12 padding-bottom">
                                            <div id="alarmObjGrid" class="grid xs12"></div>
                                        </div>
                                    </div>
                                    <div class="tab-panel" id="tab-sh">
                                      <!--  grid-->
                                    </div>
                                    <div class="tab-panel" id="tab-hk">
                                        <!--  grid-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="xs12 margin-bottom padding-right">
                        <div class="xs12 alert radius-none padding-small height">
                            告警通知
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none">
                            <div class="xs12 padding-bottom">
                                <div id="alarmInform" class="grid xs12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>