<div ms-controller="strategyAddWindow">
    <!-- 步骤导航 -->
    <div class="line margin-top">
        <div class="xs10 xs1-move">
            <div class="step margin-top">
                <div class="step-bar active" style="width: 33%;" id="firts">
                    <span class="step-point">1</span><span class="step-text">基本信息</span>
                </div>
                <div class="step-bar " style="width: 34%;" id="sec">
                    <span class="step-point">2</span><span class="step-text">告警规则</span>
                </div>
                <div class="step-bar " style="width: 33%;" id="th">
                    <span class="step-point">3</span><span class="step-text">告警通知</span>
                </div>
            </div>
        </div>
    </div>

    <!-- 基本信息 -->
    <div id="basicInfo" class="show margin-large-top">
        <form class="margin-top" id="basicInfoForm">
            <div class="xs12 margin-top form-group">
                <div class="xs3">
                    <label class="float-right required" style="margin-top: 4px">策略名称：</label>
                </div>
                <div class="xs6 field">
                    <input type="text" class="input input-small radius-none"  id="strategyName " placeholder="20字以内"   />
                </div>
            </div>
            <div class="xs12 margin-top form-group">
                <div class="xs3">
                    <label class="float-right" style="margin-top: 4px">策略类型：</label>
                </div>
                <div class="xs6 field"  >
                    <select id="types" class="select radius-none " >
                        <option selected="selected">云主机</option>
                        <option>云服务器</option>
                    </select>
                </div>
            </div>
            <div class="xs12 " style="margin-top: 90px">
                <div class="xs2 xs9-move">
                    <button class="button bg-blue radius-none "   type="button" ms-click="nextClick_first()">下一步 </button>
                </div>
            </div>
        </form>
    </div>

    <!--告警规则-->
    <div id="alarmRule" class="change hidden">
        <div class="line-big">
            <div class="xs10 xs1-move alert alert-blue radius-none margin-bottom  margin-top alert-little">
                <strong>注意：</strong>任何一条规则满足条件都会触发告警
            </div>
            <div class="xs11 xs1-move " style="padding-left: 21px">
                <button class="button bg-blue radius-none button-small "   type="button" ms-click="addRules()">+添加规则 </button>
            </div>
            <div class="xs11 xs1-move" style="margin-top: 5px">
                <div class="field xs6">
                    <select id="ruleName" class="select radius-none " >
                        <option selected="selected">CPU利用率</option>
                        <option>内存利用率</option>
                        <option>磁盘使用量</option>
                    </select>
                    <select id="ruleTJ" class="select radius-none " >
                        <option selected="selected"><strong> > </strong>  </option>
                        <option> <strong> < </strong> </option>
                    </select>
                    <select id="ruleNum" class="select radius-none " >
                        <option selected="selected"><strong> 90% </strong>  </option>
                        <option> <strong> 80% </strong> </option>
                    </select>
                </div>
                <label  style="margin-top: 4px">持续</label>
                <select id="time" class="select radius-none " >
                    <option selected="selected">5分钟</option>
                    <option>10分钟</option>
                </select>
            </div>
            <div class="xs11 xs1-move">
                <div class="field xs6">
                    <select id="ruleName1" class="select radius-none " >
                        <option selected="selected">CPU利用率</option>
                        <option>内存利用率</option>
                        <option>磁盘使用量</option>
                    </select>
                    <select id="ruleTJ1" class="select radius-none " >
                        <option selected="selected"><strong> > </strong>  </option>
                        <option> <strong> < </strong> </option>
                    </select>
                    <select id="ruleNum1" class="select radius-none " >
                        <option selected="selected"><strong> 90% </strong>  </option>
                        <option> <strong> 80% </strong> </option>
                    </select>
                </div>
                <label  style="margin-top: 4px">持续</label>
                <select id="time1" class="select radius-none " >
                    <option selected="selected">5分钟</option>
                    <option>10分钟</option>
                </select>
            </div>
            <div class="xs11 xs1-move">
                <div class="field xs6">
                    <select id="ruleName2" class="select radius-none " >
                        <option selected="selected">CPU利用率</option>
                        <option>内存利用率</option>
                        <option>磁盘使用量</option>
                    </select>
                    <select id="ruleTJ2" class="select radius-none " >
                        <option selected="selected"><strong> > </strong>  </option>
                        <option> <strong> < </strong> </option>
                    </select>
                    <select id="ruleNum2" class="select radius-none " >
                        <option selected="selected"><strong> 90% </strong>  </option>
                        <option> <strong> 80% </strong> </option>
                    </select>
                </div>
                <label  style="margin-top: 4px">持续</label>
                <select id="time2" class="select radius-none " >
                    <option selected="selected">5分钟</option>
                    <option>10分钟</option>
                </select>
            </div>

        </div>
        <div class="line " style="margin-top: 30px">
            <div class="xs10 xs1-move">
                <div class="xs3 ">
                    <button class="button bg-blue radius-none "   type="button" ms-click="goBackClick_first()">上一步 </button>
                </div>
                <div class="xs3 float-right ">
                    <button class="button bg-blue radius-none "   type="button" ms-click="nextClick_sec()">下一步 </button>
                </div>
            </div>
        </div>
    </div>

    <!-- 告警通知 -->
    <div id="strategyInfo" class="change hidden">
        <div style="font-size:12px;">
            <div class="float-left margin-top margin-left" style="width: 45%;">
                <span>选择告警联系组</span>
                <form class="border margin-top">
                    <input type="text" class="input radius-none" placeholder="组名/电话/邮箱" style="width: 150px;border: none"/>
                    <button class="button button-small icon-search" ms-click="search()" style="border: none"/>
                </form>
                <div class="border text-center" style="height: 130px;">
            <span style="line-height: 30px;">
                未找到匹配联系组
            </span>
                </div>
            </div>
            <div class="float-left margin-top text-center" style="width: 10%;height: 200px;">
                <span class="icon-arrows-h" style="margin-top: 20px;font-size:24px;line-height: 200px;"></span>
            </div>
            <div class="float-left margin-top" style="width: 40%;">
                <span>已选择<span class="text-red">0</span>台</span>
                <div class="border text-center margin-top" style="height: 150px;">
            <span style="line-height: 30px;">
                暂无选择联系组
            </span>
                </div>
            </div>
            <div class="xs10 xs1-move margin-large-top">
                <div class="xs3 ">
                    <button class="button bg-blue radius-none "   type="button" ms-click="goBackClick_sec()">上一步 </button>
                </div>
                <div class="xs3 float-right ">
                    <button class="button bg-blue radius-none "   type="button" ms-click="createstrategy()">创建 </button>
                </div>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript">
    require(["app-modules/console/cloudwatch/vmodel/strategy-add"],function(strategyAdd){
        // 初始化数据
//        pnAdd.addPnData = {
//            pnName:null,
//            pnDescription:null,
//            segmentNetwork:""
//        };
//        pnAdd.initValidator();
//        strategyAdd.next_step();
        avalon.scan();
    });
</script>