<form id="createAlarmContactsFrom">
    <table border="0" class="custom-table" ms-controller="createAlarmContacts">
        <tr>
            <td class="required">姓名：</td>
            <td>
                <input id="contactName" type="text" ms-duplex="data['contactName']" name="contactName" style="width:220px" class="input text-small radius-none">
                <p class="description" style="width: 220px">姓名以中英文字符开始，且长度大于2位，小于40的中文、英文字母、数字、“.”、下划线组成</p>
            </td>
        </tr>
        <tr>
            <td class="required">手机号码：</td>
            <td>
                <input id="contactPhone" type="text" ms-duplex="data['contactPhone']" name="contactPhone" style="width:220px" class="input text-small radius-none">
                <button class="button button-small radius-none" type="button">发送验证码</button>
            </td>
        </tr>
        <tr>
            <td class="required">验证码：</td>
            <td>
                <input id="code" type="text" ms-duplex="data['code']" name="code" style="width:220px" class="input text-small radius-none">
                <p class="description" style="width: 220px">填写手机验证码</p>
            </td>
        </tr>
        <tr>
            <td class="required">邮箱：</td>
            <td>
                <input id="contactEmail" type="text" ms-duplex="data['contactEmail']" name="contactEmail" style="width:220px" class="input text-small radius-none">
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    require(["app-modules/console/cloudwatch/vmodel/alarm-contacts-add"],function(obj){
        obj.initValidator();
        if(avalon.vmodels.alarmContacts.editData!=null){
            obj.data = avalon.vmodels.alarmContacts.editData;
        }else{
            obj.data = {
                contactName:"",
                contactPhone:"",
                code:"",
                contactEmail:""
            };
        }
        avalon.scan();
    });
</script>