@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	min-width:1024px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	}
img{
	border:none;
	}
.top{
	position:absolute;
	top:0px;
	z-index:9990;
	width:100%;
	}
.top iframe{
	background: transparent;
	border:none;
	height:291px;
	width:100%;
	}
.banner_bk{
	position:absolute;
	top:90px;
	width:100%;
	height:350px;
	}
.banner_box_01{
	background:url(../images/banner_pic_01_bk.jpg) repeat-x;
	width:100%;
	height:350px;
	}
.banner{
	width:1024px;
	height:350px;
	}
.banner_01_text{
	position:relative;
	top:-290px;
	left:-310px;
	width:400px;
	text-align:left;
	font-size:16px;
	color:#333333;
	}
.banner_01_text h3{
	font-weight:normal;
	line-height:20px;
	margin:0px;
	font-size:32px;
	}
.banner_01_bar{
	margin-top:40px;
	}
.more_detial{
	padding:8px 45px;
	color:#00aeef;
	font-size:14px;
	text-decoration:none;
	border:1px #00aeef solid;
	background:#e8f2f6;
	}
.more_detial:hover{
	padding:8px 45px;
	color:#35c8ff;
	font-size:14px;
	text-decoration:none;
	border:1px #35c8ff solid;
	background:#eff7fa;
	}
.dot_bar{
	margin-top:-30px;
	width:1024px;
	}
.box_li a{
	display: inline-block;
	background:url(../images/box_li.png) 12px 0px;
	margin:0px 2px;
	width:12px;
	height:12px;
	}
.box_selected a{
	width:12px;
	height:12px;
	background:url(../images/box_li.png);
    }
	
	
/*=======================middle==========================*/

.middle{
	position:absolute;
	top:440px;
	width:100%;
	}
.news_bk{
	background:#d3d3d3;
	height:28px;
	width:100%;
	}
.news_box{
	line-height:28px;
	font-size:12px;
	color:#555555;
	width:1024px;
	}
.news_box a{
	margin:0px 30px;
	text-decoration:none;
	font-size:12px;
	color:#555555;
	width:270px;
	display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	}
.news_box a:hover{
	text-decoration: underline;
	color:#0090ff;
	}
.event_bk{
	background: url(../images/event_bk.jpg) repeat-x;
	/*border:1px #f00 solid;*/
	display:block;
	height:256px;
	width:100%;
	}
.event_box{
	padding-top:26px;
	line-height:28px;
	font-size:12px;
	color:#555555;
	width:1024px;
	}
.event_box_s1, .event_box_s2, .event_box_s3, .event_box_s4{
	color:#333333;
	line-height:20px;
	text-decoration:none;
	margin:7px;
	width:240px;
	height:180px;
	float:left;
	background:#FFF;
	border-top:1px #dddddd solid;
	border-left:1px #dddddd solid;
	border-right:1px #dddddd solid;
	}
.event_box_s1{
	border-bottom:6px #2bdbaf solid;
	}
.event_box_s2{
	border-bottom:6px #ed99c7 solid;
	}
.event_box_s3{
	border-bottom:6px #6fb6ed solid;
	}
.event_box_s4{
	border-bottom:6px #efb857 solid;
	}
.event_box_s1:hover{
	background:#dcfff6;
	}
.event_box_s2:hover{
	background:#ffe4ef;
	}
.event_box_s3:hover{
	background:#ddf0ff;
	}
.event_box_s4:hover{
	background:#ffe6ba;
	}
.event_bar{
	margin-top:24px;
	}
.event_bar h3{
	margin:10px 0px 0px 0px;
	font-size:16px;
	font-weight:normal;
	}
.event_bar p{
	color:#777777;
	width:200px;
	display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	}

.product_bk{
	height:530px;
	width:100%;
	}
.product_box{
	margin-top:50px;
	border-top:2px #dddddd dashed;
	line-height:28px;
	font-size:12px;
	color:#555555;
	width:1024px;
	}
.product_box h2{
	text-align:left;
	font-size:28px;
	font-weight:normal;
	}
.product_box_s{
	display:block;
	margin:7px;
	float:left;
	width:496px;
	height:138px;
	border:1px #dddddd solid;
	background:#FFF;
	border-radius:69px;
	text-align:left;
	}
.product_box_s1{
	margin-top:38px;
	margin-left:20px;
	width:80px;
	float:left;
	}
.product_box_s2{
	margin-top:24px;
	width:360px;
	line-height:18px;
	font-size:12px;
	color:#777777;
	float:left;
	}
.product_box_s2 h3{
	margin:0px;
	font-weight:normal;
	font-size:24px;
	color:#000000;
	}
.product_more_detial{
	text-decoration:none;
	color:#ffffff;
	padding:3px 20px;
	background:#6fb6ed;
	}
.product_more_detial:hover{
	background:#8accff;
	}
.condition_bk{
	height:346px;
	width:100%;
	}
.condition_box{
	margin-top:50px;
	border-top:2px #dddddd dashed;
	line-height:28px;
	font-size:12px;
	color:#555555;
	width:1024px;
	}
.condition_box h2{
	text-align:left;
	font-size:28px;
	font-weight:normal;
	}
.condition_box_s{
	margin:0px 5px;
	text-align:left;
	float:left;
	width:330px;
	}
.condition_box_s h1{
	color:#333333;
	font-size:16px;
	font-weight:normal;
	margin:0px 0px 10px 0px;
	line-height:16px;
	}
.condition_img_01, .condition_img_02, .condition_img_03{
	padding:10px;
	height:70px;
	width:310px;
	}
.condition_img_01{
	background:url(../images/conditionpic_01.png);
	}
.condition_img_02{
	background:url(../images/conditionpic_02.png);
	}
.condition_img_03{
	background:url(../images/conditionpic_03.png);
	}
.condition_pic{
	position:relative;
	top:4px;
	margin-right:4px;
	}
.condition_box_s h2{
	margin:16px 0px 0px 10px;
	color:#000000;
	line-height:20px;
	font-size:20px;
	font-weight:bold;
	}
.condition_box_s p{
	margin:0px 0px 0px 10px;
	color:#333;
	line-height:12px;
	width:200px;
	display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	}
.condition_box_s ul{
	padding:0px;
	text-indent:0px;
	}
.condition_box_s li{
	line-height:18px;
	list-style:none;
	text-indent:0px;
	}
.condition_link{
	color:#555555;
	text-decoration:none;
	width:330px;
	display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	}
.condition_link:hover{
	text-decoration: underline;
	color:#0090ff;
	}
.condition_box_s b{
	color:#bbb;
	font-weight:normal;
	margin-right:20px;
	}

/*=======================bottom==========================*/

.bottom{
	position:absolute;
	top:1720px;
	height:280px;
	width:100%;
	}
.bottom iframe{
	border:none;
	height:280px;
	width:100%;
	}	
