body{
	background-color:#f4f4f4;
	}
.bk{
	background-color:#f4f4f4;
	}
.all_bk{
	vertical-align:top;
	margin:60px 0px 50px 0px;
	padding:30px 0px;
	border:1px #cbcbcc solid;
	background-color:#FFF;
	width:860px;
	}
.all_bk strong{
	color:#000;
	}
.all_bk h1{
	padding-top:20px;
	height:50px;
	text-align:center;
	color:#333;
	font-size:30px;
	}
.all_bk h2{
	padding-top:30px;
	font-weight:normal;
	height:10px;
	text-align:left;
	color:#333;
	font-size:16px;
	}
.all_bk_a{
	height:40px;
	text-align:center;
	color:#0066ff;
	font-size:14px;
	}
.all_bk_a a{
	color:#0066ff;
	font-size:14px;
	}

.input_t{
	line-height:20px;
	font-size:14px;
	height:40px;
	text-align:right;
}
.input_i{
	line-height:20px;
	font-size:14px;
	height:40px;
	text-align:left;
}
.input_s{
	color:#666;
	width:100%;;
	font-size:12px;
	height:40px;
	text-align:center;
}
.input_i input{
	height:20px;
	border:1px #cbcbcc solid; 
	text-indent:2px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
}
.login_pic{
	width:450px;
	padding:0px 20px;
	text-align:center;
	}
.login_lineY{
	border-left:1px #999 dotted;
	width:5px;
	}
.login_lineX{
	border-bottom:1px #999 dotted;
	}
.login_con_right{
	width:250px;
	padding:0px 10px 0px 30px;
	}

.s_phone{
	background:url(../images/register_phone_s.gif) no-repeat;
	color:#ec7a00;
	font-size:18px;
	padding-left:90px;
	}
.s_email{
	background:url(../images/register_email_s.gif) no-repeat;
	color:#ec7a00;
	font-size:18px;
	padding-left:90px;
	}
	
.reg_bar a {
	font-size:18px;
	padding:40px 0px 0px 94px;
	color:#9e9e9e;
	display:block;
	height:60px;
}
.reg_bar a.icon_01 {
	width:90px;
	background:url(../images/register_phone.gif);
}
.reg_bar a.icon_02 {
	width:90px;
	background:url(../images/register_email.gif);
}
.reg_bar a.icon_01:hover {
	color:#ec7a00;
	text-decoration:none;
	width:90px;
	background:url(../images/register_phone_hover.gif);
}
.reg_bar a.icon_02:hover {
	color:#ec7a00;
	text-decoration:none;
	width:90px;
	background:url(../images/register_email_hover.gif);
}
.reg_xy{
	color:#666;
	font-size:12px;
	height:50px;
	}
.reg_xy a{
	font-size:12px;
	color:#ff6702;
	height:50px;
	}
.yzbar{
	font-size:12px;
	border-radius:3px;
    background-image: -moz-linear-gradient( 90deg, rgb(230,230,230) 1%, rgb(254,254,254) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(230,230,230) 1%, rgb(254,254,254) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(230,230,230) 1%, rgb(254,254,254) 100%);
}
.reg_left{
	width:520px;
	padding:0px 20px;
	text-align:center;
	}
.reg_right{
	width:160px;
	padding:0px 10px 0px 30px;
	}
.reg_input_t{
	line-height:20px;
	font-size:14px;
	height:40px;
	text-align:right;
}
.reg_input_t:before{
	content:url(../images/star.png)" ";
}
.reg_input_i{
	line-height:20px;
	font-size:14px;
	height:40px;
	text-align:left;
}
.input_i1{
	line-height:20px;
	font-size:14px;
	height:40px;
	text-align:left;
}
.reg_input_i textarea{
	width:392px;
	height:100px;
	border:1px #cbcbcc solid; 
	text-indent:2px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	color:#333;
}
.reg_input_i input{
	width:392px;
	height:20px;
	border:1px #cbcbcc solid; 
	text-indent:2px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	color:#333;
	}
.input_i1 input{
	width:392px;
	height:20px;
	text-indent:2px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	color:#333;
	}
.reg_b{color:#ec7a00; font-weight:normal; font-size:18px; position:relative; left:14px; bottom:32px;}

.reg_title{
	color:#ff9c00;
	line-height:20px;
	font-weight:bold;
	font-size:22px;
	height:40px;
	}
.reg_txt{
	color:#333;
	line-height:30px;
	font-size:16px;
	height:24px;
	}
.reg_txt01{
	line-height:50px;
	color: #09C;
	padding-bottom:26px;
    }
.all_bk img{
	padding:24px 0px;
	}