@charset "utf-8";
/* CSS reset */

.se_content_01_bk{
	width:100%;
	height:570px; 
	background:url(../images/se01_pic02_bk.png) bottom repeat-x;
	}
.se_content_01{
	text-align:center; 
	width:1000px; 
	height:570px; 
	background:url(../images/se01_pic02.jpg) center bottom no-repeat;
	}
.se02_con_bk{
	width:100%;
	height:550px;
	background:url(../images/Bk01.gif) top repeat-x;
	}
.se02_con{
	width:970px;
	height:550px;
	background:#FFFFFF;
	}
.se02_con_txt{
	width:210px; text-align:left; line-height:24px;
	}
.se02_con_txt1{
	font-size:16px;
	color:#333;
	width:480px; text-align:left; line-height:24px;
	}
.se02_con_txt2{
	font-size:16px;
	color:#333;
	width:320px; text-align:left; line-height:24px;
	}
.se02_con_txt1 h4{
	color:#333;
	margin:10px 0px;
	text-indent:0px;
	}
.se02_con_txt2 h4{
	color:#333;
	margin:10px 0px;
	text-indent:0px;
	}
.se02_more{
	cursor:pointer;
	font-size:16px;
	color:#0084ff;
	}
.se02_more:hover{
	font-size:16px;
	color:#0084ff;
	}

/*文字超过宽度部分显示省略号, 只对当行有效
.crop_end{
    width:500px;
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    }*/
	
.se_content_02{
	height:200px;
	margin-top:50px;
	width:100%;
	}



.se_content_03_t1{
	margin:0px 0px 0px 20px;
	font-weight:bold;
	}
.se_content_03_con{
	text-align:left;
	line-height:30px;
	width:650px;
	font-weight:normal;
	}
.se_content_03_con h5{
	margin:10px 0px 0px 0px;
	color:#000000;
	}
.se_content_03_t1 b{
	color:#d67b02;
	font-size:14px;
	margin:0;padding:0;
	font-weight:bold;
	}

.se_content_03_t1 p{
	margin:0;padding:0;
	color:#777;
	font-size:14px;
	text-align:left;
	line-height:24px;
	list-style-type:none;
	width:650px;
	font-weight:normal;
	}
	
.jobtitle{
	width:740px;
	margin:0px 0px 4px 0px;
	padding:0px 0px;
	}	
.jobtitle a{
	font-size:16px;
	color:#007ed7;
	text-decoration:none;
	}
.nav_top{
	height:72px;
	width:940px;
	font-size:15px;
	text-align:left;
	padding-top:14px;
	}
.nav_top a{
	color:#000000;
	}



.se_content_04{
	width:100%;
	height:550px; 
	color:#FFF;
	font-size:16px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	background:url(../images/content_05_bk.png) repeat-x;
	}
.se_content_04 h1{
	padding:100px 0px 30px 0px;
	}


.soft_list{
	font-size:14px;
	padding:10px;
	text-align:left;
	margin-top:30px;
	border:1px #CCC solid;
	border-collapse:collapse;
	}
.soft_list td{
	padding:4px 10px;
	text-align:left;
	border:1px #CCC solid;
	border-collapse:collapse;
	}
	
	
	
.se_content_04b_bk{
	border-top:1px #e4e4e4 solid;
	background-color:#f7f7f7;
	}
.se_content_04b{
	text-align:left;
	margin-top:30px;
	padding-bottom:80px;
	width:800px;
	color:#333;
	font-size:16px;
	line-height:24px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	background-color:#f7f7f7;
	}
.se_content_04b a{
	text-decoration:none;
	color:#999;
	font-size:24px;
	}
.se_content_04b a:hover{
	color:#333;
	}
.se_tab{
	padding-bottom:8px;
	color:#333;
	font-size:24px;
	border-bottom:5px #0084ff solid;
	}
.se_tab_menu{
	border-bottom:1px #CCC solid; text-align:center;
	}
.se_tab_txt{
	line-height:38px;
	width:280px;
	text-indent:60px;
	}
.se_tab_txt:before{
	content:url(../images/se_icon_04.gif)" ";
	}
.help_btn a{
	font-size:16px;
	color:#0084ff;
	}
.help_btn img{
	border:0px;
	}
	
	
	
	
.se_content_04d_bk{
	height:190px;
	background-color:#000;
	}

.se_content_04d{
	height:190px;
	background:url(../images/free_bk.jpg) center no-repeat;
	}

	
/*==============价格计算器================*/	
	
.se_content_05_bk{
	border-top:1px #E4E4E4 solid;
	border-bottom:1px #E4E4E4 solid;
	background-color:#f7f7f7;
	}

.se_content_05{
	text-align:left;
	width:800px;
	color:#333;
	font-size:16px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	background-color:#f7f7f7;
	}
.se_content_05 h1{
	padding:70px 0px 30px 0px; 
	}
.se_content_05_t{
	line-height:20px;
	font-size:14px;
	height:62px;
	text-align:left;
}

.se_content_05_t_t{height:36px;}
.se_content_05_t_right{float:left; padding-right:50px;}
.se_content_05_t_right01{float:left; padding-right:34px;}
.se_content_05_t b{
	font-weight:normal;
	color:#F00;
	font-size:16px;
}
.se_content_05_t span{
	vertical-align:bottom;
}
.se_content_05_t input{
	border:1px #cbcbcc solid; 
	text-indent:2px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	color:#333;
}
.se_content_05_t select{
	border:1px #cbcbcc solid; 
	text-indent:2px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	color:#333;
	width:152px;
}
.se_content_05_t b:before{
	content: url(../images/star.gif)" ";
}
.se_content_05_t span:before{
	content: url(../images/star.gif)" ";
}
.dotline{
	border-bottom:1px #999 dotted; margin-bottom:24px; height:10px; width:80%;
	}


.input_s{
	width:28px;
	}
.se_table_bk{
	margin:30px 0px;
	border:1px #cbcbcc solid;
	background-color:#FFF;
	width:560px;
	}
.se_table{
	margin:40px 0px;
	border:1px #c9ba8d solid;
	border-collapse:collapse;
	background-color:#FFF;
	width:480px;
	}

.se_table_title{
	height:40px;
	text-align:center;
	text-indent:10px;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	border:1px #c9ba8d solid;
	border-collapse:collapse;
	background-color:#c9ba8d;
	}

.se_table_td_left{
	width:180px;
	height:40px;
	text-align:right;
	color:#333;
	font-size:14px;
	font-weight:normal;
	border-right:1px #c9ba8d solid;
	border-collapse:collapse;
	background-color:#faf8e3;
	}
.se_table_td_left_a{
	width:180px;
	height:40px;
	text-align:right;
	color:#333;
	font-size:14px;
	font-weight:normal;
	border-right:1px #c9ba8d solid;
	border-collapse:collapse;
	background-color:#efe8c4;
	}
.se_table_td_right{
	height:40px;
	text-align:left;
	color:#ff5a00;
	font-size:15px;
	font-weight:bold;
	text-indent:10px;
	border-collapse:collapse;
	background-color:#FFF;
	}
.se_table_td_right_a{
	height:40px;
	text-align:left;
	color:#ff5a00;
	font-size:15px;
	font-weight:bold;
	text-indent:10px;
	border-collapse:collapse;
	background-color:#f7f3da;
	}

.con_01{
	line-height:24px;
	width:490px;
	}
.con_01 p{
	text-indent:20px;
	font-weight:normal;
	line-height:12px;
	width:490px;
	}
.con_02{
	color:#555555;
	line-height:24px;
	width:490px;
	}
.con_03{
	line-height:20px;
	width:490px;
	}
.text_01{
	width:380px;
	line-height:20px;
	text-align:left;
	font-weight:bold;
	color:#000;
	font-size:12px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	}
.text_01 li{
	line-height:18px;
	font-weight:100;
	text-align:left;
	list-style-type:none;
	color:#000;
	font-size:12px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	}

.con{
	padding-top:60px;
	text-align:center;
	}
.con a:link{
	text-decoration:underline;
	font-weight:bold;
	color:#0361e1;
	font-size:16px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	}

.con a:visited{
	text-decoration:underline;
	font-weight:bold;
	color:#0361e1;
	font-size:16px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	}
.con a:hover{
	text-decoration:underline;
	font-weight:bold;
	color:#3886f0;
	font-size:16px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	}
.con a:active{
	text-decoration:underline;
	font-weight:bold;
	color:#0361e1;
	font-size:16px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	}
.con_01 a:link{
	text-decoration:underline;
	color:#0361e1;
	font-size:14px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	}
.con_01 a:visited{
	color:#0361e1;
	}
.con_01 a:hover{
	color:#3886f0;
	}
.con_01 a:active{
	color:#0361e1;
	}
.con_03 a:link{
	text-decoration:underline;
	color:#0361e1;
	font-size:14px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	}
.con_03 a:visited{
	color:#0361e1;
	}
.con_03 a:hover{
	color:#3886f0;
	}
.con_03 a:active{
	color:#0361e1;
	}

.tc_title{
	background-color:#E0EDEF;
	text-align:center;
	height:24px;
	font-weight:bold;
	font-size:14px;
	color:#000000;
	}	
.tc_a{
	text-align:center;
	height:70px;
	font-size:16px;
	color:#0083ba;
	}
.tc_X{
	text-align:left;
	font-size:14px;
	}		
.tc_b{
	text-align:center;
	height:70px;
	font-size:16px;
	color:#64b100;
	}	
.tc_c{
	text-align:center;
	height:70px;
	font-size:16px;
	color:#dc9100;
	}
.tab_01{
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	position:relative;
	left:20px;
	top:37px;
	}
.table_div{
	position:relative;
	left:34px;
	top:16px;
	}

.table2_title{
	position:relative;
	left:24px;
	width:830px;
	padding:32px 0px 0px 76px;
	height:42px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	font-size:18px;
	color:#000000;
	background:url(../images/t_title_01.png) no-repeat;
	}	
.Tstrong{
	font-size:16px;
	color:#FF0000;
	}	

.datalist_b{
	text-align:center;
	border:1px solid #d0d0d0;	/* 表格边框 */
	font-family:Arial;
	border-collapse:collapse;	/* 边框重叠 */
	background-color:#FFFFFF;	/* 表格背景色 */
	font-size:12px;
}

.datalist_b td{
	border-top:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;	/* 行名称边框 */
}
.table_tr01{
	background-color:#f4f4f4;
	height:68px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000000;
	font-weight:bold;
	}
.table_tr02{
	height:68px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	font-size:12px;
	color:#949494;
	font-weight:bold;
	}
.table_tr03{
	height:68px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	font-size:14px;
	color:#000000;
	font-weight:bold;
	}
.table_tr04{
	height:68px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	font-size:12px;
	color:#9c9c9c;
	font-weight:bold;
	}
.table_tr_s1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#ff7200;
	font-weight:bold;
	}
.table_tr_s2{
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	font-size:12px;
	color:#000000;
	font-weight:bold;
	}
.table_tr_s3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#0095da;
	font-weight:bold;
	}
.table_tr_s4{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#66ad00;
	font-weight:bold;
	}

.table3_title{
	position:relative;
	left:24px;
	top:40px;
	width:830px;
	padding:32px 0px 0px 76px;
	height:42px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	font-size:18px;
	color:#000000;
	background:url(../images/t_title_02.png) no-repeat;
	}	
.table3_td01{
	background-color:#f4f4f4;
	height:68px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	font-size:16px;
	color:#000000;
	font-weight:bold;
	}
.table3_td02{
	height:68px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	font-size:16px;
	color:#ca6400;
	font-weight:bold;
	}
.table3_td03{
	height:68px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#66ad00;
	font-weight:bold;
	}
.table3_td04{
	height:68px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#4b4b4b;
	font-weight:bold;
	}
.table3_td05{
	height:68px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#ff7200;
	font-weight:bold;
	}
.table3_td06{
	height:68px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#0095da;
	font-weight:bold;
	}
.table3_td07{
	height:68px;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	font-size:14px;
	color:#4b4b4b;
	font-weight:bold;
	}

.bar {
	text-align:center;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	font-size:18px;
	color:#FFFFFF;
	list-style: none;
}



.se_bar {
	margin:48px 200px -30px 200px;
	text-align:center;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	font-size:18px;
	color:#FFFFFF;
	list-style: none;
}
.se_bar a {
	padding-top:5px;
	color:#FFFFFF;
	display:block;
	height:31px;
}
.se_bar a.icon_01 {
	width:160px;
	background:url(../images/bar_bk01.png);
}
.se_bar a.icon_02 {
	width:160px;
	background:url(../images/bar_bk02.png);
}
.se_bar a.icon_01:hover {
	text-decoration:none;
	width:160px;
	background:url(../images/bar_bk01.png) 0px -36px;
}
.se_bar a.icon_02:hover {
	text-decoration:none;
	width:160px;
	background:url(../images/bar_bk02.png) 0px -36px;
}


.h_bar{
	padding-top:52px;
	width:300px;
	}
.h_bar a {
	display:block;
	height:60px;
}
.h_bar a.icon_01 {
	width:300px;
	background:url(../images/free_bar.png);
}

.h_bar a.icon_01:hover {
	width:300px;
	background:url(../images/free_bar.png) 0px 60px;
}
.h_bar_txt{color:#FFF; font-size:15px;margin-bottom:4px;}
.softlist {
	width:150px;
	text-align:center;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	font-size:14px;
	color:#FFFFFF;
	list-style: none;
}
.softlist a{
	height:24px;
	padding-bottom:2px;
	display:block;
}
.softlist a.icon_01{
	border-radius:24px;
	background-color:#44baed;
}
.softlist a.icon_01:hover{
	border-radius:24px;
	background-color:#89dbff;
}



.se03_content_01{
	width:100%;
	height:500px;
	background:url(../images/se02_pic05.png) center bottom no-repeat;
	}
.se03_content_01 h1{
	padding:70px 0px 30px 0px; 
	color:#333;
	}

.se04_con_01_bk{
	line-height:32px;
	width:100%;
	height:410px;
	background-color:#FFFFFF;
	}


.se05_con_01{
	margin-bottom:50px;
	}
.se05_txt_title{
	padding-top:74px;
	line-height:30px;
	font-size:48px;
	font-weight:bold;
	text-align:center;
	color:#f9f9f9;
	width:902px;
	}
.se05_txt1{
	text-indent:32px;
	padding-top:54px;
	line-height:30px;
	font-size:16px;
	text-align:left;
	color:#FFF;
	width:902px;
	}
.se05_txt2{
	padding-top:34px;
	line-height:30px;
	font-size:16px;
	text-align:left;
	color:#FFF;
	width:902px;
	}


.se05_content_02{
	font-size:16px;
	line-height:28px;
	width:100%;
	height:570px;
	}
.se05_content_02 h1{
	padding:70px 0px 50px 0px; 
	color:#333;
	}

.se05_content_03_bk{
	width:100%;
	height:540px;
	background:url(../images/se02_pic03_bk.gif) repeat-x;
	}
.se05_content_03{
	width:100%;
	height:540px;
	background:url(../images/se05_pic03.jpg) center bottom no-repeat;
	}
.se05_content_03 h1{
	padding:70px 0px 30px 0px; 
	color:#333;
	}
.se05_table{
	padding:0px 12px;
	font-size:14px;
	text-align:left;
	}
.se05_tableAA{
	padding-top:100px;
	}
.se05_table_tit{
	font-weight:bold;
    width:470px;
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    }
.se05_table_txt{
    width:470px;
	height:60px;
    display:block;
    overflow:hidden;
    text-overflow:ellipsis;
    }
.se05_table_tit a{
	line-height:26px;
	color:#000000;
	}
.se05_table_txt a{
	line-height:20px;
	color:#000000;
	}
.news_sty a{
	font-size:14px;
	line-height:22px;
	color:#333;
	}
.news_list{
	width:460px;
	}
.news_sty h4{
	margin:0px;
	text-indent:0px;
	color:#333;
	}
.news_list li{
	line-height:26px;
	list-style-type:disc;
	width:460px;
	white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
	}
.news_list li:before{
	content:url(../images/li_dot.gif)" ";
	}
.news_list ul{
	margin-top:10px;
	padding-left:12px;
	}
.more{
	border-top:1px #666  dotted;
	text-align:right;
	}
.more01{
	text-align:right;
	}
.more a{
	text-align:right;
	font-size:14px;
	font-weight:bold;
	color:#000;
	}
.more01 a{
	text-align:right;
	font-size:14px;
	font-weight:bold;
	color:#000;
	}

img{
	border:none;
	}

.se05_table_li{
	
	padding:3px 10px 1px 11px;
	font-size:12px;
	text-align:center;
	margin:0px 4px;
	width:28px;
	background-color:#aaa;
	font-family:arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	}
.li_selected{
	background-color:#0090ff;
	}
.se05_table_li a{
	color:#FFFFFF;
	}

.se02_content_01 h1{
	padding:70px 0px 30px 0px; 
	color:#333;
	}
.se02_content_02_bk{
	width:100%;
	height:570px;
	background:#FFF;
	}
.se02_content_02{
	width:100%;
	height:570px;
	background:url(../images/se02_pic02.png) center bottom no-repeat;
	}
.se02_content_02 h1{
	padding:70px 0px 30px 0px; 
	color:#333;
	}
.se03_content_02_bk{
	width:100%;
	height:600px;
	background:#FFF;
	}
	
.se03_con_bk{
	height:140px;
	width:100%;
	background:url(../images/xgtxr_bk.gif) repeat-x;
	}
.se03_con{
	height:140px;
	background:url(../images/xgtxr_pic.jpg) center no-repeat;
	}
.se03_con a{
	color:#FFF;
	}


.se03_content_02{
	width:880px;
	}
.se03_content_02 h1{
	padding:70px 0px 30px 0px; 
	color:#333;
	}
.se02_content_03_bk{
	width:100%;
	height:600px;
	background:url(../images/se02_pic03_bk.gif) top repeat-x;
	}
.se02_content_03{
	width:100%;
	height:600px;
	background:url(../images/se02_pic02.png.jpg) center bottom no-repeat;
	}

	
.se02_content_04_bk{
	width:100%;
	height:800px;
	background:url(../images/se02_pic04_bk.png) repeat-x;
	}
.se02_content_04{
	width:100%;
	height:800px;
	background:url(../images/se02_pic04_bk02.jpg) center top no-repeat;
	}
.se02_content_04 h1{
	padding:90px 0px 30px 0px; 
	color:#FFF;
	}
.show_pic{
	float:left; padding:10px;
	}	
	
.se02_table{
	margin-top:60px;
	margin-bottom:80px;
	}
.se02_table1{
	width:1000px;
	display:none;
	margin-top:40px;
	}
.se02_table2{
	color:#000;
	width:900px;
	text-align:left;
	font-size:16px;
	line-height:26px;
	}
.se02_table2 p{
	line-height:26px;
	}
.se02_table2_td1{
	text-indent:36px;
	color:#FFFFFF;
	line-height:36px;
	padding:0px 30px;
	font-size:18px;
	}
.se02_table2_td2{
	padding:50px 0px 10px 0px;
	width:300px;
	}
.se02_table td{
	text-align:center;
	width:190px;
	vertical-align:top;
	}
.se02_table1_td{
	text-align:center;
	width:320px;
	vertical-align:top;
	}
.se02_txt{
	width:250px; 
	text-align:left; 
	margin:0px auto; 
	line-height:30px;
	}
.se02_txt td{
	text-align:left;
	}
.bar_zhuanshu{
	padding-top:30px;
	}
.bar_zhuanshu a{
	width:208px;
	height:62px;
	display:block;
	}
.bar_zhuanshu a.icon_01:link{
	background:url(../images/bar_zhuanshu.png) no-repeat;
	}
	
.bar_zhuanshu a.icon_01:hover{
	background:url(../images/bar_zhuanshu.png) 0px -62px no-repeat;
	}

.se04_table_a{
	background:url(../images/se04_pic01.gif) no-repeat; width:486px; height:150px;
	}
.se04_table_a a{
	line-height:28px;
	font-size:16px;
	color:#d37c00;
	}
.se04_table_b{
	background:url(../images/se04_pic02.gif) no-repeat; width:486px; height:150px;
	}
.se04_table_b a{
	line-height:28px;
	font-size:16px;
	color:#1481b5;
	}
.se04_table_c{
	background:url(../images/se04_pic03.gif) no-repeat; width:972px; height:64px;
	}
.se04_table_c_a{margin:16px 0px 0px 780px; width:200px;}
.se04_table_c a{
	font-size:16px;
	color:#378a00;
	}
.se04_table_txt{
	position:relative; left:206px; top:56px;
	width:240px; text-align:left;
	}
.se06_news_01_bk{
	width:100%;
	background-color:#FFFFFF;
	}	
.se05_news_01_bk{
	margin-bottom:150px;
	width:100%;
	background-color:#FFFFFF;
	}
.se05_news_01{
	margin-bottom:40px;
	width:840px;
	}
.se05_news_01 h1{
	padding:70px 0px 20px 0px; 
	color:#333;
	}
.se05_news_01 h3{
	margin-top:50px;
	text-indent:0px;
	text-align:right;
	}
.se05_news_01 p{
	TEXT-INDENT: 2em;
	font-size:16px;
	line-height:34px;
	text-align:left;
	}
.share{
	width:210px;
	}
.share ul{
	padding:0px;
	}
.share li{
	float:left;
	list-style:none;
	}

.share_bar{
	margin:0px 4px;
	width:28px;
	}
.share_bar a {
	display:block;
	height:28px;
}
.share_bar a.icon_01 {
	width:28px;
	background:url(../images/share_icon.gif);
}
.share_bar a.icon_02 {
	width:28px;
	background:url(../images/share_icon.gif) 0px -28px;
}
.share_bar a.icon_03 {
	width:28px;
	background:url(../images/share_icon.gif) 0px -56px;
}
.share_bar a.icon_04 {
	width:28px;
	background:url(../images/share_icon.gif) 0px -84px;
}
.share_bar a.icon_01:hover {
	width:28px;
	background:url(../images/share_icon.gif) 0px -112px;
}
.share_bar a.icon_02:hover {
	width:28px;
	background:url(../images/share_icon.gif) 0px -140px;
}
.share_bar a.icon_03:hover {
	width:28px;
	background:url(../images/share_icon.gif) 0px -168px;
}
.share_bar a.icon_04:hover {
	width:28px;
	background:url(../images/share_icon.gif) 0px -196px;
}

.sepic01{
	margin:-300px 0px 50px 0px; position:relative; z-index:9999; width:100%;
	}
.sepic02{
	margin:-26px 0px 0px 0px; width:100%; position:relative; z-index:9999;
	}
.sepic02_down{
	margin-top:-2px;
	display:none; background-color:#f4f4f4; border-bottom:1px #dedede solid; height:200px;
	}
.sepic02_down_txt{
	width:820px; text-align:left; padding-top:30px; line-height:32px;
	}

.sepic02_down_txt_bar{
	margin-top:20px; margin-left:auto; margin-right:auto;
	}
.pic_bar{
	margin:0px 4px;
	}
.pic_bar a {
	cursor: default;
	display:block;
	height:102px;
}
.pic_bar a.icon_01 {
	width:399px;
	background:url(../images/se01_pic_bar01.png);
}
.pic_bar a.icon_02 {
	width:482px;
	background:url(../images/se01_pic_bar02.png);
}
.pic_bar a.icon_03 {
	width:216px;
	background:url(../images/se01_pic_bar03.png);
}
.pic_bar a.icon_04 {
	width:261px;
	background:url(../images/se01_pic_bar04.png);
}
.pic_bar a.icon_05 {
	width:379px;
	background:url(../images/se01_pic_bar05.png);
}
.pic_bar a.icon_01:hover {
	width:399px;
	background:url(../images/se01_pic_bar01.png) 0px -102px;
}
.pic_bar a.icon_02:hover {
	width:482px;
	background:url(../images/se01_pic_bar02.png) 0px -102px;
}
.pic_bar a.icon_03:hover {
	width:216px;
	background:url(../images/se01_pic_bar03.png) 0px -102px;
}
.pic_bar a.icon_04:hover {
	width:261px;
	background:url(../images/se01_pic_bar04.png) 0px -102px;
}
.pic_bar a.icon_05:hover {
	width:379px;
	background:url(../images/se01_pic_bar05.png) 0px -102px;
}

.se02_pic_bar{
	cursor:pointer;
	margin:0px 4px;
	}
.se02_pic_bar a {
	display:block;
	height:22px;
}
.se02_pic_bar a.icon_01 {
	width:100px;
	background:url(../images/se02_pic_bar.gif);
}
.se02_pic_bar a.icon_01:hover {
	width:100px;
	background:url(../images/se02_pic_bar.gif) 0px -22px;
}

.hd{
	color:#555;
	font-size:14px;
	text-align:left;
	line-height:24px;
	}
.hd_sp{
	color:#999;
	font-size:14px;
	font-weight: normal;
	}
.hd b{
	color:#f49700;
	font-size:24px;
	font-weight:bold;
	}
.hd span{
	color:#f49700;
	line-height:20px;
	font-size:14px;
	}
.hd h1{
	text-align:left;
	padding:0px;
	margin:50px 0px 10px 0px;
	color:#333333;
	font-size:24px;
	font-weight: normal;
	}

.question{
	width:920px;
	text-align:left;
	}
.question h1{
	padding:70px 0px 20px 0px; 
	color:#333;
	}
.question h3{
	padding:2px 0px 4px 10px;
	border-radius:12px;
	background:#09F;
	font-weight:normal;
	color: #fff;
	font-size:16px;
	margin-top:20px;
	text-indent:0px;
	text-align:left;
	}
.question h4{
	color:#09F;
	padding:2px 0px 0px 0px;
	font-size:16px;
	margin-top:20px;
	text-indent:0px;
	text-align:left;
	}
.question b{
	color:#333;
	font-weight:bold;
	margin:0px;
	font-size:14px;
	line-height:20px;
	text-indent:0px;
	text-align:left;
	}
.question p{
	color:#333;
	margin:0px;
	font-size:14px;
	line-height:20px;
	text-indent:0px;
	text-align:left;
	}
.question ul{
	color:#333;
	margin:0px;
	font-size:14px;
	line-height:20px;
	text-indent:0px;
	text-align:left;
	}
.question img{
	padding:6px 0px;
	max-width:870px;
	}
	
.qq_bar{
	width:190px;
	}
.qq_bar a {
	font-size:15px;
	line-height:36px;
	height:44px;
	color:#FFFFFF;
	display:block;
}

.qq_bar a.icon_01 {
	width:190px;
	background:url(../images/qq_bar.gif);
}

.qq_bar a.icon_01:hover {
	text-decoration:none;
	width:190px;
	background:url(../images/qq_bar.gif) 0px -44px;
}

/*======================================*/

.dow_line_01{
	vertical-align:top;
	text-align:left;
	border-bottom:1px #cbcbcc solid;
	}
.dow_line_02{
	vertical-align:top;
	text-align:left;
	}

.all_bk{
	margin:60px 0px 50px 0px;
	padding:0px;
	background-color:#FFF;
	width:940px;
	}
.history_bk{
	margin-top:-60px;
	margin-bottom:100px;
	text-align:left;
	width:940px;
	}

.history_bk li{
	line-height:26px;
	list-style-type: decimal;
	font-size:14px;
	color:#666666;
	}
.history_bk h4{
	text-indent:0px;
	line-height:30px;
	border-bottom:1px #999999 dotted;
	margin-top:50px;
	font-size:18px;
	}
.dow_tit_011{
	margin:10px 0px 20px 0px;
	padding:0px 10px;
	font-size:28px;
	}
.dow_tit_01{
	margin:10px 0px 20px 0px;
	padding:0px 10px;
	font-size:28px;
	float:left;
	}
.dow_tit_01 a{
	margin-top:-10px;
	color:#FFF;
	background-color:#009aff;
	padding:10px 24px;
	font-size:28px;
	float:left;
	}
.dow_tit_01 a:hover{
	color:#FFF;
	background-color:#40b3fe;
	text-decoration:none;
	font-size:28px;
	float:left;
	}

.dow_tit_02 a{
	margin:6px 10px;
	width:130px;
	margin-top:-10px;
	color:#FFF;
	background-color:#009aff;
	padding:4px 20px 6px 20px;
	font-size:16px;
	float:left;
	}
.dow_tit_02 a:hover{
	width:130px;
	color:#FFF;
	background-color:#40b3fe;
	text-decoration:none;
	font-size:16px;
	float:left;
	}
.dow_td_01{
	margin:60px 0px 30px 0px;
	font-size:24px;
	color:#000000;
	}
.dow_td_01r{
	margin:60px 0px 10px 0px;
	font-size:24px;
	color:#0099ff;
	}
.dow_td_02{
	margin:50px 0px 30px 0px;
	line-height:20px;
	font-size:14px;
	color:#666666;
	}
.dow_td_02r{
	margin:00px 0px 30px 0px;
	line-height:20px;
	font-size:14px;
	color:#666666;
	}
.dow_td_03{
	margin-bottom:50px;
	float:left;
	line-height:20px;
	font-size:15px;
	color:#555555;
	}
.dow_td_red{
	margin:20px 0px 50px 0px;
	line-height:20px;
	font-size:14px;
	font-weight:bold;
	color: #F00;
	}
.dow_td_red a{
	text-decoration: underline;
	line-height:20px;
	font-weight: normal;
	font-size:14px;
	color: #F00;
	}
.dow_td_red a:hover{
	text-decoration: underline;
	line-height:20px;
	font-weight: normal;
	font-size:14px;
	color: #ff7878;
	}
.video_bk{
	width:928px;
	height:642px;
	background: url(../images/video_bk.jpg) no-repeat;
	}
.video{
	padding:43px 0px 0px 45px;
	}
.video_icon{
	text-align:center;
	}
.video_icon_bk{
	margin-top:-20px;
	width:928px;
	text-align:center;
	}

.video_bar{
	min-width:120px;
	margin:0px 10px;
	}
.video_bar a{
	padding-top:80px;
	color:#0084e1;
	display:block;
	height:26px;
}
.video_bar a.icon_01 {
	min-width:76px;
	background:url(../images/video_icon.jpg) no-repeat top center;
}
.video_bar a.icon_01:hover {
	min-width:76px;
	background:url(../images/video_icon_hover.jpg) no-repeat top center;
}

.ad_barP{
}
.ad_barP a{
	display:block;
	height:48px;
}
.ad_bar0_P{
	margin-left:0px;
	}
.c_bar:link{
	width:900px;
	height:430px;
	}


.c_bar:hover{
	width:900px;
	height:430px;
	}
	
/*===============渲染百科样式===================*/

.renderBk_bk{
	margin-top:-20px;
	height:2200px;
	width:959px;
	background:#dadada;
	}
.frame_left{
	margin-top:20px;
	float:left;
	}
.frame_right{
	margin-top:20px;
	float:right;
	}
.frame_left_box{
	margin:14px 14px 14px 20px;
	width:600px;
	border-top:6px #000 solid;
	background:#FFFFFF;
	}
.frame_right_box{
	margin:14px 20px 14px 2px;
	width:300px;
	border-top:6px #000 solid;
	background:#FFFFFF;
	}
.frame_right_box_con{
	width:260px;
	padding-bottom:18px;
	}
.frame_right_box_con h4{
	font-weight: normal;
	text-indent:0px;
	text-align:left;
	color:#333;
	font-size:16px;
	}
.right_ul{
	border-bottom:1px #bcbcbc dotted;
	padding:0px 0px 8px 0px;
	}
.right_ul_noline{
	padding:0px;
	}
.frame_right_box_search{
	margin:14px 20px 14px 2px;
	width:300px;
	border-top:6px #000 solid;
	background:#FFFFFF;
	background:url(../images/renderBk_search.gif);
	height:75px;
	}
.frame_right_box_search input{
	border:none;
	height:20px;
	text-indent:4px;
	}
.render_search:link{
	margin:0px 0px 0px 10px;
	background:#ef9f00;
	border-radius:4px;
	padding:3px 26px;
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	}
.render_search:hover{
	text-decoration:none;
	background:#fead00;
	}
.frame_right_box_render{
	margin:14px 20px 14px 2px;
	width:300px;
	border-top:6px #000 solid;
	background:#FFFFFF;
	background:url(../images/renderBk_render.gif);
	height:102px;
	}
.render_bar:link{
	display:block;
	padding:30px;
	color:#FFFFFF;
	font-size:28px;
	height:40px;
	}
.render_bar:hover{
	text-decoration:none;
	}
.article:link{
	text-align:center;
	display:block;
	padding:8px 30px;
	color:#FFFFFF;
	font-size:16px;
	background:#60a5e4;
	border-radius:6px;
	margin:24px 0px;
	}
.li_01, .li_02, .li_03, .li_04, .li_05, .li_b_01, .li_b_03, .li_05_call{
	text-align:left;
	list-style-type:none;
	}
.li_01 a{
	font-weight: normal;
	text-align:left;
	color:#008ac3;
	font-size:16px;
	line-height:30px;
	display:block;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	}
.li_02 a{
	font-weight: bold;
	text-align:left;
	color:#666666;
	font-size:12px;	}
.li_03 a{
	font-weight: normal;
	text-align:left;
	color:#777777;
	font-size:14px;
	display:block;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	}
.li_05{
	color:#333333;
	font-size:14px;
	}
.li_05 b{
	color:#0074d2;
	font-size:18px;
	}
.li_05_call{
	font-size:30px;
	font-weight: bold;
	color:#649d00;
	}
.li_04 a{
	font-weight: normal;
	text-align:left;
	color:#777777;
	font-size:14px;
	display:block;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	line-height:26px;
	}
.li_04 a:before{
	content:url(../images/li_dot.gif)" ";
	}
.frame_left_box_con{
	width:560px;
	padding:18px;
	}
.left_ul01{
	padding:10px 0px 0px 0px;
	}
.li_b_01 a{
	list-style-type:none;
	font-weight: normal;
	text-indent:0px;
	text-align:left;
	color:#008ac3;
	font-size:18px;
	line-height:30px;
	display:block;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	}

.li_b_03 a{
	list-style-type:none;
	font-weight: normal;
	text-indent:0px;
	text-align:left;
	color:#777777;
	font-size:16px;
	display:block;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	}
.left_dot_bk{
	position:relative;
	top:10px;
	left:456px;
	}
.left_dot_ul{
	margin:0px;
	padding:0px;
	width:560px;
	}
.left_dot_li{
	width:12px;
	height:12px;
	margin:0px 4px;
	list-style-type:none;
	float:left;
	}
.left_dot{
	display:block;
	background:#adadad;
	width:12px;
	height:12px;
	border-radius:6px;
	}
.left_dot_S{
	display:block;
	background:#000000;
	width:12px;
	height:12px;
	border-radius:6px;
	}
.frame_left_box_con h4{
	margin:0px;
	padding:0px 0px 8px 0px;
	border-bottom:1px #bcbcbc dotted;
	font-weight: normal;
	text-indent:0px;
	text-align:left;
	color:#333;
	font-size:16px;
	}
.left_ul{
	text-align:left;
	list-style-type:none;
	border-bottom:1px #bcbcbc dotted;
	padding:0px 0px 8px 0px;
	}
.li_01_left a{
	list-style-type:none;
	font-weight: normal;
	text-indent:0px;
	text-align:left;
	color:#008ac3;
	font-size:18px;
	line-height:24px;
	display:block;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	}
.li_02_left{
	margin-top:16px;
	list-style-type:none;
	font-weight: normal;
	text-indent:0px;
	text-align:left;
	color:#777777;
	font-size:16px;	
	line-height:22px;
	}
.li_02_left a{
	list-style-type:none;
	font-weight: normal;
	text-indent:0px;
	text-align:left;
	color:#008ac3;
	font-size:16px;	
	}
.li_03_left{
	height:36px;
	list-style-type:none;
	font-weight: normal;
	text-indent:0px;
	text-align:left;
	color:#777777;
	font-size:14px;
	line-height:50px;
	}
.li_03_left a{
	list-style-type:none;
	font-weight: normal;
	text-indent:0px;
	color:#777777;
	font-size:14px;
	line-height:36px;	
	}
.li_03_left a:hover{
	list-style-type:none;
	font-weight: normal;
	text-indent:0px;
	color:#008ac3;
	font-size:14px;
	line-height:36px;	
	}
.tab{
	color:#777;
	font-size:14px;
	}
.tab b{
	font-weight:bold;
	color:#000;
	}
.tab a:link{
	color:#777777;
	font-size:14px;
	}
.tab a:hover{
	color:#008ac3;
	font-size:14px;
	}