<script type="text/javascript">
    require(["app-modules/user-center/orderMgt/vmodel/order-pay-three"],function(third){
        third.orderType=avalon.vmodels.payFlowTwo.orderType;
        var payResultFlag = avalon.vmodels.payFlowTwo.payResultFlag;
        var payResultResult = avalon.vmodels.payFlowTwo.payResultResult;
        third.createResultPage(payResultFlag,payResultResult);
        avalon.scan();
    });
</script>
<style type="text/css">
    .ms-controller{visibility: hidden;}
</style>
<!-- 1、确认页面 -->
<div ms-controller="payFlowThree" class="ms-controller">
    <!-- 成功 -->
    <div class=" x12 margin-small-bottom top-height">
        <div class="x8">
            <div class="float-left text-large">{{resultTitle}}</div>
        </div>
    </div>
    <hr>
    <div class="step" style="margin-top:20px;">
        {{resultSubTitle | html}}
    </div>
    <div class="line  text-center " style="margin-top: 80px;">
        {{resultContent | html}}
    </div>

</div>