<div id="diskLsit" ms-controller="consoleDisk">
	<div class="line">
		<div class="xs12 padding-bottom">
			<div class="xs8">
				<div class="float-left text-large">{{title}}</div>
				<div class="margin-small-left float-left title">
					<select class="select">
						<option>华南地区（广东）</option>
						<option>华南地区（广西）</option>
						<option>华南地区（海南）</option>
						<option>华中地区（湖北）</option>
						<option>华中地区（湖南）</option>
					</select>
				</div>
			</div>
			<div class="xs4">
				<button class="button bg-blue float-right radius-none" type="button" ms-click="add()">创建云硬盘</button>
			</div>
		</div>
		<hr>
		<div class="xs12 alert alert-blue radius-none margin-bottom">
			<span class="close rotate-hover"></span>
			<strong>注意：</strong>目前镜像功能处于免费试用期。您已经创建1个自定义镜像，还能创建29个自定义镜像
		</div>
		<div class="xs12 margin-bottom">
			<div class="search_div">
				<div class="search_div_02">名称：</div>
				<div class="search_div_01">
					<input type="text" class="input input-small radius-none" id="userName" placeholder="请输入搜索名称"/>
				</div>
			</div>
			<div class="search_div">
				<div class="search_div_02">开始时间：</div>
				<div class="search_div_01">
					<div id="beginDate" class="input-append date">
						<input type="text" class="input input-small radius-none floating-left">
						<span class="add-on radius-none"><i class="icon-th"></i></span>
					</div>
				</div>
				<div class="search_div_03">至</div>
				<div class="search_div_01">
					<div id="endDate" class="input-append date">
						<input type="text" class="input input-small radius-none floating-left">
						<span class="add-on radius-none"><i class="icon-th"></i></span>
					</div>
				</div>
			</div>
			<div class="search_div">
				<div class="search_div_02">磁盘状态：</div>
				<div class="search_div_01">
					<select class="select text-small radius-none">
						<option value="">全部</option>
						<option value="1">使用中</option>
						<option value="2">未使用</option>
					</select>
				</div>
			</div>
			<div class="search_div_L">
				<div class="search_div_button">
					<button class="button button-small radius-none">
						<span class="icon-search"></span>
						查询
					</button>
				</div>
			</div>
		</div>
		<div id="diskGrid" class="grid xs12"></div>
	</div>
</div>