<div ms-controller="testValidator">
	<form id="signupForm" >
		<table class="custom-table" border="0"> 
		    <tr>
		        <td valign="middle" width="100">用户名:</td>
		        <td>
		            <input id="username" name="username" class="input text-small radius-none" style="width: 250px">
		        </td>
		    </tr>
		    <tr>
		        <td valign="middle" width="100">兴趣:</td>
		        <td>
		            服务协议&nbsp;&nbsp;<input type="checkbox" class="checkbox" id="agree" name="agree" />
		        </td>
		    </tr>
		    <tr>
		        <td valign="middle">密码:</td>
		        <td>
		            <input type="password" id="password" class="input text-small radius-none" style="width: 180px" name="password">
		        </td>
		    </tr>
		    <tr>
		        <td valign="middle">确认密码:</td>
		        <td>
		            <input type="password" id="confirm_password" class="input text-small radius-none" style="width: 180px" name="confirm_password">
		        </td>
		    </tr>
		    <tr>
		        <td valign="middle">邮件:</td>
		        <td>
		            <input type="text" id="email" class="input text-small radius-none" style="width: 180px" name="email">
		        </td>
		    </tr>
		    <tr>
		        <td valign="middle">邮编:</td>
		        <td>
		            <input type="text" id="zipCode" class="input text-small radius-none" style="width: 180px" name="zipCode">
		        </td>
		    </tr>
		    <tr>
		        <td>所属行业:</td>
		        <td>
		            <select id="industry" class="select radius-none" style="width:160px">
		                <option selected="selected" value="0">请选择您的行业类型</option>
		                <option value="1">企业</option>
		                <option value="2">政府</option>
		                <option value="3">事业单位</option>
		                <option value="4">社会团体</option>
		            </select>
		        </td>
		    </tr>

		    <tr>
		        <td></td>
		        <td>
		        	
		        </td>
		    </tr>

		</table>
	</form>        
	 <button class="button  bg-blue radius-none">保存</button>
</div>
