

<div  ms-controller="slider">
	<span>&nbsp;&nbsp;1) 样式1</span>
	<input type="text" id="range1" style="width:500px;" value="" name="range" /> <br/ >
      
	<br />
	<span>&nbsp;&nbsp;2) 样式2</span>
	<input type="text" id="range2" value="" name="range" />

	
	<br /><br />
		
	<h2>样式1的值：{{value1}}</h2>
	<h2>样式2的值：{{value2}}  ~ {{value3}}</h2>

    <br /><br />
	<h3>更多详情</h3>
	<hr class="bg-main" />
	<span>DEMO：<a href="http://ionden.com/a/plugins/ion.rangeSlider/demo_interactions.html" target="_blank">http://ionden.com/a/plugins/ion.rangeSlider/demo_interactions.html</a></span>
	<br />
	<span>GitHub：<a href="https://github.com/IonDen/ion.rangeSlider" target="_blank">https://github.com/IonDen/ion.rangeSlider</a></span>
	
</div>