

<div  ms-controller="demoDatepicker">
	<span>&nbsp;&nbsp;1) 输入框</span>
	<input type="text" class="input" style="width:150px" id="pickerType1">

	
	<br />
	<span>&nbsp;&nbsp;2) 带图标的输入框</span>
	<div id="pickerType2" class="input-append date">
	  <input type="text" class="input radius-none floating-left" style="width:150px">
	  <span class="add-on"><i class="icon-th"></i></span>
	</div>

	<br /><br />
	<span>&nbsp;&nbsp;3) 选择时间范围</span>
	<div class="input-daterange" id="pickerType3">
		<div class="search_div_01">
			<div class="input-append date">
				<input type="text" class="input radius-none floating-left" style="width:150px" name="start" />
	    		<span class="add-on radius-none"><i class="icon-th"></i></span>
			</div>
	    	<!-- <input type="text" class="input radius-none floating-left" style="width:150px" name="start" />
	    	<span class="add-on radius-none"><i class="icon-th"></i></span> -->
	    </div>
    	<!-- <span class="add-on">to</span> -->
    	<div class="search_div_03">至</div>
    	<div class="search_div_01">
    		<input type="text" class="input radius-none floating-left" style="width:150px" name="end" />
    	<span class="add-on"><i class="icon-th"></i></span>
    	</div>
    	<!-- <input type="text" class="input radius-none floating-left" style="width:150px" name="end" />
    	<span class="add-on"><i class="icon-th"></i></span> -->
	</div>
	<br /><br /><br /><br /><br /><br />
	<h3>更多详情</h3>
	<hr class="bg-main" />
	<span>具体API参见：<a href="http://bootstrap-datepicker.readthedocs.org/en/latest/index.html" target="_blank">http://bootstrap-datepicker.readthedocs.org/en/latest/index.html</a></span>
	<br />
	<span>在线编辑：<a href="http://eternicode.github.io/bootstrap-datepicker/?#sandbox" target="_blank">http://eternicode.github.io/bootstrap-datepicker/?#sandbox</a></span>
	
</div>