<div  ms-controller="consoleJx">
    <div id="mirrList">
        <div class="line">
            <div class="xs12 margin-small-bottom top-height ">
                <div class="xs8 ">
                    <div class="float-left text-large">{{title}}</div>
                    <div class="margin-small-left float-left title">
                        <select class="select">
                            <option>华南地区（广东)</option>
                            <option>华南地区（广西）</option>
                            <option>华南地区（海南）</option>
                            <option>华中地区（湖北）</option>
                            <option>华中地区（湖南）</option>
                            <option>华中地区（河南）</option>
                            <option>华中地区（江西）</option>
                            <option>华北地区（北京）</option>
                            <option>华北地区（天津）</option>
                            <option>华北地区（河北）</option>
                            <option>华北地区（山西）</option>
                            <option>华北地区（内蒙古）</option>
                            <option>西北地区（宁夏）</option>
                            <option>西北地区（新疆）</option>
                            <option>西北地区（青海）</option>
                            <option>西北地区（陕西）</option>
                            <option>西北地区（甘肃）</option>
                            <option>西南地区（四川）</option>
                            <option>西南地区（云南）</option>
                            <option>西南地区（贵州）</option>
                            <option>西南地区（西藏）</option>
                            <option>西南地区（重庆）</option>
                            <option>东北地区（辽宁)</option>
                            <option>东北地区（吉林)</option>
                            <option>东北地区（黑龙江)</option>
                            <option>台港澳地区（台湾）</option>
                            <option>台港澳地区（香港）</option>
                            <option>台港澳地区（澳门）</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="xs12 alert alert-blue radius-none margin-bottom ">
                <span class="close rotate-hover"></span>
                <strong>注意：</strong>目前镜像功能处于免费试用期。您已经创建1个自定义镜像，还能创建29个自定义镜像
            </div>
            <div id="mirrorGrid" class="grid"></div>
        </div>
    </div>
    <div id="hostAdd" class="change hidden">
        <div class="line">
        	<div id="hostNav">
            	<div id="">
            		<i class="icon-arrow-left" style="font-size: 20px;color: #0099D7; cursor: pointer;"
               			ms-click="backList()"></i>
            			&nbsp;<span class="text-large">云主机订购</span>
        		</div>
            	<hr>
            </div>
            <div ms-include-src="orderdg"></div>
        </div>
    </div>
</div>
