<div ms-controller="consoleDisk">
    <div id="diskList" class="show">
        <div class="line">
            <div class="xs12 margin-small-bottom top-height">
                <div class="xs8">
                    <div class="float-left text-large">{{title}}</div>
                    <div class="margin-small-left float-left title">
                        <select class="  radius-none " ms-duplex="regionValue" style="width:100px" name="areaBBig" id="areaBBig">
                            <option ms-repeat-el="regionData" ms-value='el.resTopologySid'>{{el.resTopologyName}}</option>
                        </select>
                        <select class="  radius-none " ms-duplex="zoneValue" style="width:200px" name="areaBSmall" id="areaBSmall">
                            <option ms-repeat-el="zoneData" ms-value='el.resTopologySid'>{{el.resTopologyName}}</option>
                        </select>
                    </div>
                </div>
                <div class="xs4">
                    <button class="button bg-blue float-right radius-none" type="button" ms-click="add()">创建云硬盘</button>
                </div>
            </div>
            <hr>
            <div id="diskGrid" class="grid"></div>
        </div>
    </div>

    <div id="diskAdd" class="change hidden">
        <div class="line">
        	<div id="hostNav">
            	<div>
            	<i class="icon-arrow-left" style="font-size: 20px;color: #0099D7; cursor: pointer;"
              	 ms-click="backList()"></i>
            	&nbsp;<span class="text-large">云硬盘订购</span>
        		</div>
            	<hr>
            	</div>
            <div ms-include-src="orderblockStorage"></div>
        </div>
    </div>
 
    <!-- 云硬盘详情 -->
    <div id="diskDetail" class="change hidden">
        <div class="line">
            <div class="xs12 margin-small-bottom top-height">
                <div class="xs6">
                    <div class="float-left text-large">
                        <i class="icon-arrow-left text-blue" ms-click="backList()"></i>
                        {{dataDetail.basic.diskName}}
                    </div>
                </div>
                <div class="xs6">
                    <button class="button bg-blue float-right radius-none" type="button" ms-click="refresh()">
                        <span class="icon-refresh"></span>
                        刷新
                    </button>
                </div>
            </div>
            <hr>
            <div class="xs12">
                <div class="xs5">
                    <div class="xs12 margin-bottom padding-right">
                        <div class="xs12 alert radius-none padding-small height">
                            基本信息
                            <!--<button class="button button-little radius-none float-right margin-left">查询消费明细</button>-->
                            <!--<button class="button button-little radius-none float-right">修改磁盘描述</button>-->
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">磁盘ID：</span> {{dataDetail.basic.instanceId}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">磁盘种类：</span> {{dataDetail.basic.diskType}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">磁盘状态：</span> {{dataDetail.basic.diskStatus}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">磁盘名称：</span> {{dataDetail.basic.diskName}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">磁盘容量：</span> {{dataDetail.basic.diskCapacity}}
                        </div>
                        <!--<div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">-->
                            <!--<span class="text-gray text-small">磁盘属性：</span> {{dataDetail.basic.diskAttr}}-->
                        <!--</div>-->
                        <!--<div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">-->
                            <!--<span class="text-gray text-small">地域：</span> {{dataDetail.basic.diskRegion}}-->
                        <!--</div>-->
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">所在可用区：</span> {{dataDetail.basic.diskRegion}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">创建自：</span> {{dataDetail.basic.diskCreate}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">创建时间：</span> {{dataDetail.basic.diskCreateDate}}
                        </div>
                        <!--<div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">-->
                            <!--<span class="text-gray text-small">本磁盘快照：</span> {{dataDetail.basic.diskSnapshot}}-->
                        <!--</div>-->
                        <!--<div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">-->
                            <!--<span class="text-gray text-small">快照策略：</span> {{dataDetail.basic.diskSnapshotStrategy}}-->
                        <!--</div>-->
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">付费类型：</span> {{dataDetail.basic.diskPayType}}
                        </div>
                        <!--<div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">-->
                            <!--<span class="text-gray text-small">磁盘描述：</span> {{dataDetail.basic.diskDes}}-->
                        <!--</div>-->
                    </div>
                    <div class="xs12 padding-bottom padding-right">
                        <div class="xs12 alert radius-none padding-small height">
                            磁盘挂载信息
                            <button class="button button-little radius-none float-right">修改属性</button>
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">所挂载的实例：</span> {{dataDetail.mount.example}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">挂载点：</span> {{dataDetail.mount.point}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">可挂载：</span> {{dataDetail.mount.can}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">磁盘是否随实例释放：</span> {{dataDetail.mount.isRelease}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">自动快照是否随磁盘释放：</span> {{dataDetail.mount.isSnpashotRelease}}
                        </div>
                    </div>
                </div>
                <div class="xs7">
                    <div class="xs12 alert radius-none padding-small height">
                        监控信息
                    </div>
                    <div class="xs12 padding-small border-left-right border-bottom radius-none">
                        <div class="xs12 padding-bottom">
                            <div class="xs12" id="mainCharts" style="height:250px;"></div>
                        </div>
                        <div class="xs12 padding-bottom">
                            <div class="xs12" id="mainChartstwo" style="height:250px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
