<div class="line" ms-controller="hostDetails">
    <div class="xs12 padding-bottom">
        <div class="xs8">
            <div class="float-left text-large">主机IP</div>
            <div class="margin-small-left float-left title">
            </div>
        </div>
        <div class="xs4">
            <button class="button float-right radius-none" type="button" >刷新</button>
            <button class="button float-right radius-none" type="button" >停止</button>
            <button class="button float-right radius-none" type="button" >重启</button>
            <button class="button float-right radius-none" type="button" >释放设置</button>
        </div>
    </div>
    <hr>
    <div class="xs12">
        <table class="xs4 border">
            <tr class="bg-green-light" style="height: 30px">
                <td valign="middle">基本信息</td>
                <td valign="middle" class="text-right">
                    <button class="button button-little bg-green radius-none" type="button">
                        重置密码
                    </button>
                    <div class="button-group">
                        <button type="button" class="button button-little bg-green radius-none dropdown-toggle">
                            更多 <span class="downward"></span>
                        </button>
                        <ul class="drop-menu">
                            <li><a href="#">动画</a></li>
                            <li><a href="#">模块</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">ID:</td>
                <td valign="middle">asdsd</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">所在可用区:</td>
                <td valign="middle">重庆可用区A</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">描述:</td>
                <td valign="middle">asdadacsac</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">地域:</td>
                <td valign="middle">重庆</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">实例规格:</td>
                <td valign="middle">重庆可用区A</td>
            </tr>
            <tr style="height: 30px">
                <td valign="middle" class="text-gray">实例规格族:</td>
                <td valign="middle">重庆可用区A</td>
            </tr>
        </table>
    </div>

    <div class="xs12">
        <table class="xs4 border">
            <tr class="bg-green-light" style="height: 30px">
                <td valign="middle">配置信息</td>
                <td valign="middle" class="text-right">
                    <button class="button button-little bg-green radius-none" type="button">
                        重新初始化磁盘
                    </button>
                    <div class="button-group">
                        <button type="button" class="button button-little bg-green radius-none dropdown-toggle">
                            更多 <span class="downward"></span>
                        </button>
                        <ul class="drop-menu">
                            <li><a href="#">动画</a></li>
                            <li><a href="#">模块</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">CPU:</td>
                <td valign="middle">asdsd</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">内存:</td>
                <td valign="middle">重庆可用区A</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">操作系统:</td>
                <td valign="middle">asdadacsac</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">弹性公网IP:</td>
                <td valign="middle">重庆</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">私有IP:</td>
                <td valign="middle">重庆可用区A</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">当前使用宽带:</td>
                <td valign="middle">重庆可用区A</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">宽带计费方式:</td>
                <td valign="middle">重庆可用区A</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">专用网络:</td>
                <td valign="middle">重庆可用区A</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">虚拟机交换:</td>
                <td valign="middle">重庆可用区A</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">NatIP:</td>
                <td valign="middle">重庆可用区A</td>
            </tr>
        </table>
    </div>
    <div class="xs12">
        <table class="xs4 border">
            <tr class="bg-green-light" style="height: 30px">
                <td valign="middle">付费信息</td>
                <td valign="middle" class="text-right">
                    <button class="button button-little bg-green radius-none" type="button">
                        购买相同配置
                    </button>
                    <div class="button-group">
                        <button type="button" class="button button-little bg-green radius-none dropdown-toggle">
                            更多 <span class="downward"></span>
                        </button>
                        <ul class="drop-menu">
                            <li><a href="#">动画</a></li>
                            <li><a href="#">模块</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">付费方式:</td>
                <td valign="middle">按量</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">创建时间:</td>
                <td valign="middle">2016-01-19 23:33:00</td>
            </tr>
            <tr class="border" style="height: 30px">
                <td valign="middle" class="text-gray">自动释放时间:</td>
                <td valign="middle">2016-01-19 23:33:00</td>
            </tr>
            <br>
        </table>
    </div>
</div>
