<script type="text/javascript">
    require(["app-modules/console/loadBalance/vmodel/add-member",
             'app-modules/console/loadBalance/services/resource-pool'],function(addMember,resourcePoolService){
        addMember.initValidator();
        addMember.resourcePoolData = resourcePoolService.getGridDate();
        for(var i = 0;i < addMember.resourcePoolData.length;i++){
            $("#resourcePool").append(
                    '<option value="'+addMember.resourcePoolData[i].loadBalanceName+'">'+addMember.resourcePoolData[i].loadBalanceName+'</option>'
            );
        };
        addMember.data = avalon.vmodels.member.addData
        avalon.scan();
    });
</script>
<form id="addMemberForm">
    <table border="0" class="custom-table" style="font-size:12px;" ms-controller="addMember">
        <tr>
            <td class="required">资源池：</td>
            <td>
                <select id="resourcePool" name="resourcePool" ms-duplex="data['resourcePool']" class="select radius-none" style="width:180px">
                    <option selected="selected" value="">--请选择一个资源池--</option>
                </select>
                <p class="description text-gray" style="width: 180px">请选择一个资源池</p>
            </td>
        </tr>
        <tr>
            <td>成员来源：</td>
            <td>
                <select id="memberSource" name="memberSource" class="select radius-none" ms-click="memberSourceSwitch(this)" style="width:180px">
                    <option selected="selected" value="01">从可用实例选择</option>
                    <option value="02">指定成员的IP地址</option>
                </select>
            </td>
        </tr>
        <tr id="memberTr">
            <td class="required">成员：</td>
            <td>
                <select id="member" name="member" class="select radius-none" ms-duplex="data['member']" style="width:180px;height: 60px" multiple="multiple">
                    <option selected="selected" value="vm-test1">vm-test1</option>
                    <option value="vm-test2">vm-test2</option>
                    <option value="vm-test3">vm-test3</option>
                </select>
                <p class="description text-gray" style="width: 180px">从资源池选择成员</p>
            </td>
        </tr>
        <tr class="hidden">
            <td class="required">成员地址：</td>
            <td>
                <input id="memberAddress" ms-duplex="data['memberAddress']" class="input text-small radius-none" type="text" name="memberAddress" style="width: 180px">
                <p class="description text-gray" style="width: 180px">指定成员的IP地址</p>
            </td>
        </tr>
        <tr>
            <td>重量：</td>
            <td>
                <input id="weight" ms-duplex="data['weight']" class="input text-small radius-none" type="number" name="weight" style="width: 180px">
                <p class="description text-gray" style="width: 180px">与其他部分相对比该池的部分成员的请求服务.相同的权重将适用于所有选定的成员，可以稍后进行修改。权重必须在范围1到256。</p>
            </td>
        </tr>
        <tr>
            <td class="required">协议端口：</td>
            <td>
                <input id="agreementPort" ms-duplex="data['agreementPort']" class="input text-small radius-none" type="number" name="agreementPort" style="width: 180px">
                <p class="description text-gray" style="width: 180px">请输入一个1到65535的整数.同一端口将用于所有选定的成员，可以稍后进行修改.</p>
            </td>
        </tr>
    </table>
</form>