<script type="text/javascript">
    require(["app-modules/console/loadBalance/vmodel/add-VIP"],function(addVIP){
        addVIP.initValidator();
        avalon.vmodels.addVIP.data = avalon.vmodels.loadBalanceMgt.addVIPData;
        avalon.scan();
    });
</script>
<form id="addVIPForm">
    <table border="0" class="custom-table" style="font-size:12px;" ms-controller="addVIP">
        <tr>
            <td class="required">名称：</td>
            <td>
                <input id="name" ms-duplex="data['name']" class="input text-small radius-none" type="text " name="name" style="width: 180px">
                <p class="description text-gray" style="width: 180px">为这个资源池创建的VIP指定名称,不能为空，最长为32个字符</p>
            </td>
        </tr>
        <tr>
            <td>描述：</td>
            <td>
                <!--<input id="describe" ms-duplex="data['describe']" class="input text-small radius-none" type="text " name="describe">-->
                <textarea rows="2" class="input text-small radius-none" name="describe" ms-duplex="data['describe']" style="width: 180px"></textarea>
                <p class="description text-gray" style="width: 180px">指定描述</p>
            </td>
        </tr>
        <tr>
            <td>VIP子网：</td>
            <td>
                <select id="VIPSubnet" name="VIPSubnet" ms-duplex="data['VIPSubnet']" class="select radius-none" style="width:180px">
                    <option selected="selected" value="">--请选择子网--</option>
                    <option value="01">ipv-public-subnet(2001:db8::/64)</option>
                    <option value="02">public-subnet(192.168.9.0/24)</option>
                    <option value="03">vpc-network2-sub01(192.168.8.0/24)</option>
                    <option value="04">vpc-network1-sub01(10.0.0.0/24)</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>IP地址：</td>
            <td>
                <input id="IPAddress" ms-duplex="data['IPAddress']" class="input text-small radius-none" type="text " name="IPAddress" style="width: 180px">
                <p class="description text-gray" style="width: 180px">指定IP地址</p>
            </td>
        </tr>
        <tr>
            <td class="required">协议端口号：</td>
            <td>
                <input id="portNumber" ms-duplex="data['portNumber']" class="input text-small radius-none" type="number" name="portNumber" style="width: 180px">
                <p class="description text-gray" style="width: 180px">输入大于1小于65535的整数,不能为空</p>
            </td>
        </tr>
        <tr>
            <td class="required">协议：</td>
            <td>
                <select id="agreement" name="agreement" ms-duplex="data['agreement']" class="select radius-none" style="width:180px">
                    <option selected="selected" value="">--请选择一个协议--</option>
                    <option value="HTTP">HTTP</option>
                    <option value="HTTPS">HTTPS</option>
                    <option value="TCP">TCP</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>会话持久化：</td>
            <td>
                <select id="sessionPersistence" name="LBMode" ms-duplex="data['sessionPersistence']" class="select radius-none" ms-change="sessionPersistenceSwitch(this)" style="width:180px">
                    <option selected="selected" value="">无会话持久化</option>
                    <option value="SOURCE_IP">SOURCE_IP</option>
                    <option value="HTTP_COOKIE">HTTP_COOKIE</option>
                    <option value="APP_COOKIE">APP_COOKIE</option>
                </select>
            </td>
        </tr>
        <tr class="hidden">
            <td class="required">APP_COOKIE：</td>
            <td>
                <input id="appCookie" ms-duplex="data['appCookie']" class="input text-small radius-none" type="text" name="appCookie" style="width: 180px">
                <p class="description text-gray" style="width: 180px">为使用APP_COOKIE持久化需要指定cookie名称（需要使用APP_COOKIE持久化；忽略其他）</p>
            </td>
        </tr>
        <tr>
            <td>连接限制：</td>
            <td>
                <input id="connectionLimit" ms-duplex="data['connectionLimit']" class="input text-small radius-none" type="number" name="connectionLimit" style="width: 180px">
                <p class="description text-gray" style="width: 180px">VIP的最大允许连接数</p>
            </td>
        </tr>
    </table>
</form>