<script type="text/javascript">
    require(["app-modules/console/loadBalance/vmodel/add-monitor",],function(addMonitor){
        addMonitor.initValidator();
        avalon.vmodels.addMonitor.data = avalon.vmodels.monitor.addData;
        avalon.scan();
    });
</script>
<form id="addMonitorForm">
    <table border="0" class="custom-table" style="font-size:12px;" ms-controller="addMonitor">
        <tr>
            <td class="required">类型：</td>
            <td>
                <select id="monitorType" name="monitorType" ms-duplex="data['monitorType']" ms-click="monitorTypeSwitch(this)" class="select radius-none" style="width:180px">
                    <option selected="selected" value="PING">PING</option>
                    <option value="TCP">TCP</option>
                    <option value="HTTP">HTTP</option>
                    <option value="HTTPS">HTTPS</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="required">延迟：</td>
            <td>
                <input id="delay" ms-duplex="data['delay']" class="input text-small radius-none" type="number" name="delay" style="width: 180px">
                <p class="description text-gray" style="width: 180px">两次常规成员检查之间的最小时间间隔，以秒为单位；必须大于或等于超时时间.</p>
            </td>
        </tr>
        <tr>
            <td class="required">超时：</td>
            <td>
                <input id="overtime" ms-duplex="data['overtime']" class="input text-small radius-none" type="number" name="overtime" style="width: 180px">
                <p class="description text-gray" style="width: 180px">监控等待回复的最长等待时间，以秒为单位；必须小于或者等于超时时间。</p>
            </td>
        </tr>
        <tr>
            <td class="required">最大重试次数(1~10)：</td>
            <td>
                <input id="maxTryTime" ms-duplex="data['maxTryTime']" class="input text-small radius-none" type="number" name="maxTryTime" style="width: 180px">
                <p class="description text-gray" style="width: 180px">在将用户状态修改为非活跃之前的最大允许失败次数。</p>
            </td>
        </tr>
        <tr class="HTTPTr hidden">
            <td>http方式：</td>
            <td>
                <select id="HTTPType" name="HTTPType" ms-duplex="data['HTTPType']" class="select radius-none" style="width:180px">
                    <option selected="selected" value="GET">GET</option>
                    <option value="POST">POST</option>
                </select>
                <p class="description text-gray" style="width: 180px">HTTP方法被用于检查一个成员的健康状态</p>
            </td>
        </tr>
        <tr class="HTTPTr hidden">
            <td>URL：</td>
            <td>
                <input id="URL" ms-duplex="data['URL']" class="input text-small radius-none" type="text" name="URL" style="width: 180px">
            </td>
        </tr>
        <tr class="HTTPTr hidden">
            <td>期望http状态代码：</td>
            <td>
                <input id="HTTPTypeStatus" ms-duplex="data['HTTPTypeStatus']" class="input text-small radius-none" type="number" name="HTTPTypeStatus" value="200" style="width: 180px">
                <p class="description text-gray" style="width: 180px">预期的代码可以是一个单独的值(比如200)，一个值的列表(比如 200，202)，或值的范围(比如 200-204)</p>
            </td>
        </tr>
    </table>
</form>