<div ms-controller="monitor">
    <div id="monitor">
        <div class="line">
            <div class="xs12 margin-small-bottom top-height">
                <div class="xs8">
                    <div class="float-left text-large">{{title}}</div>
                </div>
                <div class="xs4">
                    <button class="button bg-blue float-right radius-none" type="button" ms-click="add()">新增监控</button>
                </div>
            </div>
            <hr>
            <div id="monitorGrid" class="grid"></div>
        </div>
    </div>

</div>