<div ms-controller="loadBalanceMgt">
    <div id="loadbalanceLsit" class="show">
        <div class="line">
            <div class="xs12 margin-small-bottom top-height">
                <div class="xs8">
                    <div class="float-left text-large">{{title}}</div>
                    <div class="margin-small-left float-left title">
                        <select class="select" >
                            <option>华南地区（广东）</option>
                            <option>华南地区（广西）</option>
                            <option>华南地区（海南）</option>
                            <option>华中地区（湖北）</option>
                            <option>华中地区（湖南）</option>
                        </select>
                    </div>
                </div>
                <div class="xs4">
                    <button class="button bg-blue float-right radius-none" type="button" ms-click="add()">新增资源池</button>
                </div>
            </div>
            <hr>
            <div id="loadbalanceGrid" class="grid"></div>
        </div>
    </div>
    <!-- 云硬盘详情 -->
    <div id="loadbalanceDetail" class="change hidden">
        <div class="line">
            <div class="xs12 margin-small-bottom top-height">
                <div class="xs6">
                    <div class="float-left text-large">
                        <i class="icon-arrow-left text-blue" ms-click="backList()"></i>
                        {{dataDetail.loadBalanceName}}
                    </div>
                </div>
            </div>
            <hr>
            <div class="xs12">
                <div class="xs5">
                    <div class="xs12 margin-bottom padding-right">
                        <div class="xs12 alert radius-none padding-small height">
                            基本信息
                            <button class="button button-little radius-none float-right margin-left" ms-click="more">更多</button>
                            <button class="button button-little radius-none float-right" ms-click="resetPassword">重置密码</button>
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">ID：</span> {{modifyData.loadBalanceID}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">所在可用区：</span> {{dataDetail.availableArea}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">名称：</span> {{dataDetail.loadBalanceName}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">描述：</span> {{dataDetail.describe}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">项目ID：</span> {{dataDetail.projectID}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">VIP(虚拟IP)：</span> {{dataDetail.VIP}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">提供者：</span> {{dataDetail.provider}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">子网：</span> {{dataDetail.subnet}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">协议：</span> {{dataDetail.agreement}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">负载均衡方式：</span> {{dataDetail.LBMode}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">成员：</span> {{dataDetail.member}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">状态：</span> {{dataDetail.status}}
                        </div>
                        <!--<div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">-->
                            <!--<span class="text-gray text-small">吞吐量：</span> {{dataDetail.basic.diskCapacity}}-->
                        <!--</div>-->
                    </div>
                    <div class="xs12 padding-bottom padding-right">
                        <div class="xs12 alert radius-none padding-small height">
                            付费信息
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">付费方式：</span> {{dataDetail.payMode}}
                        </div>
                        <div class="xs12 padding-small border-left-right border-bottom radius-none ellipsiss text-small">
                            <span class="text-gray text-small">创建时间：</span> {{dataDetail.createDt}}
                        </div>
                    </div>
                </div>
                <div class="xs7">
                    <div class="xs12 alert radius-none padding-small height">
                        监控信息
                    </div>
                    <div class="xs12 padding-small border-left-right border-bottom radius-none">
                        <div class="xs12 padding-bottom">
                            <div class="xs12" id="mainCharts" style="height:200px;"></div>
                        </div>
                        <div class="xs12 padding-bottom">
                            <div class="xs12" id="mainChartstwo" style="height:200px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>