<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.h3c.idcloud.core.persist.user.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.h3c.idcloud.core.pojo.dto.user.UserRole" >
    <result column="USER_SID" property="userSid" jdbcType="DECIMAL" />
    <result column="ROLE_SID" property="roleSid" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.userSid != null" >
         and USER_SID = #{condition.userSid}
      </if>
      <if test="condition.roleSid != null" >
         and ROLE_SID = #{condition.roleSid}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
	USER_SID, ROLE_SID
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_M_USER_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByParams" parameterType="com.h3c.idcloud.infrastructure.common.pojo.Criteria" >
    delete from SYS_M_USER_ROLE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.h3c.idcloud.core.pojo.dto.user.UserRole" >
    insert into sys_m_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userSid != null" >
        USER_SID,
      </if>
      <if test="roleSid != null" >
        ROLE_SID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userSid != null" >
        #{userSid},
      </if>
      <if test="roleSid != null" >
        #{roleSid},
      </if>
    </trim>
  </insert>
</mapper>